<% provide(:title, "Update Attendance List") %>
<div class="eventattendance_create_edit_background">
  <div class="eventattendance_inner_container">
    <div class="header">Update Event Attendance List</div>
    <div class="content_list">
      <div class="event_title">Event: <%= link_to @event.title, event_path(@event) %> 
        <span class="evt_link"><%= link_to "Attendants", attendants_event_path(@event) %></span> 
        <% if current_user.admin_pa_management_group %>
          <span class="evt_link"><%= link_to "Dashboard", stats_users_user_path(current_user), target: "_blank" %></span>
        <% end %>
      </div>
      <%= render 'form' %>
    </div> 
  </div>
</div>
