<% provide(:title, "Create Attendance") %>
<div class="eventattendance_create_edit_background">
  <div class="eventattendance_inner_container">
    <div class="header">Create Event Attendance List</div>
    <div class="content_list">
      <div class="event_title">Event: <%= link_to @event.title, event_path(@event) %></div>
      <%= render 'form' %>
    </div> 
  </div>
</div>