<% provide(:title, "Cancellations and Refunds") %>
<div>
  <% if signed_in? %>
    <%= render 'shared/header' %>
  <% else %>
    <%= render 'shared/header_unsigned' %>
  <% end %>
  <%= render 'shared/content_cancellationsrefundpg' %>
  <%= render 'shared/footer' %>
</div>