<% provide(:title, "Notify Me") %>
<div>
  <div>
    <div class="desktop_view show-for-medium-up">
      <%# render 'shared/header_landingpg' %>
      <%= render 'shared/content_landingpg' %>
      <%# render 'shared/footer_landingpg' %>
    </div>
    <!-- <div class="mobile_view show-for-small-only"><%# render 'shared/responsive_content_landingpg' %></div> -->
  </div>
</div>
