<div>

  <div class="medium-12 columns">
    <div>
      <!-- we'll configure this to compose new conversations later -->
      <%= link_to "Compose", "#", class: "btn btn-success" %>
    </div>
  </div>

  <div class="medium-1 columns">
    <div>
      <%= render 'messages/folders' %>
    </div>
  </div>

  <div class="medium-11 columns">
    <div>
      <!-- individual conversations will show here -->
    </div>
  </div>

</div>


