<% provide(:title, "Compose Messages") %>
<div>
    <%= render 'shared/header' %>
    <%= render partial: 'messages/folder_view', locals: { is_conversation: true } %>
    <%= render 'shared/footer' %>
</div>





