<div class= "medium-12 columns user_general_settings_section user_main_statsusers_page">

  <!-- left_column_section -->
  <div class="medium-2 columns left_column_section">
    <%= render 'shared/content_user_adminpanel_left_column' %>
  </div>
  <!-- left_column_section -->


  <!-- right_column_section -->
  <div class="medium-10 columns right_column_section">
    <div class="right_inner_section">
      <!-- content -->
      <div class="user_general_settings_inner_section user_statsusers_section_main_content">
        <h1>reports</h1>
        <ul>
          <li>1.] total reports</li>
          <li>2.] total reports [users]</li>
          <li>3.] total reports [social]</li>
          <li>4.] total reports [events]</li>
          
          <li>1.] total reports [Spam or scam]</li>
          <li>2.] total reports [Offensive language]</li>
          <li>3.] total reports [Poor spelling or grammar]</li>
          <li>4.] total reports [Incorrect information]</li>
          <li>5.] total reports [Discriminatory]</li>
          <li>6.] </li>
        </ul>
      </div>
      <!-- content -->
    </div>
  </div>
  <!-- right_column_section -->
</div>

