<div class= "medium-12 columns user_general_settings_section user_main_statsusers_page">

  <!-- left_column_section -->
  <div class="medium-2 columns left_column_section">
    <%= render 'shared/content_user_adminpanel_left_column' %>
  </div>
  <!-- left_column_section -->


  <!-- right_column_section -->
  <div class="medium-10 columns right_column_section">
    <div class="right_inner_section">
      <!-- content -->
      <div class="user_general_settings_inner_section user_statsusers_section_main_content">
        <h1>stats users</h1>
        <ul>
          <li>1.] all users / [total count male and female below]</li>
          <li>2.] total un-subscribed users / [total amt below]</li>
          <li>3.] total subscribed users / [total amt below]</li>
          <li>4.] total subscribed users [male] / [total amt below]</li>
          <li>5.] total subscribed users [female] / [total amt below]</li>
          <li>6.] total users with free access</li>
          <li>0.] total client group (make this a sub-tab)</li>
          <li>0.] total client guest group (make this a sub-tab)</li>
          <li>0.] total rated users (make this a sub-tab)</li>
          <li>0.] total un-rated users (make this a sub-tab)</li>
        </ul>

        <h1>groups</h1>
        <ul>
          <li>1.] total roles</li>
          <li>2.] total groups</li>
          <li>3.] total users</li>
          <li>4.] admins</li>
          <li>5.] primary admins</li>
          <li>6.] client</li>

          <li>1.] management group</li>
          <li>2.] adminstration group</li>
          <li>3.] event management group</li>
          <li>4.] client group</li>
          <li>5.] client guest group</li>
          <li>6.] dummy group</li>
        </ul>
      </div>
      <!-- content -->
    </div>
  </div>
  <!-- right_column_section -->
</div>

