<div class="user_dashboard_admin_groups">
  <!-- upper_data_content -->
  <div class="medium-12 columns upper_data_content" style="margin-bottom:0px;">
    <div class="medium-2 columns left_data responsive_data stats_tab_01">
      <div class="data_content">
        <div class="header"> total users</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-users" aria-hidden="true"></i></span><span>0</span></div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_02">
      <div class="data_content">
        <div class="header"> total roles</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-user-plus" aria-hidden="true"></i></span>
          <span>0</span>
        </div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_03">
      <div class="data_content">
        <div class="header"> total groups</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span><span>0</span></div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_04">
      <div class="data_content">
        <div class="header"> admins</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span><span>0</span></div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_05">
      <div class="data_content">
        <div class="header"> primary admins</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>
          <span>0</span>
        </div>
      </div>
    </div>
    <div class="medium-2 columns right_data responsive_data stats_tab_06">
      <div class="data_content">
        <div class="header"> client</div>
        <div class="header_data">
          <span class="header_icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span><span>0</span>
          <div class="minor_info">£00.0k/mth</div>
        </div>
      </div>
    </div>
  </div>

  <div class="medium-12 columns upper_data_content">
    <div class="medium-2 columns left_data responsive_data stats_tab_07">
      <div class="data_content">
        <div class="header"> management group</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-users" aria-hidden="true"></i></span><span>0</span></div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_08">
      <div class="data_content">
        <div class="header"> adminstration group</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-users" aria-hidden="true"></i></span>
          <span>0</span>
        </div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_09">
      <div class="data_content">
        <div class="header"> event management group</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-users" aria-hidden="true"></i></span><span>0</span></div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_10">
      <div class="data_content">
        <div class="header"> client group</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-users" aria-hidden="true"></i></span><span>0</span></div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_11">
      <div class="data_content">
        <div class="header"> client guest group</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-rss" aria-hidden="true"></i></span>
          <span>0</span>
        </div>
      </div>
    </div>
    <div class="medium-2 columns right_data responsive_data stats_tab_12">
      <div class="data_content">
        <div class="header"> dummy group</div>
        <div class="header_data">
          <span class="header_icon"><i class="fa fa-rss" aria-hidden="true"></i></span><span>0</span>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>

  <!-- table_data_content -->
  <div class="medium-12 columns lower_data_content stats_tab_01_content">
    <div class="medium-12 columns lower_data_inner_content">
      1.] Total Users
    </div>
  </div>

  <div class="medium-12 columns lower_data_content stats_tab_02_content hide">
    <div class="medium-12 columns lower_data_inner_content">
      2.] Total Roles
    </div>
  </div>

  <div class="medium-12 columns lower_data_content stats_tab_03_content hide">
    <div class="medium-12 columns lower_data_inner_content">
      3.] Total Groups
    </div>
  </div>

  <div class="medium-12 columns lower_data_content stats_tab_04_content hide">
    <div class="medium-12 columns lower_data_inner_content">
      4.] Admins
    </div>
  </div>

  <div class="medium-12 columns lower_data_content stats_tab_05_content hide">
    <div class="medium-12 columns lower_data_inner_content">
      5.] Primary Admins
    </div>
  </div>

   <div class="medium-12 columns lower_data_content stats_tab_06_content hide">
    <div class="medium-12 columns lower_data_inner_content">
      6.] Client
    </div>
  </div>

  <div class="medium-12 columns lower_data_content stats_tab_07_content hide">
    <div class="medium-12 columns lower_data_inner_content">
      7.] Management Group
    </div>
  </div>

  <div class="medium-12 columns lower_data_content stats_tab_08_content hide">
    <div class="medium-12 columns lower_data_inner_content">
      8.] Adminstration Group
    </div>
  </div>

  <div class="medium-12 columns lower_data_content stats_tab_09_content hide">
    <div class="medium-12 columns lower_data_inner_content">
      9.] Event Management Group
    </div>
  </div>

  <div class="medium-12 columns lower_data_content stats_tab_10_content hide">
    <div class="medium-12 columns lower_data_inner_content">
      10.] Client Group
    </div>
  </div>

  <div class="medium-12 columns lower_data_content stats_tab_11_content hide">
    <div class="medium-12 columns lower_data_inner_content">
      11.] Client Guest Group
    </div>
  </div>

  <div class="medium-12 columns lower_data_content stats_tab_12_content hide">
    <div class="medium-12 columns lower_data_inner_content">
      12.] Dummy Group
    </div>
  </div>

  <div class="clear"></div>
</div>

