<div class= "medium-12 columns user_general_settings_section">

  <!-- left_column_section -->
  <div class="medium-2 columns left_column_section">
    <%= render 'shared/content_user_left_column' %>
  </div>
  <!-- left_column_section -->


  <!-- right_column_section -->
  <div class="medium-10 columns right_column_section">
    <div class="right_inner_section">
      <!-- content -->
      <div class="user_acoount_section_main_content">
        <div class="tree_link">
          <span><i class="fa fa-user" aria-hidden="true"></i> <%= link_to "#{current_user.firstname}", user_path(current_user)%></span> <span class="fwd_sign">></span> <span>account</span>
        </div>
        <div class="user_account_section">
          <div class="paymt_cover no_subscription_event_paymts">no_subscription_event_paymts</div>
          <div class="paymt_cover subscription_paymts">subscription_paymts</div>
          <div class="paymt_cover event_paymts">event_paymts</div>
        </div>
      </div>
      <!-- content -->
    </div>
  </div>
  <!-- right_column_section -->
</div>
