<div class="connectmatches_section">
  <div class="medium-12 columns connectmatches_inner_section">

    <!-- content -->
    <div class="medium-12 columns member_content_section connectmatches_section">
      <div class="medium-12 columns content_container">
        <div class="content_details">
            
          <!-- members matches -->
          <div>
            <div>individual user listed matches</div>
            <div><%= @user.firstname %></div>
          </div>
          <!-- members matches -->

        </div>
      </div>
    </div>
    <!-- content -->

  </div>
</div>


