<div class="members_section">
  <div class="medium-12 columns members_inner_section">

    <!-- content -->
    <div class="medium-12 columns member_content_section">
      <div class="medium-12 columns content_container">
        <div class="content_details">
            
            <!-- members matches -->

            <h1>individual user listed matches</h1>
         
            <!-- members matches -->
        </div>
      </div>
    </div>
    <!-- content -->

  </div>
</div>


