<h1>i am the dashboard for the admin</h1>
<div>
  <ul>
    <li><button><%= link_to "create speed-social", new_user_event_path(current_user) %></button></li>
    <li><button><%= link_to "create social", new_user_social_path(current_user) %></button></li>
  </ul>
</div>