
<!-- <span id="follow_form">
  <%# if current_user.followings(@user) && !current_user.active_relationships == nil %>
    <li class="btn btn_unfollow_submit"><%# render 'unfollow' %></li>
  <%# else %>
    <li class="btn btn_follow_submit"><%# render 'follow' %></li>
  <%# end %>
</span> -->
