<span class="btn_follow follow_unfollow_form_network">
  <% if current_user.following?(user) %>
    <span class="icon_user_refresh">
      <!-- render 'user_unfollow' -->
      <span class=""><%= render partial: 'user_unfollow_network', locals: { user: user } %></span>
    </span>
  <% else %>
    <span class="icon_user">
      <!-- render 'user_follow' -->
      <span class=""><%= render partial: 'user_follow_network', locals: { user: user } %></span>
    </span>
  <% end %>
</span>