<span class="btn_request">
  <% if Friendship.exists?(current_user, user) %>
    <span class="icon_user_times">
      <!-- render 'user_friend_request_cancel' -->
      unfriend
    </span>
  <% else %>
    <span class="icon_user_plus">
      <!-- render 'user_friend_request' -->

    

      <%= link_to "connect with #{user.firstname} test", friendship_path(user_id: current_user, friend_id: @user), controller: "friendships", action: "create", method: :delete, class: "btn btn_friend_request_cancel_submit" %><br/>


       

    </span>
  <% end %>
</span>

