<div class="members_section">
  <div class="medium-12 columns socials_inner_section">

    <!-- search -->
    <div class="search_container">
      <div class="search_inner_container"></div>
    </div>
    <!-- search -->

    <!-- content -->
    <div class="medium-12 columns member_content_section">
      <div class="medium-12 columns content_container">
        <div class="content_details">
            
            <!-- members -->
            <ul class="inline-list">
              <% @users.each do |user| %>


                <li class="medium-3 columns member_container">
                  <div class="member_inner_container">
                    <div class="image_section">
                      <% if user.image_url.present? %>
                        <div class="image_cover"><%= link_to(image_tag("#{user.image_url}", :alt =>  "image", :class =>"#"), user) %></div>
                      <% else %>
                        <div class="image_cover"><%= link_to(image_tag("img-profile-image-default.png", :alt =>  "image", :class =>"#"), user) %></div>
                      <% end %>
                    </div>
                    <div><%= link_to "#{user.firstname} #{user.lastname}", user %></div>
                    <div><%= user.profession %></div>
                  </div>
                </li>


              <% end %>
            <ul/>
            <div class="clear"></div>
            <!-- members -->
        </div>
      </div>
    </div>
    <!-- content -->

  </div>
</div>


