<div class= "medium-12 columns user_general_settings_section user_main_inquiries_page">

  <!-- left_column_section -->
  <div class="medium-2 columns left_column_section">
    <%= render 'shared/content_user_adminpanel_left_column' %>
  </div>
  <!-- left_column_section -->


  <!-- right_column_section -->
  <div class="medium-10 columns right_column_section">
    <div class="right_inner_section">
      <!-- content -->
      <div class="user_general_settings_inner_section user_inquiries_section_main_content">
        <h1>inquiries</h1>
        <ul>
          <li>1.] total contacts</li>
          <li>2.] total contacts [General Enquiry]</li>
          <li>3.] total contacts [Technical Support]</li>
          <li>4.] total contacts [Partnership]</li>
          <li>5.] total contacts [Compliants]</li>
          <li>6.] total contacts [Feedback]</li>

          <li>1.] total contacts [Creating a Social]</li>
          <li>2.] total contacts [Booking an Event]</li>
          <li>3.] total contacts [Advertising on Spefz]</li>
          <li>4.] total contacts [End Subscription Plan]</li>
          <li>5.] total contacts [Delete Account]</li>
          <li>6.] total contacts [I would love to work at Spefz]</li>
        </ul>

        <h1>reports</h1>
        <ul>
          <li>1.] total reports</li>
          <li>2.] total reports [users]</li>
          <li>3.] total reports [social]</li>
          <li>4.] total reports [events]</li>
          
          <li>1.] total reports [Spam or scam]</li>
          <li>2.] total reports [Offensive language]</li>
          <li>3.] total reports [Poor spelling or grammar]</li>
          <li>4.] total reports [Incorrect information]</li>
          <li>5.] total reports [Discriminatory]</li>
          <li>6.] </li>
        </ul>
      </div>
      <!-- content -->
    </div>
  </div>
  <!-- right_column_section -->
</div>

