<div class="medium-12 columns users_profile_page_section">

  <!-- upper section -->
  <div class="upper_section">
    <div class="profile_banner">
      <div class="profile_inner_banner">
        <div class="upper_profile_content">
          <div>richill artloe</div>
        </div>
      </div>
    </div>
  </div>

  <!-- lower section -->
  <div class="lower_section"></div>
</div>

<div>i am the proile page - show.html.erb</div>
<div><%= link_to "socials", events_path %></div>
<div><%= link_to "edit profile", edit_user_path(current_user) %></div>
<div><%= link_to "sign out", destroy_user_session_path, method: :delete  %></div>