<div class= "medium-12 columns user_general_settings_section user_main_socials_page">

  <!-- left_column_section -->
  <div class="medium-2 columns left_column_section">
    <%= render 'shared/content_user_adminpanel_left_column' %>
  </div>
  <!-- left_column_section -->


  <!-- right_column_section -->
  <div class="medium-10 columns right_column_section">
    <div class="right_inner_section">
      <!-- content -->
      <div class="user_general_settings_inner_section user_socials_section_main_content">
        <h1>socials</h1>
        <ul>
          <li>1.] all socials / below prev yr:# - current yr:# </li>
          <li>2.] total active social</li>
          <li>3.] total active socials [mth]</li>
          <li>4.] total closed & expired socials</li>
          <li>5.] total host [users]</li>
          <li>6.] total hosts [spefz]</li>
          <li>0.] groups - number of socials under each group 
            <ul>
              <li>eg: Family & Education | # of socials: 4 | # of users attending: 20 | Male: #12 #Female:8 | total money in: £3'000</li>
            </ul>
          </li>
        </ul>
        <button><%= link_to "create social", new_user_social_path(current_user) %></button>
      </div>
      <!-- content -->
    </div>
  </div>
  <!-- right_column_section -->
</div>

