<div class= "medium-12 columns user_general_settings_section user_main_statsevents_page">

  <!-- left_column_section -->
  <div class="medium-2 columns left_column_section">
    <%= render 'shared/content_user_adminpanel_left_column' %>
  </div>
  <!-- left_column_section -->


  <!-- right_column_section -->
  <div class="medium-10 columns right_column_section">
    <div class="right_inner_section">
      <!-- content -->
      <div class="user_general_settings_inner_section user_statsevents_section_main_content">
        <h1>stats events</h1>
        <ul>
          <li>1.] all events</li>
          <li>2.] total active events / [total amt below]</li>
          <li>3.] total active events [mth] / [total amt below]</li>
          <li>4.] total closed & expired events</li>
          <li>5.] total unbooked events (events users hve not yet booked to attend)</li>
          <li>6.] overall avg ratings of events</li>
        </ul>
        <button><%= link_to "create speed-social", new_user_event_path(current_user) %></button>
      </div>
      <!-- content -->
    </div>
  </div>
  <!-- right_column_section -->
</div>

