<% if current_user.friended?(@user) %>
  <%= link_to 'Cancel Request', friendship_path(user_id: current_user, friend_id: @user), controller: "friendships", action: "cancel", method: :delete, class: "btn btn_friend_request_cancel_submit" %>
<% else %>
  <span class="btn btn_friend_request_info"><%= link_to friendship_status(@logged_in_user, @user), "#" %></span>
<% end %>