<%# form_for(current_user.active_friendship_requests.build, remote: true) do |f| %>
  <div><%# hidden_field_tag :friended_id, @user.id %></div>
  <%# f.submit "Connect", class: "btn btn_friend_request_submit" %>
  <%# f.submit "Add as Friend", class: "btn btn_friend_request_submit" %>
<%# end %>



<%= friendship_status(@logged_in_user, @user) %><br/>
  <% unless Friendship.exists?(@logged_in_user, @user) %>
    <%= link_to "Request friendship with #{@user.firstname}", 
                { controller: "friendships", 
                  action: "create", 
                  id: @user.email }, 
                  confirm: "Send friend request to #{@user.firstname}?", method: :post %>
  <% end %>