<%= form_for(current_user.active_friendship_requests.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :friended_id, @user.id %></div>
  <%= f.submit "Connect", class: "btn btn_friend_request_submit" %>
  <%# f.submit "Add as Friend", class: "btn btn_friend_request_submit" %>
<% end %>