<% provide(:title, "#{@user.firstname} matches") %>
<div>
  <div>
    <div class "desktop_view show-for-medium-up">
        <%= render 'shared/header' %>
        <%= render 'users/content_connect_matches' %>
        <%= render 'shared/footer' %>
    </div>
  </div>
</div>