<% provide(:title, "Admin - Documentation Links") %>
<div>
  <div class>
      <%= render 'shared/header' %>
      <%= render 'users/shared/documentationlinks' %>
      <%= render 'shared/footer' %>
  </div>
</div>