<% provide(:title, "Profile") %>
<div>
  <% if current_user %>
    <div>
      <div class="desktop_view show-for-medium-up">
          <%# render 'shared/header_signedin_user' %>
          <%= render 'users/show' %>
          <%# render 'shared/footer' %>
      </div>
      <!-- <div class="mobile_view show-for-small-only"><%# render 'shared/responsive_content_userr_show_userr' %></div> -->
    </div>
  <% end %>
</div>