<% provide(:title, "Admin - Transactions") %>
<div>
  <div class>
      <%= render 'shared/header' %>
      <%= render 'users/shared/transactions' %>
      <%= render 'shared/footer' %>
  </div>
</div>