<div class="event_itinerary_section">
  <b>event details</b> 
  <p><%= @event.description %> </p>

  <b>Itinerary</b>
  <div class="event_schedule">
    <ul>
      <li>
        <span class="sub-header">Social Night</span>
        <span style="margin:0px 5px;">|</span>
        <span>
          <span class="sub-header">Age Group: </span> 
          <span>
            <% if @event.agerange? %>
              <%= @event.agerange_info %>
            <% else %>
              <%= @event.category_age.name %> 
            <% end %>
          </span>
        </span>
      </li>
      <li><i class="fa fa-caret-right" aria-hidden="true"></i> 18:30 - Registration opens</li>
      <li><i class="fa fa-caret-right" aria-hidden="true"></i> 19:00 - Match Social begins</li>
      <li><i class="fa fa-caret-right" aria-hidden="true"></i> 19:45 approx - Break for drinks and chatting</li>
      <li><i class="fa fa-caret-right" aria-hidden="true"></i> 20:00 approx - Match Social resumes</li>
      <li><i class="fa fa-caret-right" aria-hidden="true"></i> 21:00 approx - Match Social ends and post event socialising begins</li>
    </ul>
  </div>

  <div class="divider"></div>

  <b>Speed Social Events</b> 
  <p>These are our Match Speed-Social Events. This is a seated event. Women are seated and men circulate. 5 minutes given to each attendee to communicate with one another. Our Spefz team takes the initiative in introducing members to one another based on our unique match algorithm.</p>

  <b>Mix Match Events</b> 
  <p>These are our Match Networking Social Events. This is both a seated and standing event. Our Spefz team takes the initiative in introducing members to one another based on our unique match algorithm.</p>

  <div class="divider"></div>

  <b>Who?</b> 
  <p>Who will be present? Ambitious like-minded, fabulous, friendly, professional individuals like you will be present at the event. No worries if you are shy, our lovely hosts will take the liberty to introduce you and connect you with other members of similar interest and profession at the event.</p>

  <b>What?</b>
  <p>What happens on your arrival? On your arrival, we will welcome you with a glass of champagne and some lovely canapés. We will register you, then afterwards you will be given a card and a badge that will locate you to your seat.</p>

  <p>At the Speed-Social or Mix-Match Event, specifically the speed-social dating events, usually the ladies stay seated whilst the men rotate every 5 minutes when the bell is rang. If the Speed-Social or Mix-Match Event is a speed-networking event eg: entrepreneurs and investors, one side of the party rotates whilst the other side remains seated despite whether male or female. In any case, have fun, relax and note down members you are interested in connecting with after the event, using your given card. </p>

  <p>After the event, log onto your account on our website. Click on your profile image within the header, within the drop down list, click the option "My Social Cards". Once there, you will able to click and open the card of the event that you attended. Rate and connect with members of your interest. </p>

  <p>Due to our inbuilt algorithm on the platform, which ensures compatibility and mutual interests, we are so confident you'll meet like-minded people and share great times. Our events match people of all ethnicity.</p>

  <b>Where?</b>
  <p>Where are the events organized? We organize our speed-socials in the most stylish, elegant bars across the UK. We select the best venues and exclusive private rooms to host our chilled events. We hold our word to continuously choose venues that are elegant, fun and chilled to create a comfortable atmosphere in meeting, connecting and networking with new faces.  </p> 

  <p>Book your place now, network, have fun and connect with thousands of ambitious, like-minded people of your caliber. We’re passionate about connecting people via social events, so get connected & re-discover your surrounding!</p>

  <div class="divider"></div>
</div>
  





