<div class="medium-12 columns search_content_noresults_section">
  <div class="medium-12 columns content_noresults_container">
    <div class="content_noresults_details">
      <div class="noresults_main_container">
 
        <!-- search result no-info -->
        <div class= "search_noresults">
          <div class="noresult_text_header">Hi <span class="user_name"><%= current_user.firstname %></span>! You currently have not created any live Socials</div>
          <div class="noresult_listed_options">
            <div class="list"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Create a social <span class="divider">-</span> <%= link_to "create social", events_path %></div>
            <div class="list"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Explore more <%= link_to "socials", socials_path %> <span class="divider">|</span> Explore more <%= link_to "events/speed-socials", events_path %></div>
          </div>
        </div>
        <!-- search result no-info -->
      
      </div>
    </div>
  </div>
</div>