<div class="medium-12 columns static_content_main_section">
  <div class="terms_inner_container">
    <div class="terms_info_section_one">

      <!-- left section -->
      <div class="medium-3 columns left_section">
        <div class="left_inner_section">
          <div>
            <h3>Terms <i class="fa fa-chevron-down click_search_btn_1"></i> </h3>
            <div class="content container_search_details_1">
              <ul>
                <li class="active"><%= link_to "Terms of Service", terms_path %></li> 
                <li><%= link_to "Privacy Policy", terms_privacy_path %></li>
                <li><%= link_to "Cookie Policy", terms_cookie_policy_path %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end left section -->

      <!-- right section -->
      <div class="medium-9 columns right_section">
        <div class="right_inner_section">
          <div class="terms_content">
            <h1>terms of service</h1>
            <div class="terms_date">Revised: November, 2016</div>
            <div class="terms_content_info">

              <p>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the www.spefz.com website (the "Service") operated by Spefz Ltd ("us", "we", or "our").</p>

              <p>This page (together with the documents referred to or on it) informs users the terms of use in which they may make use of the website www.spefz.com together with the use of any mobile applications (together “our site”). Please read these terms of use carefully before you start to use the site. By using our site, you indicate that you accept these terms of use and that you agree to abide by them. If you do not agree to these terms of use, please refrain from using our site.</p>

              <p><b>Information about us</b> www.spefz.com is a site operated by Spefz Limited. We are registered in England and Wales under company number 10180012. We are a limited company.</p>

              <p><b>Accessing our site</b> Access to our site is permitted on a temporary basis, and We reserve the right to withdraw or amend the service We provide on our site without notice (see below). We will not be liable if for any reason our site is unavailable at any time or for any period. From time to time, We may restrict access to some parts of our site, or our entire site, to users who have registered with us. If you choose, or you are provided with, a user identification code, password or any other piece of information as part of our security procedures, you must treat such information as confidential, and you must not disclose it to any third party. We have the right to disable any user identification code or password, whether chosen by you or allocated by us, at any time, if in our opinion you have failed to comply with any of the provisions of these terms of use.
              </p>

              <p>When using our site, you must comply with the provisions of our acceptable use policy . You are responsible for making all arrangements necessary for you to have access to our site. You are also responsible for ensuring that all persons who access our site through your internet connection are aware of these terms, and that they comply with them.</p>

              <p>We may update the Agreement at any time. When we do, we will revise the "Revision date" at the top of this Agreement. It is your responsibility to review the most recent version of the Agreement frequently and remain informed about any changes to it. By continuing to use the Platform, you consent to any updates to this Agreement. This version of the Agreement supersedes all earlier versions, and comprises the entire agreement between you and spefz regarding the Platform. By accessing or using the Platform, you accept this Agreement and any modifications that we may make to this Agreement from time to time. If you do not agree to any provision of this Agreement, you should not use the Platform.</p>

              <p><b>Registration</b> To use the services available on our site, you must complete the membership registration form. You agree to: (a) provide true, accurate, current and complete information about yourself as prompted by registration form (“User Data”) and (b) maintain and promptly update the User Data to keep it accurate and current. You agree that We may use your User Data to provide services on our site for which you have expressed interest. If you provide any information that is inaccurate or not current, or We have reasonable grounds to suspect that such information is inaccurate or not current, We have the right to suspend or terminate your account and refuse any and all current or future use of our site. In consideration of your use of our site, you represent that you are of legal age to form a binding contract and are not a person barred from receiving services under the laws of any applicable jurisdiction.</p>

              <p><b>Intellectual property rights</b> We are the owner or the licensee of all intellectual property rights in our site, and in the material published on it. Those works are protected by copyright laws and treaties around the world. All such rights are reserved. You may print off one copy, and may download extracts, of any page(s) from our site for your personal reference and you may draw the attention of others within your organization to material posted on our site. You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text.</p>

              <p><b>Reliance on information posted</b> Commentary and other materials posted on our site are not intended to amount to advice on which reliance should be placed. We therefore disclaim all liability and responsibility arising from any reliance placed on such materials by any visitor to our site, or by anyone who may be informed of any of its contents.</p>

              <p><b>Our site changes regularly</b> We aim to update our site regularly, and may change the content at any time. If the need arises, We may suspend access to our site, or close it indefinitely. Any of the material on our site may be out of date at any given time, and We are under no obligation to update such material.</p>

              <p><b>Our liability</b> The material displayed on our site is provided without any guarantees, conditions or warranties as to its accuracy. To the extent permitted by law, We, other members of our group of companies and third parties connected to us hereby expressly exclude:</p>

              <p>All conditions, warranties and other terms which might otherwise be implied by statute, common law or the law of equity. Any liability for any direct, indirect or consequential loss or damage incurred by any user in connection with our site or in connection with the use, inability to use, or results of the use of our site, any websites linked to it and any materials posted on it, including, without limitation any liability for: loss of income or revenue; loss of business; loss of profits or contracts; loss of anticipated savings; loss of data; loss of goodwill; wasted management or office time; and for any other loss or damage of any kind, however arising and whether caused by tort (including negligence), breach of contract or otherwise, even if foreseeable. This does not affect our liability for death or personal injury arising from our negligence, nor our liability for fraudulent misrepresentation or misrepresentation as to a fundamental matter, nor any other liability which cannot be excluded or limited under applicable law.</p>

              <p><b>Information about you and your visits to our site</b> We process information about you in accordance with our <%= link_to "Privacy Policy", terms_privacy_path %>. By using our site, you consent to such processing and you warrant that all data provided by you is accurate.</p>

              <p><b>Membership</b> Our Platform is available to all individuals who are at least 18 years of age. Our Platform is not available to any temporarily or indefinitely suspended spefz users. By registering to use our Platform, you represent and warrant that you are at least 18 years of age. Additional eligibility requirements for a particular spefz social or group may be set by the organizer, co-organizer, or assistant organizer of the spefz social or group or creator ("Creator") or host ("Host"). We have the right, in our sole discretion, to suspend or terminate your use of our Platform and refuse any and all current or future use of all or any portion of our Platform</p>

              <p><b>Fees and Payments</b> Access to our websites and use of selected features of our Platform is free. We charge fees for various premium features and services that we offer, and we will notify you of those charges at the time that we offer you the premium features or services for a fee. We may, in our sole discretion, and by notifying you on our website, change this policy and begin charging for access to our website and other features and services, and we may, in our sole discretion, add, remove or change the features and services we offer or the fees (including the amount or the type of fees) we charge at any time. If we introduce a new service or charge a new fee, we will establish and notify you of the fees for that service at the launch of the service or start of charging a new fee. If we notify you of new fees or change the fees for an existing service, you agree to pay all fees and charges specified and all applicable taxes for your continued use of the applicable service. We are not responsible for any charges or expenses you incur resulting from being billed by us in accordance with these Terms of Service (e.g., overdrawn accounts, exceeding account limits, etc.). Members can also subscribe to smartphone applications. These applications can be provided by other service providers (such as iTunes or mobile services providers) and therefore may be subject to other payment conditions than those used and available to Members on any of our sites.</p>

              <p><b>Continuous Service Agreement </b>spefz operates a Continuous Service Agreement for our Membership Fees that users can terminate themselves at any time. This means that spefz automatically renews your membership when it’s about to expire unless user has terminated this. Continuous service rates apply to credit/debit card payments only and are applicable both if you join as a member online or we manually process your card details. All amounts are billed in UK sterling, $ or €, dependent on the country in which you reside, at the beginning of each renewal period. Your spefz membership subscription will be automatically extended for successive renewal periods of the same duration as the subscription term originally selected at the then-current membership subscription rate. To change or resign your subscription at any time, please see section titled ‘Termination’ below. If you cancel your full membership, you'll enjoy full membership benefits until the end of your then-current subscription term; your subscription won't be renewed after that term expires. However, you won't be eligible for a prorated refund of any portion of the subscription fees paid.</p>

              <p><b>Fees Assessed by Organizers or Creators or Hosts;</b> Payments to Organizers or Creators or Hosts. Some Organizers or Creators or Hosts may require or request fees for participation in a spefz social, or for attendance at spefz social or spefz events. Individual spefz group membership fees, spefz social fees or other event fees are at the discretion of each Organizer or Creator or Host, who decides whether such fees are required, the amount frequency, payment options, refund policies, and how such fees are spent. Fees assessed by Organizers or Creators or Hosts are remitted to the Organizer or Creator or Host and not to spefz. To the extent that you use Amazon Payments, PayPal or another payment mechanism (e.g., check or cash), to pay fees assessed by an Organizer or Creator or Host, you acknowledge that spefz does not control the transaction, and that you bear all risk in connection with the transaction. Refunds of any payment you make to any Organizer or Creator or Host are subject to that Organizer's or Creator's or Host's policies and applicable law. If you believe any payment to an Organizer or Creator or Host is in error, you must contact the Organizer or Creator or Host to seek resolution. You should use common sense and be careful in deciding whether to make a payment to an Organizer or Creator or Host. Organizers or Creators or Hosts have full discretion whether and how to spend money in connection with their spefz socials or events. We cannot ensure that an Organizer or Creator or Host is legitimate and truthful, that he or she will use payments as promised, or that you will be happy with how your payment is spent. Your correspondence or business dealings with, or participation in promotions of spefz events/socials, including payment and related services, and any other terms, conditions, warranties or representations associated with such dealings, are solely between you and the applicable Organizer or Creator or Host.</p>

              <p><b>Coupon Codes;</b> We may from time to time offer promotions where we may discount or waive certain spefz fees or other fee-based products or services. We may offer coupon codes as a mechanism for processing a discount or credit. Coupon codes have no cash value, are not retroactive, and unless specified, are non-transferable and expire within 30 days of date of issue. Additionally, we may ship free spefz promotional materials to an address you specify in order to promote your spefz social or group, or we may offer your spefz social or group third party sponsorship opportunities ("Sponsorships").</p>

              <p><b>Termination of Membership</b> A Member may terminate their paid subscription via the Settings area of the site. If your request for termination is received before your next payment is due, your paid membership status will last until the end of the original subscription period paid for. If your request for subscription membership termination is received before your next payment is due, but you have booked onto a social that is due to take place after the date that your paid-for subscription period is due to end, you must cancel your place at the social before terminating your paid membership subscription. spefz may terminate or suspend the membership of any Member at any time for any reason whatsoever. A Member may close their spefz account entirely at any time by visiting their Settings page, clicking on "Close my account" link and confirming this action.</p>

              <p><b>Consent to Disclosure</b> You acknowledge and agree that spefz may disclose Your Information (as defined in the Section "Your Information") if required to do so by law or in the good faith belief that such disclosure is reasonably necessary to:(a) comply with a current judicial proceeding, a court order or legal process served on us or our website, (b) enforce this Agreement, (c) respond to claims that Your Information violates the rights of third parties; (d) protect the rights, property or personal safety of spefz, its employees, users and the public; or (e) enable the transfer or sale to another entity of all or substantially all of our stock or assets in the line of business to which this Agreement relates, or upon any other corporate reorganization, subject to the promises made in this Agreement. We also may disclose any information about you to law enforcement or other government officials as we, in our sole discretion, believe necessary or appropriate, in connection with an investigation of fraud, intellectual property infringements, or other activity that is illegal or that we believe may expose us or you to legal liability.</p>


              <p>---------------------------</p>

     

           
              
            </div> 
          </div>
        </div>       
      </div>
      <!-- end right section -->
    </div>
  </div>
</div>







