<div class="medium-12 columns search_content_noresults_section">
  <div class="medium-12 columns content_noresults_container">
    <div class="content_noresults_details">
      <div class="noresults_main_container">
        <ul>
          <!-- search result no-info -->
          <div>no results</div>
          <div>

            Currently there are no search results matching the search criteria specified
Expand search:
experiment with similar other/keywords
expand your location
could find other sectors with the same role/position?
could find other candidates doing the same role/position?
          </div>
          <!-- search result no-info -->
        </ul>
      </div>
    </div>
  </div>
</div>