<div class="social_host_section">
  <div class="listed_hosts">
    <ul>
      <li>
        <span class="host"><%= link_to (image_tag("img_profile_13.png")), "#" %></span>
        <div class="host_details">
          <div>Meet your host</div>
          <div class="host_name"><%= link_to "Ian Gallaper", "#" %></div>
        </div>
      </li>
    </ul>
  </div>
</div>