<div class="medium-12 columns matches_no_preference">
  <div class="medium-12 columns matches_nopreference_container">
    <div class="matches_nopreference_details">
      <div class="nopreference_container">
 
        <!-- display no-preference info -->
        <div class= "display_nopreference">
          <div class="nopreference_text_header">You have not created your Preference</div>
          <div class="nopreference_text_sub_header">What are Match Preferences?</div>
          <div class="nopreference_listed_options">
            <div class="list"><i class="fa fa-angle-double-right" aria-hidden="true"></i> "My Matches" Section displays members that have similar interests and preferences as you</div>
            <div class="list"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Displayed members are based on your selection criteria within your preference form</div>
            <div class="list"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Through "My Matches" Section you are able to see events & socials of members of similar ineterst to you are attending</div>
            <div class="list"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Within "My Matches" Section you can connect with members and attend events & socials of members with similar interest as you</div>
            <div class="list"><i class="fa fa-angle-double-right" aria-hidden="true"></i> In order to see your matches you must complete a preference form</div>
            <div class="list"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Create my Preference <i class="fa fa-angle-double-right" aria-hidden="true"></i> <%= link_to "preference form", events_path %></div>
          </div>
        </div>
        <!-- display no-preference info -->
      
      </div>
    </div>
  </div>
</div>