<div class="users_network_section">
  <div>
    <ul class="inline-list">
    <% @user.friends.each do |friend| %>
      <li>
        <% if friend.image_url.present? %>
          <%= link_to (image_tag("#{friend.image_url}")), user_path(friend) %>
        <% else %>
          <%= link_to (image_tag("img-profile-image-default.png")), user_path(friend) %>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</div>