<div class="socials_attendees_section">
  <div>
    <ul class="inline-list">
      <% @social.attendances.each do |attendant| %>
        <li>
          <% if attendant.user.image.present? %>
            <%= link_to(cl_image_tag(attendant.user.image, :transformation=>[{:gravity=>"face", :width=>200, :height=>200, :crop=>"fill", :radius=>"max"}]), user_path(attendant.user)) %>
          <% else %>
            <%= link_to(image_tag("img-profile-image-default.png", :alt =>  "alt text", :class =>"#"), user_path(attendant.user)) %>
          <% end %>
        </li> 
      <% end %>
    </ul>
  </div>
</div>

