<div class="content_venue_imgs_container">
  <div>
    <ul>
      <a href="#" data-reveal-id="myModal-venue-image">
        <li><%= cl_image_tag(@event.imgvenue_one, :transformation=>[{:gravity=>"center", :crop=>"fill"}]) %></li>
        <li class="middle_img"><%= cl_image_tag(@event.imgvenue_two, :transformation=>[{:gravity=>"center", :crop=>"fill"}]) %></li>
        <li><%= cl_image_tag(@event.imgvenue_three, :transformation=>[{:gravity=>"center", :crop=>"fill"}]) %></li>
      </a>
      <span><%= render 'shared/modal_venue_images' %></span>
    </ul>
  </div>
</div>