<div class="users_network_section">
  <div>
    <ul class="inline-list">
    <% @user.friends.each do |friend| %>
      <li>
        <% if friend.image_url.present? %>
          <%= link_to(cl_image_tag(friend.image, :transformation=>[{:gravity=>"face", :width=>200, :height=>200, :crop=>"fill", :radius=>"max"}]), user_path(friend)) %>
        <% else %>
          <%= link_to (image_tag("img-profile-image-default.png")), user_path(friend) %>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</div>