<div class="medium-12 columns matches_preference_no_result">
  <div class="medium-12 columns content_nopreference_container">
    <div class="content_noresults_details"> 
      <div class="noresults_main_container">
 
        <!-- search result no-info -->
        <div class= "search_noresults">
          <div class="noresult_text_header">You Currently have no cards [content_matches_no_result]</div>
          <div class="noresult_text_sub_header">What are Social Cards or Event Cards?</div>
          <div class="noresult_listed_options">
            <div class="list"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Social Cards are also known as Event Cards</div>
            <div class="list"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Event Cards contains the list of members that attended the same event that you attended</div>
            <div class="list"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Event Cards are only displayed after you have attended an event</div>
            <div class="list"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Within an Event Card you can connect with members that attended the same Event as you</div>
            <div class="list"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Explore more <%= link_to "events/speed-socials", events_path %></div>
          </div>
        </div>
        <!-- search result no-info -->
      
      </div>
    </div>
  </div>
</div>