<div class="medium-12 columns matches_no_preference">
  <div class="medium-12 columns matches_nopreference_container">
    <div class="matches_nopreference_details">
      <div class="nopreference_container">
 
        <!-- display no-preference info -->
        <div class= "display_nopreference">
          <div class="nopreference_text_header">You Currently have no cards [content_matches_no_preference]</div>
          <div class="nopreference_text_sub_header">What are Social Cards or Event Cards?</div>
          <div class="nopreference_listed_options">
            <div class="list"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Social Cards are also known as Event Cards</div>
            <div class="list"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Event Cards contains the list of members that attended the same event that you attended</div>
            <div class="list"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Event Cards are only displayed after you have attended an event</div>
            <div class="list"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Within an Event Card you can connect with members that attended the same Event as you</div>
            <div class="list"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Explore more <%= link_to "events/speed-socials", events_path %></div>
          </div>
        </div>
        <!-- display no-preference info -->
      
      </div>
    </div>
  </div>
</div>