<div class="event_itinerary_section">
  <b>event details</b> 
  <p><%= @event.description %> </p>

  <b>Itinerary</b>
  <div class="event_schedule">
    <ul>
      <li class="sub-header">Speed Social Night</li>
      <li><i class="fa fa-caret-right" aria-hidden="true"></i> 18:30 - Registration opens</li>
      <li><i class="fa fa-caret-right" aria-hidden="true"></i> 19:00 - Speed Social begins</li>
      <li><i class="fa fa-caret-right" aria-hidden="true"></i> 19:45 approx - Break for drinks and chatting</li>
      <li><i class="fa fa-caret-right" aria-hidden="true"></i> 20:00 approx - Speed Social resumes</li>
      <li><i class="fa fa-caret-right" aria-hidden="true"></i> 21:00 approx - Speed Social ends and post event socialising begins</li>
    </ul>
  </div>

  <div class="divider"></div>

  <b>Who?</b> 
  <p>Single and fabulous people just like you. In fact, if you are not a social and foxy professional, this really isn’t going to work out. It’s not you, it’s me. No wait, it is you. Sorry! We run events for all ages, so check the age group listed above. As a guide, men tend be on the upper end of the bracket and ladies on the lower end. </p> 

  <b>What?</b>
  <p>When you arrive, our lovely SpeedDater host will welcome you and sign you in. Your badge will match a table in the room and usually the ladies stay seated while the men rotate about every 4 mins when the bell ringa-ding-dings. You will have a card to mark down if you are interested in your dates. It’s very handy if you have a few too many G&Ts, trust us! Just make sure you take the card home with you when you leave. </p>

  <p>And after the event? Simply log in with your username and password and click the 'matches' tab. Once you have entered your ticks you will see if you match with anyone. Remember it's FREE to send/read messages to/from all the guests you have met at the event through our secure website. All our events are guaranteed! We’re so confident you’ll meet someone you like, that if you don't your next event is free! What have you got to lose? </p>

  <b>Where?</b>
  <p>We organise our speed-socials in the most stylish, elegant bars across the UK. We select the best venues and exclusive private rooms to host our chilled events. We hold our word to continously choose venues that are elagant, fun and chilled to create a comfortable atmosphere in meeting new faces. </p> 

  <p>Book your place now, network, have fun and connect with thousands of ambitious, like-minded people of your calibre. We’re passionate about connecting people via social events, so get connected & re-discover your surrounding!</p>

  <div class="divider"></div>
</div>

  <b>What?</b>
  <p>When you arrive, our lovely SpeedDater host will welcome you and sign you in. Your badge will match a table in the room and usually the ladies stay seated while the men rotate about every 4 mins when the bell ringa-ding-dings. You will have a card to mark down if you are interested in your dates. It’s very handy if you have a few too many G&Ts, trust us! Just make sure you take the card home with you when you leave. </p>

  <p>And after the event? Simply log in with your username and password and click the 'matches' tab. Once you have entered your ticks you will see if you match with anyone. Remember it's FREE to send/read messages to/from all the guests you have met at the event through our secure website. All our events are guaranteed! We’re so confident you’ll meet someone you like, that if you don't your next event is free! What have you got to lose? </p>




