<div class="medium-12 columns errorpermission_page_section">
  <div class="error_inner_container">
    <div class="error_content_section">
      <h2 class="header">Access Restricted</h2>
      <div class="subtitle">Access restricted to authourised personnel only</div>
      <div class="error_content_inner_section">
        <h1>Oops! </h1>
        <div><i class="fa fa-ban"></i></div>
        <h2>You are not authorize to access this page</h2>
        <div class="sub_content">contact your adminstrator on permission access</div>
        <div class="error_btn">
          <div><%= link_to "View Socials", socials_path %></div>
        </div>
      </div>
    </div>
  </div>
</div>
