<div class="medium-12 columns social_content_section">
  <div class="medium-12 columns content_container">
    <div class="content_details">
      <div class="social_main_container">
        <ul>
          <!-- search result no-info -->
          <div>no results</div>
          <!-- search result no-info -->
        </ul>
      </div>
    </div>
  </div>
</div>