<div class="homepage_singedout_section landingpg_section">
  <div class="medium-12 columns banner_singedout_section">
    <div class="banner_inner_section" style="height: 650px;">
      <div class="banner_content" style="padding: 25px 15px;">
        <!-- <h1>Africa's leading job portal</h1> -->
        <h1>Africa’s most innovative job portal!</h1>
        <p>AfricanJober connects skilled individuals with leading employers in an instant,  using our direct and transparent online hiring approach.</p>
        <div class="sub_header">Whether you are a candidate or a recruiter AfricanJober makes the process of being HIRED faster, smarter & easier</div>

        <p style="margin-top:20px;" id="signup">Launching soon...</p>
        <div class="search_container" style="margin:0px; padding: 25px;">
          <div><%# render 'signups/form' %></div>
        </div>

      </div>
    </div>
  </div>

  <div class="homepage_singedout_section">
    <div class="medium-12 columns banner_homepage_singedout_stats">
      <div class="stats_container">
        <div><u>INVESTING</u> in the smartest, talented, skillful and innovative individuals. Making <u>HIRING</u> faster, smarter & easier! </div>
      </div>
    </div>
  </div>

  <div class="clear"></div>
</div>

