<div class="users_wall_section">
  <div class="comments_conatiner">
    <% if current_user %>
      <div class="comment_form_container hide"><%= render 'shared/content_comments_form' %></div>
      <% unless @social.expired_or_closed_social %>
        <div class="display_commentbox_btn">write a comment</div>
      <% end %>
    <% end %>
    <div><%= render 'shared/content_comments' %></div>
  </div>
</div>