<div class="medium-12 columns matches_preference_no_result">
  <div class="medium-12 columns content_nopreference_container">
    <div class="content_noresults_details"> 
      <div class="noresults_main_container">
 
        <!-- search result no-info -->
        <div class= "search_noresults">
          <div class="noresult_text_header">Currently there are no search results matching your preference</div>
          <div class="noresult_text_sub_header">Expand Your Preference</div>
          <div class="noresult_listed_options">
            <div class="list"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Couldn't find matches of similar interest as you? try expanding your preference</div>
            <div class="list"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Expand your search preference by braodening your selection in the preference form</div>
            <div class="list"><i class="fa fa-angle-double-right" aria-hidden="true"></i> By broadening your prefernces you will be able to see events & socials of members of similar ineterst to you are attending</div>
            <div class="list"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Expand your preference <%= link_to "edit preference form", events_path %></div>
          </div>
        </div>
        <!-- search result no-info -->
      
      </div>
    </div>
  </div>
</div>