<div class="medium-12 columns static_content_main_section">
  <div class="terms_inner_container">
    <div class="terms_info_section_one">

      <!-- left section -->
      <div class="medium-3 columns left_section">
        <div class="left_inner_section">
          <div>
            <h3>Terms <i class="fa fa-chevron-down click_search_btn_1"></i> </h3>
            <div class="content container_search_details_1">
              <ul>
                <li><%= link_to "Terms of Service", terms_path %></li> 
                <li><%= link_to "Privacy Policy", terms_privacy_path %></li>
                <li><%= link_to "Cookie Policy", terms_cookie_policy_path %></li>
                <li class="active"><%= link_to "GDPR Compliance", terms_gdpr_path %></li>

              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end left section -->

      <!-- right section -->
      <div class="medium-9 columns right_section">
        <div class="right_inner_section">
          <div class="terms_content">
            <h1>General Data Protection Regulation (GDPR)</h1>
            <div class="terms_date">Our Commitment to You and the Protection of Your Data</div>
            <div class="terms_date">Revised: March, 2018</div>
            <div class="terms_content_info">

              <p>We’re committed to partnering with Spefz customers and users to help them understand and prepare for the General Data Protection Regulation (GDPR). The GDPR is the most comprehensive EU data privacy law in decades, and will go into effect on May 25, 2018.</p>

              <p>Besides strengthening and standardizing user data privacy across the EU nations, it will require new or additional obligations on all organizations that handle EU citizens’ personal data, regardless of where the organizations themselves are located. On this page, we’ll explain our methods and plans to achieve GDPR compliance, both for ourselves and for our customers.</p>

              <p><b>Preparing for the GDPR</b> The GDPR’s updated requirements are significant and our global team is working diligently to bring Slack’s product offerings and contractual commitments in line so customers can prepare themselves before May 25, 2018. Measures to achieve this include:
                <ul>
                  <li>Continuing to invest in our security infrastructure</li>
                  <li>Making sure we have the appropriate contractual terms in place</li>
                  <li>Ensuring we can continue to support international data transfers</li>
                  <li>Product offerings that include new tools for data portability and data management</li>
                </ul>
                We’ll also continue to monitor the guidance around GDPR compliance from privacy-related regulatory bodies, and will adjust our plans accordingly if it changes. We’ll provide you with regular updates along the way so that you’re always current.
              </p>

            </div> 
          </div>
        </div>       
      </div>
      <!-- end right section -->
    </div>
  </div>
</div>







