<div class="social_host_section">
  <div class="listed_hosts">
    <ul>
      <li>
        <span class="host">
          <% if @social.user.image.present? %>
          <%= link_to(cl_image_tag(@social.user.image, :transformation=>[{:gravity=>"face", :width=>200, :height=>200, :crop=>"fill", :radius=>"max"}]), user_path(@social.user)) %>
          <% else %>
            <%= link_to(image_tag("img-profile-image-default.png", :alt =>  "alt text", :class =>"#"), user_path(@social.user)) %>
          <% end %>
        </span>
        <div class="host_details">
          <div>Meet your host</div>
          <div class="host_name"><%= link_to "#{@social.user.firstname}", "#" %></div>
        </div>
      </li>
    </ul>
  </div>
</div>