<div class="landingpage_singedout_section">
  <div class="medium-12 columns banner_singedout_section">
    <div class="banner_inner_section">

      <!-- header -->
      <div class="header_section">
        <div class="logo_section">
          <span class="logo">logo</span>
          <span class="logo_title">Spef<span>z</span></span>
        </div>
      </div>

      <!-- content -->
      <div class="banner_content">
        <!-- <h1>Africa's leading job portal</h1> -->
        <h1>Meet New People, Enjoy Your City</h1>
        <div class="sub_header">Discover the most interesting socials and events happening around you.</div>
        <p style="margin-top:20px;" id="signup">Launching soon...</p>
        <div class="signup_container" style="margin:0px; padding: 25px;">
          <div><%= render 'signups/form' %></div>
        </div>
      </div>

    </div>
  </div>
</div>

