<span class="contact_content_section">
  <div id="<%= dom_id(photo) %>_photo_content_show" class="reveal-modal album_content_modal photo_content_modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog"> 
    <h2 id="modalTitle-contact-content-info" class="header">photo description</h2>
    
      <!-- content -->
      <div class="report_content_container photo_content_container">
        <div class="photo_inner_content"><%= photo.description %></div>
      </div>
      <!-- content -->
    
    <a class="close-reveal-modal cancel_button" aria-label="Close">&#215;</a>
  </div>
</span>