<div id="myModal-users-aboutme" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <%= @user.description %> 
  <a class="close-reveal-modal cancel_button" aria-label="Close">&#215;</a>
</div>