<span class="match_info_section">
  <div id="myModal-match-info" class="reveal-modal match_info_modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div class="modal_header">we would like to hear from you. get in touch!</div>
    <h2 id="modalTitle-contactus">info@spefz.com</h2>
    <a class="close-reveal-modal cancel_button" aria-label="Close">&#215;</a>
  </div>
</span>