<div id="myModal-users-followers" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="userfollowers_inner_container">
    <div class="header">Followers [<%= @user.followers.count %>]</div>
    <div class="description">
      <ul>
        <% @user.passive_relationships.each do |user| %>
          <li>
            <span class="img_cover"><%= link_to(image_tag(user.follower.image_url, :alt =>  "image", :class =>"#", id: ""), user_path(user.follower)) %></span>
            <span class="follower_following_name"><%= link_to "#{user.follower.firstname} #{user.follower.lastname}", user_path(user.follower) %></span>
          </li>
        <% end %>
      </ul>
    </div> 
    <a class="close-reveal-modal cancel_button" aria-label="Close">&#215;</a>
  </div>
</div>
