<div class="report_modal_container">
  <div id="<%= dom_id(@user) %>_report" class="reveal-modal report_modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="myModal-report-header">Report this Member | <%= truncate "#{@user.firstname}", length: 40 %></h2> 
    <div class="content_info"><%= render partial: "reports/form_user", locals: { user: @user } %></div>
    <a class="close-reveal-modal cancel_button" aria-label="Close">&#215;</a>
  </div>
</div> 