<div class="invite_user_section">
  <div id="<%= dom_id(@social) %>_inviteusertosocial" class="reveal-modal invite_user_modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle-invite" class="header">invite members in your network to this social</h2>
    <div class="invite_form"><%= render partial: "invites/form", locals: { social: @social, user: current_user } %></div>
    <a class="close-reveal-modal cancel_button" aria-label="Close">&#215;</a>
  </div>
</div>




