<div id="myModal-share-buttons" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="userfollowings_inner_container">
    <div class="header">Following [<%= @user.followings.count %>]</div>
    <div class="content_list">
      social buttons
    </div> 
    <a class="close-reveal-modal cancel_button" aria-label="Close">&#215;</a>
  </div>
</div>


