<div id="<%= dom_id(venue) %>_venuenote" class="reveal-modal match_info_modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="aboutme_inner_container">
    <div class="header">Notes | <%= venue.venuename %></div>
    <div class="description"><%= venue.note %></div> 
    <a class="close-reveal-modal cancel_button" aria-label="Close">&#215;</a>
  </div>
</div>