<span class="match_info_section">
  <div id="myModal-match-info" class="reveal-modal invite_user_modal match_info_modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle-invite" class="header">match</h2>
    <div class="invite_form">
      <!-- content -->
        content
        <div class="invite_message">Hi <span class="invitation_names"><%= "#{current_user.firstname}!" %></span> your current match stats with the event is <span class="social_event_names"><%= event.match(current_user) %>%</span></div>
      <!-- content -->
    </div>
    <a class="close-reveal-modal cancel_button" aria-label="Close">&#215;</a>
  </div>
</span>