<div id="myModal-invite-multiple-users-buttons" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="share_button_inner_container">
    <div class="header">invite members in your network</div>
    <div class="content_list">
      <!-- content -->
    </div> 
    <a class="close-reveal-modal cancel_button" aria-label="Close">&#215;</a>
  </div>
</div>


