<div id="myModal-events-hosts" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="eventhosts_inner_container">
    <div class="header">Event Hosts check</div>
    <div class="content_list">
      <div class="event_title">Event: <%= @event.title %></div>
        <%= render 'hosts/form' %>
      </div>
    </div> 
    <a class="close-reveal-modal cancel_button" aria-label="Close">&#215;</a>
  </div>
</div>
