<div id="myModal-users-aboutme" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="aboutme_inner_container">
    <div class="header">About <%= @user.firstname %></div>
    <div class="description"><%= @user.description %></div> 
    <a class="close-reveal-modal cancel_button" aria-label="Close">&#215;</a>
  </div>
</div>