<div class="contactus_section">
  <div id="myModal-contactus" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle-contactus">title</h2>
    <div>

      hi

    </div>
    <a class="close-reveal-modal cancel_button" aria-label="Close">&#215;</a>
  </div>
</div>