<span class="contact_content_section">
  <div id="<%= dom_id(contact) %>_contact_content_show" class="reveal-modal contact_content_modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog"> 
    <h2 id="modalTitle-contact-content-info" class="header">content</h2>
    
      <!-- content -->
      <div class="contact_content_container">
        <%= contact.message %>
      </div>
      <!-- content -->
    
    <a class="close-reveal-modal cancel_button" aria-label="Close">&#215;</a>
  </div>
</span>