<div class="invite_user_section">
  <div id="<%= dom_id(invite_request) %>_inviterequest" class="reveal-modal invite_user_modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle-invite" class="header">invite</h2>
    <div class="invite_form"><%= render partial: "invites/organiser_invite_user_form", locals: { invite_request: invite_request } %></div>
    <a class="close-reveal-modal cancel_button" aria-label="Close">&#215;</a>
  </div>
</div>