<span class="contact_content_section">
  <div id="<%= dom_id(album) %>_album_content_show" class="reveal-modal album_content_modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog"> 
    <h2 id="modalTitle-contact-content-info" class="header">album description</h2>
    
      <!-- content -->
      <div class="report_content_container album_content_container">
        <div class="album_inner_content"><%= album.description %></div>
      </div>
      <!-- content -->
    
    <a class="close-reveal-modal cancel_button" aria-label="Close">&#215;</a>
  </div>
</span>