<span class="contact_content_section">
  <div id="<%= dom_id(report) %>_report_content_show" class="reveal-modal report_content_modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog"> 
    <h2 id="modalTitle-contact-content-info" class="header">content</h2>
    
      <!-- content -->
      <div class="report_content_container">
        <div class="report_inner_content"><%= report.content %></div>
      </div>
      <!-- content -->
    
    <a class="close-reveal-modal cancel_button" aria-label="Close">&#215;</a>
  </div>
</span>