<div id="myModal-users-followers" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h1>followers</h1>
  <ul>
    <% @user.followers.each do |user| %>
      <li>
        <%= link_to(image_tag(user.image_url, :alt =>  "image", :class =>"#", id: ""), user) %>
        <%= link_to "#{user.firstname} #{user.lastname}", user %>
      </li>
    <% end %>
  </ul>

  <h1>You are new_followers</h1>
  <ul>
    <% @user.passive_relationships.each do |relationship| %>
      <li>
        <%= link_to(image_tag(relationship.follower.image_url, :alt =>  "image", :class =>"#", id: ""), relationship) %>
        <%= link_to "#{relationship.follower.firstname} #{relationship.follower.lastname}", relationship %>
      </li>
    <% end %>
  </ul>
  <a class="close-reveal-modal cancel_button" aria-label="Close">&#215;</a>
</div>
