<div id="myModal-users-followings" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h1>You are following</h1>
  <ul>
    <% @user.followings.each do |user| %>
      <li>
        <%= link_to(image_tag(user.image_url, :alt =>  "image", :class =>"#", id: ""), user) %>
        <%= link_to "#{user.firstname} #{user.lastname}", user %>
      </li>
    <% end %>
  </ul>
  <a class="close-reveal-modal cancel_button" aria-label="Close">&#215;</a>
</div>