<span class="match_info_example_img_section">
  <div id="myModal-match-info-example-img" class="reveal-modal match_info_img_modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div class="modal_header">we would like to hear from you. get in touch!</div>
    <h2 id="modalTitle-contactus"><%= image_tag("img_match_info_img.png") %></h2>
    <a class="close-reveal-modal cancel_button" aria-label="Close">&#215;</a>
  </div>
</span>