<!-- venue images -->
<div id="myModal-venue-image" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="venueimg_inner_container">
    <div class="header">Venue</div>
    <div class="content_list">
      <div>
        <div class="info_venueimg_content">
          <ul>
            <li><%= cl_image_tag(@event.imgvenue_one, :transformation=>[{:gravity=>"center", :crop=>"fill"}]) %></li>
            <li class="middle_img"><%= cl_image_tag(@event.imgvenue_two, :transformation=>[{:gravity=>"center", :crop=>"fill"}]) %></li>
            <li><%= cl_image_tag(@event.imgvenue_three, :transformation=>[{:gravity=>"center", :crop=>"fill"}]) %></li>
          </ul>
        </div>
      </div>
    </div> 
    <a class="close-reveal-modal cancel_button" aria-label="Close">&#215;</a>
  </div>
</div>
