<span class="match_img_info_section">
  <div id="myModal-match-info-example-img" class="reveal-modal match_info_img_modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle-match-info" class="header">display event match %</h2>
    
      <!-- content -->
      <div class="match_info_img_main_container">

        <div class="match_info_img_content">
          <ul>
            <li><div>The Match % diplays how close the member matches the event. The member's <b>"Total Average Rating"</b> & the <b>"Event Score Access"</b> are both automatically calculated to indicate how close a member matches the event and is likely to meet members in the event of the same initerest and calibre as themselves.</div> </li>
            <li><div>Tick the box <b>"Display Event Match %"</b> to display the event match stat %</div> </li>
          </ul>
        </div>

        <div class="match_info_img_content" style="margin-bottom:0px;">
          <%= image_tag("img_match_info_img.png") %>
        </div>
      </div>
      <!-- content -->
    
    <a class="close-reveal-modal cancel_button" aria-label="Close">&#215;</a>
  </div>
</span>