<div id="myModal-event-card" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="eventcard_inner_container">
    <div class="header">Create Event Card</div>
    <div class="content_list">
      <div class="event_title">Event: <%= @event.title %></div>
      <%= render 'cards/form' %>
    </div> 
    <a class="close-reveal-modal cancel_button" aria-label="Close">&#215;</a>
  </div>
</div>
