<% if action_name == 'new'  %>
  <% provide(:title, "Create Album") %>
<% else %>
  <% provide(:title, "Update Album") %>
<% end %>
<div>
  <%= render 'shared/header' %>
  <%= render 'form' %>
  <%= render 'shared/footer' %>
</div>
