








<div class="old_content">
  <p>
    <strong>Title:</strong>
    <%= @subscription.title %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @subscription.price %>
  </p>

  <%# link_to 'Edit', edit_subscription_path(@subscription) %>
  <%# link_to 'Back', subscriptions_path %>
</div>
