<div class="payments_new_section">
  <div class="medium-12 columns socials_inner_section payments_new_inner_section">
    <div class="medium-12 columns payment_content_section">
      <div class="medium-12 columns content_container">
        <div class="content_details">
          <div class="social_main_container">

            <!-- image -->
            <div>image</div>
            <!-- image -->

            <!-- form -->
            <div><%= render 'form' %></div>
            <!-- form -->
    
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

