<% if @subscription_id.present? %>
  <% provide(:title, "Subscription") %>
<% elsif @event_id.present? %>
  <% provide(:title, "Payment") %>
<% end %>
<div>
  <%= render 'shared/header' %>
  <%= render 'new' %>
  <%= render 'shared/footer' %>
</div>
