<% provide(:title, "Photos") %>
<div>
  <% if signed_in? %>
    <%= render 'shared/header' %>
  <% else %>
    <%= render 'shared/header_unsigned' %>
  <% end %>
  <%= render 'index' %>
  <%= render 'shared/footer' %>
</div>

