/*=========================================
    Section: users account page
    File: views / users / _account.html.erb
    File: views / users / account.html.erb
  =========================================*/

// --------left_column_section--------

.user_account_section {

}


// ---------------------------
//   workings
// ---------------------------

.paymt_cover {
  background-color: #fff;
  color: #283041 !important;
  padding: 15px;
  margin-bottom: 15px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
}
