/*=========================================
    Section: users account page
    File: views / users / _account.html.erb
    File: views / users / account.html.erb
  =========================================*/

// --------left_column_section--------

.user_account_section {

}