/*=========================================
    Section: albums page
    File: views / albums / _index.html.erb
  =========================================*/

.albums_section .albums_inner_section {
  background-color: #fff !important;
  background: url("img_background_main.png") repeat;
  padding: 0px !important;
  min-height: 822px;
}

.albums_section .album_index_content_section {
  padding: 0px !important;
}

.albums_section .content_container {
  padding: 30px 0px !important;
  min-height: 822px;
}

.albums_section .content_details {
  width: 1170px;
  margin: auto;
}

.albums_section .album_main_container {
  padding: 0px !important;
}

.albums_section .album_main_container ul {
  list-style-type: none;
  margin: 0px;
  display: inline-block;
}

.albums_section .album_main_container ul li {
  float: left;
  padding: 0px !important
}

.albums_section .album_main_container ul li:last-child {
  float: left;
}

.albums_section .polaroid_images {
  // background-color: orange;
  width: 390px;
  height: 450px;
  display: inline-block;
}

.albums_section .polaroid_images a {
  background-color: white;
  display: inline;
  float: left;
  margin: 0 15px 30px;
  padding: 10px 10px 50px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
  box-shadow: 0 4px 6px rgba(0,0,0,.3);
  position:relative;
}

.albums_section .polaroid_images a:hover {
  background-color: white !important;
}

.albums_section .polaroid_images img { 
  display: block; 
  width: 340px; 
}

.albums_section .polaroid_images .polaroid_listed_images li:nth-child(1) {
  background-color: transparent;
  z-index:1;
}

.albums_section .polaroid_images .polaroid_listed_images li:nth-child(3) {
  background-color: transparent;
  -webkit-transform: rotate(2deg);  
  -moz-transform: rotate(2deg); 
  transform: rotate(2deg); 
}

.albums_section .polaroid_images .polaroid_listed_images li:nth-child(2) {
  background-color: transparent;
  -webkit-transform: rotate(4deg);  
  -moz-transform: rotate(4deg); 
  transform: rotate(4deg); 
}

.albums_section .album_img {
  position: absolute;
  width: 390px;
}

.albums_section .album_name {
  position: absolute;
  bottom: 46px;
  z-index: 1;
  left: 27px;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  font-weight: bold;
  color: #414249 !important;
  font-size: 12px;
}

.albums_section .album_name i {
  margin-right: 3px;
}

.albums_section .album_divider {
  margin: 0px 5px;
}

.albums_section .outter_tree_link_container {
  width: 1170px;
  margin: auto;
} 

.albums_section .tree_link {
  font-family: 'Lato', sans-serif;
  font-size: 12px !important;
  padding: 0px 15px 15px;
  color: #283041 !important;
  border-bottom: 1px solid #ededf3 !important;
  margin-bottom: 15px;
}

.albums_section .tree_link a {
  font-family: 'Lato', sans-serif;
  font-size: 12px !important;
  color: #283041 !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.albums_section .tree_link a:hover {
  color: #E34B51 !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.albums_section .tree_link_btn a {
  background-color: #E34B51;
  padding: 6px 15px;
  margin-left: 15px !important;
  border: 1px solid #E34B51;
  border-radius: 3px;
  color: #fff !important;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 2px;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
} 

.albums_section .tree_link_btn a:hover {
  background-color: #2F3F5B !important;
  border: 1px solid #2F3F5B;
  color: #fff !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
} 

.albums_section .fwd_sign {
  margin: 0px 5px;
}
  







