/*=========================================
    Section: albums page
    File: views / albums / _index.html.erb
  =========================================*/

.albums_section .albums_inner_section {
  background-color: #fff !important;
  background: url("img_background_main.png") repeat;
  padding: 0px !important;
  min-height: 822px;
}

.albums_section .album_index_content_section {
  padding: 0px !important;
}

.albums_section .content_container {
  padding: 30px 0px !important;
  min-height: 822px;
}

.albums_section .content_details {
  width: 1170px;
  margin: auto;
  //background-color: red;
}

.albums_section .album_main_container ul {
  list-style-type: none;
  margin: 0px;
  display: inline-block;
}

.albums_section .album_main_container ul li {
  float: left;
}


.albums_section .polaroid_images {
  position: relative;
  background-color: orange;
  width: 390px;
  height: 407px;
  display: inline-block;
}

.albums_section .polaroid_images a {
  // background: white;
  display: inline;
  float: left;
  margin: 0 15px 30px;
  padding: 10px 10px 25px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
  box-shadow: 0 4px 6px rgba(0,0,0,.3);
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
  z-index:0;
  position:relative;
}

.albums_section .polaroid_images a:after {
  color: #333;
  font-size: 20px;
  content: attr(title);
  position: relative;
  top:15px;
}

.albums_section .polaroid_images img { 
  display: block; 
  width: 340px; 
}

// ---------------------------------
//  working contents
// ---------------------------------


.albums_section .polaroid_images .red {
  background-color: red;
  z-index:1;
}

.albums_section .polaroid_images .green {
  background-color: green;
}

.album_img {
  position: absolute;
  width: 390px;
}

// .polaroid_images .img_album_01 {
//   -webkit-transform: rotate(4deg);  
//   -moz-transform: rotate(4deg); 
//   transform: rotate(4deg); 
// }

// .polaroid_images a:nth-child(2n) {
//   -webkit-transform: rotate(4deg);  
//   -moz-transform: rotate(4deg); 
//   transform: rotate(4deg); 
// }




