/*=========================================
    Section: albums form
    File: views / albums / _form.html.erb
    File: views / albums / _edit.html.erb
  =========================================*/

// --------right_column_section--------
.user_general_settings_section .right_inner_section .album_edit_update_form #album_image {
  height: 100%;
  margin-bottom: 15px !important;
  padding: 15px;
  background-color: rgba(225, 71, 62, 0.6) !important;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
}

.user_general_settings_section .right_inner_section .album_edit_update_form label {
  font-family: 'Lato', sans-serif;
  font-size: 15px !important;
  font-weight: 300 !important;
  text-transform: capitalize;
  margin-top: 15px;
}

.user_general_settings_section .album_edit_update_form .boolean {
  background-color: rgba(75, 180, 191, 0.2) !important;
  padding: 8px !important;
}

.user_general_settings_section .album_edit_update_form .text_info {
  font-family: 'Lato', sans-serif;
  font-size: 12px !important;
  font-weight: 300 !important;
  letter-spacing: 1px;
  word-spacing: 3px;
  background-color: rgba(75, 180, 191, 0.2) !important;
  padding: 5px 15px !important;
}

.user_general_settings_section .album_edit_update_form .text_info a {
  color: #E34B51 !important;
  font-weight: bold;
}

.user_general_settings_section .album_edit_update_form .text_info a:hover {
  text-decoration: underline;
}

.user_general_settings_section .album_edit_update_form .company_info_section {
  margin-bottom: 15px;
}

.user_general_settings_section .album_edit_update_form .album_topic {
  margin-bottom: 15px;
}

.user_general_settings_section .album_edit_update_form textarea {
  font-weight: 300 !important;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.user_general_settings_section .album_edit_update_form .date_time {
  background-color: rgba(75, 180, 191, 0.2) !important;
  padding: 15px !important;
  margin-bottom: 15px;
  display: inline-block;
}

.user_general_settings_section .album_edit_update_form .album_label {
  font-family: 'Lato', sans-serif;
  font-size: 15px !important;
  font-weight: 300 !important;
  text-transform: capitalize;
}

.user_general_settings_section .album_edit_update_form .event_time {
  float: left !important;
  margin-right: 40px !important;
}

.user_general_settings_section .album_edit_update_form .event_time_end {
  float: left;
}

.user_general_settings_section .album_edit_update_form .time {
  width: 170px;
  margin: 0px;
}

.user_general_settings_section .album_edit_update_form .save_btn {
  margin: 30px 0px;
}

.user_general_settings_section .album_edit_update_form input[type="text"]:focus {
  border: 1px solid rgba(75, 180, 191, 0.5) !important;
  background-color: #fff !important;
}

.user_general_settings_section .album_edit_update_form input[type="submit"] {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #fff !important;
  font-weight: 300;
  background: #000;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 10px 25px;
  width: 100%;
  border: none;
  display: inline-block;
  margin-bottom: 0px !important;
  background-color: #4BB4BF !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.user_general_settings_section .album_edit_update_form #album_publish {
  margin: 0px 5px 0px 0px;
}

.user_general_settings_section .album_edit_update_form .error small.error {
  margin-bottom: 0px;
}








