/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require chosen
 *= require_self
 *= require foundation_and_overrides
 *= require social-share-button
 *= require jquery-ui
 *= require font-awesome
 */

/*=========================================
    general css content
  =========================================*/

body {
  line-height: 1.5 !important;
}

.clear { 
  clear: both; 
}

.hidden { 
  display: none; 
}

.hide { 
  display: none; 
}

.non_visible {
  visibility: hidden !important;
}

a {
  color: #4d85b0 !important;
}

a:focus,
input:focus,
select:focus,
textarea:focus,
button:focus
 {
    outline: none !important;
}

a:hover {
  background-color: transparent !important;
}

.container {
  height: 100%;
  background-color: #fff;
  /*background-color: #71B2D3;*/
  padding: 0px !important;
}

button a { 
  color: #fff !important;
}

button { 
  background-color: #E1473E !important;
  border-radius: 2px !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

button:hover {
  background-color: #2F3F5B !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

button input {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
}

.tip-right {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
}

.tip-left {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
}

/*----------------------------------------
    devise signin/signout error messages
----------------------------------------*/

#notice_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: rgba(88, 205, 166, 0.9) !important;
}

#notice_wrapper p {
  font-family: "Lato", sans-serif;
  color: #fff;
  padding: 25px 0px;
  text-align: center;
  margin: 0px;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 0px 4px 30px #fff;
  letter-spacing: 1px;
  font-weight: 200;
}

#alert_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: rgba(225, 71, 62, 0.9) !important;
}

#alert_wrapper p {
  font-family: "Lato", sans-serif;
  color: #fff;
  padding: 22px 0px;
  text-align: center;
  margin: 0px;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 0px 4px 30px #fff;
  letter-spacing: 1px;
  font-weight: 200;
}

small {
  color: #E1473E;
}


/*----------------------------------------
    datepicker CSS
----------------------------------------*/
.ui-datepicker .ui-datepicker-header {
  font-family: "Lato", sans-serif !important;
  font-weight: 300 !important;
  color: #4BB4BF !important;
  border: 0px !important;
  border-radius: 0px !important;
  border-bottom: 1px solid #414249;
}

.ui-datepicker th {
  color: #4BB4BF !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  color: #2F3F5B !important;
}

.ui-datepicker table {
  border: 0px !important;
}

.ui-datepicker {
  border-radius: 0px !important;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 6px !important;
  background-color: #fff !important;
  height: 20px !important;
  width: 20px !important;
}

.ui-datepicker .ui-datepicker-prev {
  left: 5px !important;
}

.ui-datepicker .ui-datepicker-next {
  right: 5px !important;
}

#ui-datepicker-div {
  z-index: 1000 !important;
}

/*----------------------------------------
    Dummy banner - User Index
----------------------------------------*/
.banner_wrapper_container_index {
  height: 0px !important;
  position: relative;
}

.banner_wrapper_index {
  position: absolute;
}

.banner_ribbon_wrapper_green_index {
  width: 65px;
  height: 65px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.banner_ribbon_name_index {
  font: bold 10px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  position: relative;
  padding: 5px 0;
  left: -32px;
  top: 9px;
  width: 103px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  box-shadow: 0px0px3pxrgba(0,0,0,0.3);
  opacity: 0.4;
}



/*----------------------------------------
    Subscribed banner - User Index
----------------------------------------*/
.subie_banner_wrapper_container_index {
  height: 0px !important;
  position: relative;
}

.subie_banner_wrapper_index {
  position: absolute;
}

.subie_banner_ribbon_wrapper_red_index {
  width: 65px;
  height: 65px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.subie_banner_ribbon_name_index {
  font: bold 10px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  position: relative;
  padding: 5px 0;
  left: -32px;
  top: 9px;
  width: 50px;
  background-color: rgba(225, 71, 62, 0.7) !important;
  /*background-color: #BFDC7A;*/
  /*background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);*/
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  box-shadow: 0px0px3pxrgba(0,0,0,0.3);
  opacity: 0.4;
}
