/*=========================================
    Section: blogs form
    File: views / blogs / _form.html.erb
    File: views / blogs / _edit.html.erb
  =========================================*/

// --------right_column_section--------
.user_general_settings_section .right_inner_section .blog_edit_update_form #blog_image {
  height: 100%;
  margin-bottom: 15px !important;
  padding: 15px;
  background-color: rgba(225, 71, 62, 0.6) !important;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
}

.user_general_settings_section .right_inner_section .blog_edit_update_form label {
  font-family: 'Lato', sans-serif;
  font-size: 15px !important;
  font-weight: 300 !important;
  text-transform: capitalize;
  margin-top: 15px !important;
}

.user_general_settings_section .blog_edit_update_form .close_social_section {
  margin: 0px 0px 15px;
}

.user_general_settings_section .blog_edit_update_form .boolean {
  background-color: rgba(75, 180, 191, 0.2) !important;
  padding: 8px !important;
}

.user_general_settings_section .blog_edit_update_form .social_form_main_content input[type="text"]:focus {
  border: 1px solid rgba(75, 180, 191, 0.5) !important;
  background-color: #fff !important;
}

.user_general_settings_section .blog_edit_update_form .text_info {
  font-family: 'Lato', sans-serif;
  font-size: 12px !important;
  font-weight: 300 !important;
  letter-spacing: 1px;
  word-spacing: 3px;
  background-color: rgba(75, 180, 191, 0.2) !important;
  padding: 5px 15px !important;
}

.user_general_settings_section .blog_edit_update_form #event_close {
  margin-bottom: 0px;
  margin-right: 5px;
}

.user_general_settings_section .blog_edit_update_form .company_info_section {
  margin-bottom: 15px;
}

.user_general_settings_section .blog_edit_update_form .blog_topic {
  margin-bottom: 15px;
}

.user_general_settings_section .blog_edit_update_form textarea {
  font-weight: 300 !important;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.user_general_settings_section .blog_edit_update_form .event_tags {
  margin-bottom: 15px;
}

.user_general_settings_section .blog_edit_update_form .event_venuename {
  width: 540px;
  float: left;
  margin-bottom: 15px;
}

.user_general_settings_section .blog_edit_update_form .event_address {
  width: 540px;
  float: right;
  margin-bottom: 15px;
}

.user_general_settings_section .blog_edit_update_form .event_category_country {
  width: 350px;
  float: left;
  margin-bottom: 15px;
}

.user_general_settings_section .blog_edit_update_form #event_category_country_id {
  height: 40px !important;
}

.user_general_settings_section .blog_edit_update_form .event_city {
  width: 350px;
  float: left;
  margin: 0px 29px 15px;
}

.user_general_settings_section .blog_edit_update_form .event_postcode {
  width: 350px;
  float: right;
  margin-bottom: 15px;
}

.user_general_settings_section .blog_edit_update_form .map_link {
  margin-bottom: 15px;
}

.user_general_settings_section .blog_edit_update_form #event_maplink {
  margin-bottom: 0px;
}

.user_general_settings_section .blog_edit_update_form .date_time {
  background-color: rgba(75, 180, 191, 0.2) !important;
  padding: 15px !important;
  margin-bottom: 15px;
  display: inline-block;
}

.user_general_settings_section .blog_edit_update_form .blog_label {
  font-family: 'Lato', sans-serif;
  font-size: 15px !important;
  font-weight: 300 !important;
  text-transform: capitalize;
  margin-top: 15px !important;
}

.user_general_settings_section .blog_edit_update_form .event_time {
  float: left !important;
  margin-right: 40px !important;
}

.user_general_settings_section .blog_edit_update_form .event_time_end {
  float: left;
}

.user_general_settings_section .blog_edit_update_form #event_date {
  width: 170px;
  margin-bottom: 15px !important;
}

.user_general_settings_section .blog_edit_update_form .time {
  width: 170px;
  margin: 0px;
}

.user_general_settings_section .blog_edit_update_form .gender_selection_section {
  background-color: rgba(75, 180, 191, 0.2) !important;
  padding: 15px;
  margin-bottom: 15px;
}

.user_general_settings_section .blog_edit_update_form .current_gender_selection {
  font-family: 'Lato', sans-serif;
  font-size: 12px !important;
  font-weight: 300 !important;
  text-transform: capitalize;
  letter-spacing: 1px;
  word-spacing: 3px;
  background-color: rgba(75, 180, 191, 0.2) !important;
  padding: 5px 15px !important;
  margin-bottom: 8px !important;
}

.user_general_settings_section .blog_edit_update_form .current_gender_selection i {
  margin-left: 10px;
}

.user_general_settings_section .blog_edit_update_form .current_gender_selection .divider {
  margin: 0px 5px;
}

.user_general_settings_section .blog_edit_update_form .event_price {
  width: 540px;
  float: left;
}

.user_general_settings_section .blog_edit_update_form #event_price {
  height: 40px;
}

.user_general_settings_section .blog_edit_update_form .event_category_age {
  width: 540px;
  float: right;
}

.user_general_settings_section .blog_edit_update_form #event_category_age_id {
  height: 40px;
}

.user_general_settings_section .blog_edit_update_form #event_display_match {
  margin-bottom: 0px;
  margin-right: 5px;
}

.user_general_settings_section .blog_edit_update_form .event_score_access {
  background-color: rgba(75, 180, 191, 0.2) !important;
  padding: 15px !important;
  margin-top: 5px !important;
  margin-bottom: 30px !important;
}

.user_general_settings_section .blog_edit_update_form .save_btn {
  margin: 30px 0px;
}

.user_general_settings_section .blog_edit_update_form #blog_category_blog_id {
  margin-bottom: 0px !important;
}

.user_general_settings_section .blog_edit_update_form .guest_blogger_content {
  padding: 15px;
  background-color: rgba(75, 180, 191, 0.2) !important;
  margin: 20px 0px 30px !important;
}

.user_general_settings_section .blog_edit_update_form input[type="text"]:focus {
  border: 1px solid rgba(75, 180, 191, 0.5) !important;
  background-color: #fff !important;
}

.user_general_settings_section .blog_edit_update_form input[type="submit"] {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #fff !important;
  font-weight: 300;
  background: #000;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 10px 25px;
  width: 100%;
  border: none;
  display: inline-block;
  margin-bottom: 0px !important;
  background-color: #4BB4BF !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.user_general_settings_section .blog_edit_update_form .error small.error {
  margin-bottom: 0px;
}









