/*=========================================
    Section: blogs page
    File: views / bogs / _index.html.erb
    File: views / bogs / _venues.html.erb

    File: views / bogs / _networking_tips.html.erb
    File: views / bogs / _dating_tips.html.erb
    File: views / bogs / _spefz_news.html.erb

  =========================================*/

.blogs_section .blogs_inner_section {
  background-color: #fff !important;
  background: url("img_background_main.png") repeat;
  padding: 0px !important;
  min-height: 822px;
}

.blogs_section .blogs_inner_section h1 {
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  font-weight: 200;
  text-align: center;
  margin: 0px;
  color: #fff;
  text-transform: capitalize;
  word-spacing: 3px;
}
@media only screen and (max-width: 670px) {
  .blogs_section .blogs_inner_section h1  {
    font-size: 30px;
  }
}

.blogs_section .search_container {
  padding: 18px 0px;
  height: 77px;
  background-color: rgba(47, 63, 91, 0.1);
  border-bottom: 1px solid rgba(238, 170, 2, 0.3) !important;
}

.blogs_section .search_inner_container {
  width: 1170px;
  margin: auto;
}

.blogs_section .search_inner_container ul {
  list-style-type: none;
  margin: 0px;
}

.blogs_section .search_inner_container .search_left_content li {
  float: left;
  margin-right: 2px;
}

.blogs_section .search_inner_container .search_left_content li a {
  font-family: 'Lato', sans-serif;
  color: #414249 !important;
  letter-spacing: 1px;
  font-size: 12px !important;
  font-weight: bold;
  padding: 13px 20px 24px;
  display: inline-block;
}

.blogs_section .search_inner_container .search_left_content li a:hover {
  border-bottom: 3px solid #E34B51;
}

.blogs_section .search_left_content .active a {
  border-bottom: 3px solid #E34B51 !important;
}

@media only screen and (max-width: 530px) {
  .blogs_section .responsive_display {
    display: none;
  }
}

.blogs_section .search_right_content li {
  float: right;
  margin-right: 2px;
}
@media only screen and (max-width: 1215px) {
  .blogs_section .search_right_content li  {
    display: none; 
  }
}

.blogs_section .search_right_content .search_box {
  width: 300px;
}

.blogs_section .search_right_content .search_box input[type="text"] {
  font-family: "Lato", sans-serif;
  font-weight: 300 !important;
  box-shadow: none !important;
  padding: 0px 15px !important;
  border: none !important;
  height: 40px;
  color: #454d53;
  font-size: 15px;
  margin-bottom: 0px !important;
}

.blogs_section .search_right_content .search_btn input[type="submit"] {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #fff !important;
  font-weight: 300;
  background: #000;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 12px 25px;
  width: 100%;
  border: none;
  display: inline-block;
  height: 40px;
  width: 185px;
  margin: 0px !important;
  margin-left: 8px !important;
  background-color: #4BB4BF !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.blogs_section .search_right_content .search_btn input[type="submit"]:hover  {
  background-color: #eeaa02 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.blogs_section .search_fields_left, .search_fields_right {
  margin: 0px !important;
  list-style-type: none;
}

.blogs_section .field select, input[type="text"] {
  font-family: "Lato", sans-serif;
  font-weight: 300 !important;
  box-shadow: none !important;
  padding: 0px 15px !important;
  border: none !important;
  height: 40px;
  color: #454d53;
  font-size: 15px;
  margin-bottom: 0px !important;
}

.blogs_section .search_fields_left li {
  width: 185px;
  float: left;
  margin: 0px !important;
  margin-right: 8px !important;
}

.blogs_section .search_fields_right li {
  width: 185px;
  float: right;
  margin: 0px !important;
  margin-left: 8px !important;
}

.blogs_section .search_fields_right li input[type="submit"] {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #fff !important;
  font-weight: 300;
  background: #000;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 12px 25px;
  width: 100%;
  border: none;
  display: inline-block;
  height: 40px;
  background-color: #4BB4BF !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.blogs_section .search_fields_right li input[type="submit"]:hover {
  background-color: #eeaa02 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.blogs_section .blog_index_content_section {
  padding: 0px !important;
}

.blogs_section .content_container {
  padding: 30px 0px !important;
  min-height: 822px;
}

.blogs_section .header_section {
  padding: 15px 0px;
}

.blogs_section .header {
  font-family: "Lato", sans-serif;
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: center;
  padding: 0px 15px !important;
}

.blogs_section .sub_header {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: center;
  padding: 15px !important;
}

.blogs_section .content_details {
  padding: 15px 0px !important;
}
@media only screen and (min-width: 1215px) {
  .blogs_section .content_details {
    width: 1170px;
    margin: auto;
  }
}

@media only screen and (max-width: 1215px) {
  .blogs_section .blog_main_container {
    padding: 15px !important;
  }
}

.blogs_section .blog_main_container ul {
  list-style-type: none;
  margin: 0px;
}

.blogs_section .listed_blog {
  background-color: #fff;
  padding: 0px !important;
  margin-bottom: 35px;
  box-shadow: 0 3px 0 rgba(47, 63, 91, 0.1);
  border-radius: 5px;
}
@media only screen and (min-width: 1215px) {
  .blogs_section .listed_blog {
    padding: 18px !important;
  }
}

.blogs_section .left_content {
  position: relative;
}

.blogs_section .blog_subtitle {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  word-spacing: 2px;
  letter-spacing: 1px;
  position: absolute;
  font-size: 14px;
  z-index: 1;
  padding: 15px;
  color: #fff;
  background-color: rgba(40, 48, 45, 0.4) !important;
  text-transform: capitalize;
  text-shadow: 1px 2px 14px #eeaa02;
  // margin-right: 15px;
  line-height: 25px;
}
@media only screen and (max-width: 530px) {
  .blogs_section .blog_subtitle {
    font-size: 12px;
  }
}
@media only screen and (min-width: 510px) {
  .blogs_section .blog_subtitle {
    width: 450px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    word-spacing: 2px;
    letter-spacing: 1px;
    position: absolute;
    font-size: 14px;
    z-index: 1;
    padding: 15px;
    color: #fff;
    background-color: rgba(40, 48, 45, 0.4) !important;
    text-transform: capitalize;
    text-shadow: 1px 2px 14px #eeaa02;
    width: 450px;
    right: 0;
    top: 125px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 1215px) {
  .blogs_section .blog_subtitle {
    margin-right: 15px !important;
  }
}

// .blogs_section .blog_subtitle {
//   font-family: 'Lato', sans-serif;
//   font-weight: 300;
//   word-spacing: 2px;
//   letter-spacing: 1px;
//   position: absolute;
//   font-size: 14px;
//   z-index: 1000;
//   padding: 15px;
//   color: #fff;
//   background-color: rgba(40, 48, 45, 0.4) !important;
//   text-transform: capitalize;
//   text-shadow: 1px 2px 14px #eeaa02;
//   width: 450px;
//   right: 0;
//   top: 125px;
//   line-height: 25px;
// }
// @media only screen and (max-width: 1215px) {
//   .blogs_section .blog_subtitle {
//     margin-right: 15px;
//   }
// }


.blogs_section .left_content {
  padding: 0px !important;
}
@media only screen and (max-width: 1215px) {
  .blogs_section .left_content {
    width: 100% !important;
    padding: 15px !important;
  }
}

@media only screen and (max-width: 1215px) {
  .blogs_section .right_content {
    width: 100% !important;
  }
}

.blogs_section .blog_main_img_cover {
  width: 100% !important;
  position: relative;
}
@media only screen and (min-width: 1215px) {
  .blogs_section .blog_main_img_cover {
    width: 100%;
    height: 290px;
    display: block;
    position: relative;
    overflow: hidden;
  }
}

.blogs_section .blog_main_img_cover img {
  width: 100% !important;
}
@media only screen and (min-width: 1215px) {
  .blogs_section .blog_main_img_cover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 1215px) {
  .blogs_section .right_content .blog_title .shorted {
    display: none;
  }
}
@media only screen and (min-width: 1215px) {
  .blogs_section .right_content .blog_title .extended {
    display: none;
  }
}

.blogs_section .right_content .blog_title a {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  text-transform: capitalize;
  color: #283041 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
@media only screen and (min-width: 1215px) {
  .blogs_section .right_content .blog_title a {
    display: inline-block;
    height: 32px;
    overflow: hidden;
  }
}

.blogs_section .right_content .blog_title a:hover {
  color: #E34B51 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.blogs_section .right_content .blog_category_date {
  font-family: 'Lato', sans-serif;
  color: #414249 !important;
  // margin: 3px 0px 10px;
  margin: 10px 0px;
  letter-spacing: 1px;
  font-size: 12px !important;
  font-weight: bold;
}
@media only screen and (max-width: 320px) {
  .blogs_section .right_content .blog_category_date {
    font-size: 9px !important;
  }
}

.blogs_section .right_content .blog_category a {
  color: rgba(225, 71, 62, 0.7) !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.blogs_section .right_content .blog_category a:hover {
  color: rgba(88, 205, 166, 0.5) !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.blogs_section .right_content .divider {
  color: #ededf3 !important;
  font-weight: 300 !important;
  margin: 0px 5px !important;
}

.blogs_section .right_content .blog_img_cover {
  height: 60px;
  width: 55px !important;
  display: inline-flex;
  border-radius: 5px;
  padding: 4px;
  // background-color: rgba(88, 205, 166, 0.2) !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
@media only screen and (max-width: 380px) {
  .blogs_section .right_content .blog_img_cover {
    display: none;
  }
}

.blogs_section .right_content .blog_img_cover:hover {
  color: rgba(88, 205, 166, 0.5) !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.blogs_section .right_content .blog_img_cover img {
  border-radius: 200px;
}

.blogs_section .right_content .blog_img_cover img:hover {
  opacity: 0.5;
  border-radius: 200px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

@media only screen and (max-width: 285px) {
  .blogs_section .right_content .blog_user_details {
    font-size: 0px; 
  }
}

.blogs_section .right_content .blog_user_details a {
  font-family: 'Lato', sans-serif;
  color: #414249 !important;
  margin: 3px 0px 10px;
  letter-spacing: 1px;
  font-size: 13px !important;
  font-weight: bold; 
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.blogs_section .right_content .blog_user_details a:hover {
  color: #E34B51 !important; 
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.blogs_section .right_content .blog_content_read {
  margin: 10px 0px;
}

.blogs_section .right_content .blog_info_content {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  word-spacing: 3px;
  color: #7C93A7;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 10px 0px;
}

.blogs_section .right_content .blog_info_content p {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  word-spacing: 3px;
  color: #7C93A7;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0px;
}

.blogs_section .right_content .blog_info_content li {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  word-spacing: 3px;
  color: #7C93A7;
  font-weight: 300;
  letter-spacing: 1px;
  float: left;
  margin: 5px 5px 5px 0px;
}

.blogs_section .readmore_edit_section {
  margin-top: 7px;
}

.blogs_section .right_content .read_more a {
  font-family: 'Lato', sans-serif;
  color: #414249 !important;
  letter-spacing: 1px;
  font-size: 12px !important;
  font-weight: bold;
  color: rgba(225, 71, 62, 0.7) !important;
}

.blogs_section .right_content .read_more a:hover {
  text-decoration: underline;
}
 
@media only screen and (max-width: 320px) {
  .blogs_section .blog_index_responsive {
    display: none
  }
}





