/*=========================================
    Section: blogs page
    File: views / blogs / _index.html.erb
  =========================================*/

.blogs_show_section .blogs_inner_section {
  background-color: #fff !important;
  background: url("img_background_main.png") repeat;
  padding: 0px !important;
  min-height: 822px;
}

.blogs_show_section .blogs_inner_section h1 {
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  font-weight: 200;
  text-align: center;
  margin: 0px;
  color: #fff;
  text-transform: capitalize;
  word-spacing: 3px;
}
@media only screen and (max-width: 670px) {
  .blogs_show_section .blogs_inner_section h1  {
    font-size: 30px;
  }
}

.blogs_show_section .search_container {
  padding: 18px 0px;
  height: 77px;
  background-color: rgba(47, 63, 91, 0.1);
  border-bottom: 1px solid rgba(238, 170, 2, 0.3) !important;
}

.blogs_show_section .search_inner_container {
  width: 1170px;
  margin: auto;
}

.blogs_show_section .search_inner_container ul {
  list-style-type: none;
  margin: 0px;
}

.blogs_show_section .search_inner_container .search_left_content li {
  float: left;
  margin-right: 2px;
}

.blogs_show_section .search_inner_container .search_left_content li a {
  font-family: 'Lato', sans-serif;
  color: #414249 !important;
  letter-spacing: 1px;
  font-size: 12px !important;
  font-weight: bold;
  padding: 8px 20px 20px;
  display: inline-block;
}

.blogs_show_section .search_inner_container .search_left_content li a:hover {
  border-bottom: 3px solid #E34B51;
}

.blogs_show_section .search_left_content .active a {
  border-bottom: 3px solid #E34B51 !important;
}

@media only screen and (max-width: 530px) {
  .blogs_show_section .responsive_display {
    display: none;
  }
}

.blogs_show_section .search_right_content li {
  float: right;
  margin-right: 2px;
}
@media only screen and (max-width: 1215px) {
  .blogs_show_section .search_right_content li  {
    display: none; 
  }
}

.blogs_show_section .search_right_content .search_box {
  width: 300px;
}

.blogs_show_section .search_right_content .search_box input[type="text"] {
  font-family: "Lato", sans-serif;
  font-weight: 300 !important;
  box-shadow: none !important;
  padding: 0px 15px !important;
  border: none !important;
  height: 40px;
  color: #454d53;
  font-size: 15px;
  margin-bottom: 0px !important;
}

.blogs_show_section .search_right_content .search_btn input[type="submit"] {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #fff !important;
  font-weight: 300;
  background: #000;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 12px 25px;
  width: 100%;
  border: none;
  display: inline-block;
  height: 40px;
  width: 185px;
  margin: 0px !important;
  margin-left: 8px !important;
  background-color: #4BB4BF !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.blogs_show_section .search_right_content .search_btn input[type="submit"]:hover  {
  background-color: #eeaa02 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.blogs_show_section .search_fields_left, .search_fields_right {
  margin: 0px !important;
  list-style-type: none;
}

.blogs_show_section .field select, input[type="text"] {
  font-family: "Lato", sans-serif;
  font-weight: 300 !important;
  box-shadow: none !important;
  padding: 0px 15px !important;
  border: none !important;
  height: 40px;
  color: #454d53;
  font-size: 15px;
  margin-bottom: 0px !important;
}

.blogs_show_section .search_fields_left li {
  width: 185px;
  float: left;
  margin: 0px !important;
  margin-right: 8px !important;
}

.blogs_show_section .search_fields_right li {
  width: 185px;
  float: right;
  margin: 0px !important;
  margin-left: 8px !important;
}

.blogs_show_section .search_fields_right li input[type="submit"] {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #fff !important;
  font-weight: 300;
  background: #000;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 12px 25px;
  width: 100%;
  border: none;
  display: inline-block;
  height: 40px;
  background-color: #4BB4BF !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.blogs_show_section .search_fields_right li input[type="submit"]:hover {
  background-color: #eeaa02 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.blogs_show_section .blogs_show_content_section {
  padding: 0px !important;
}

.blogs_show_section .content_container {
  padding: 30px 0px !important;
  min-height: 822px;
}

.blogs_show_section .header_section {
  padding: 15px 0px;
}

.blogs_show_section .header {
  font-family: "Lato", sans-serif;
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: center;
  padding: 0px 15px !important;
}

.blogs_show_section .sub_header {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: center;
  padding: 15px !important;
}

.blogs_show_section .content_details {
  padding: 15px 0px !important;
  // width: 1170px;
  // margin: auto;
}
@media only screen and (min-width: 1215px) {
  .blogs_show_section .content_details {
    width: 1170px;
    margin: auto;
  }
}

.blogs_show_section .detailed_blog {
  background-color: #fff;
  padding: 18px !important;
  margin-bottom: 35px;
  box-shadow: 0 3px 0 rgba(47, 63, 91, 0.1);
  border-radius: 5px;
}

.blogs_show_section .blog_show_title a {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: capitalize;
  color: #283041 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
@media only screen and (max-width: 730px) {
  .blogs_show_section .blog_show_title a {
    font-size: 20px;
  }
}

.blogs_show_section .blog_show_sub_content {
  font-family: 'Lato', sans-serif;
  color: #414249 !important;
  margin: 10px 0px;
  letter-spacing: 1px;
  font-size: 13px !important;
  font-weight: bold;
}

.blogs_show_section .blog_show_sub_content a {
  color: rgba(225, 71, 62, 0.7) !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.blogs_show_section .blog_show_sub_content a:hover {
  color: rgba(88, 205, 166, 0.5) !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.blogs_show_section .blog_img_cover {
  height: 40px;
  width: 40px !important;
  display: inline-flex;
  border-radius: 5px;
  padding: 4px;
  background-color: rgba(88, 205, 166, 0.2) !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.blogs_show_section .blog_img_cover:hover {
  color: rgba(88, 205, 166, 0.5) !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.blogs_show_section .blog_img_cover img {
  border-radius: 200px;
}

.blogs_show_section .blog_img_cover img:hover {
  opacity: 0.5;
  border-radius: 200px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.blogs_show_section .divider {
  color: #ededf3 !important;
  font-weight: 300 !important;
  margin: 0px 5px !important;
}

@media only screen and (min-width: 1178px) {
  .blogs_show_section .blog_show_img {
    width: 100%;
    height: 500px;
    display: block;
    position: relative;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1178px) {
  .blogs_show_section .blog_show_img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.blogs_show_section .blog_info_content {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  word-spacing: 3px;
  color: #7C93A7;
  font-weight: 300;
  margin: 15px 0px;
}

.blogs_show_section p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  word-spacing: 3px;
  color: #7C93A7;
  font-weight: 300;
  margin: 15px 0px;
  line-height: 27px;
}
@media only screen and (max-width: 530px) {
  .blogs_show_section p {
    font-size: 14px;
  }
}

.blogs_show_section ul {
  margin-left: 45px;
}

.blogs_show_section ul li {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  word-spacing: 3px;
  color: #7C93A7;
  font-weight: 300;
  line-height: 27px;
}
@media only screen and (max-width: 530px) {
  .blogs_show_section ul li {
    font-size: 14px;
  }
}

@media only screen and (max-width: 320px) {
  .blogs_show_section .blog_show_responsive {
    display: none
  }
}

.blogs_show_section .blog_guest_writter {
  padding: 15px;
  background-color: rgba(124, 147, 167, 0.07) !important;
  border-top: 1px solid rgba(124, 147, 167, 0.2) !important;
  margin-top: 25px;
}

.blogs_show_section .blog_guest_writter .credits  {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #7C93A7 !important;
}

.blogs_show_section .blog_guest_writter a  {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: rgba(225, 71, 62, 0.7) !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.blogs_show_section .blog_guest_writter a:hover {
  color: rgba(88, 205, 166, 0.5) !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}




