/*=========================================
    Section: events page
    File: views / events / _index.html.erb
  =========================================*/

.cards_section .cards_inner_section {
  background-color: #fff !important;
  background: url("img_background_main.png") repeat;
  padding: 0px !important;
  min-height: 822px;
}

.cards_section .cards_inner_section h1 {
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  font-weight: 200;
  text-align: center;
  margin: 0px;
  color: #fff;
  text-transform: capitalize;
  word-spacing: 3px;
}
@media only screen and (max-width: 670px) {
  .cards_section .cards_inner_section h1  {
    font-size: 30px;
  }
}

.cards_section .search_container {
  padding: 18px 0px;
  background-color: rgba(47, 63, 91, 0.1);
  border-bottom: 1px solid rgba(238, 170, 2, 0.3) !important;
}

.cards_section .search_inner_container {
  width: 1170px;
  margin: auto;
}

.cards_section .search_fields_left, .search_fields_right {
  margin: 0px !important;
  list-style-type: none;
}

.cards_section .field select, input[type="text"] {
  font-family: "Lato", sans-serif;
  font-weight: 300 !important;
  box-shadow: none !important;
  padding: 0px 15px !important;
  border: none !important;
  height: 40px;
  color: #454d53;
  font-size: 15px;
  margin-bottom: 0px !important;
}

.cards_section .search_fields_left li {
  width: 185px;
  float: left;
  margin: 0px !important;
  margin-right: 8px !important;
}

.cards_section .search_fields_right li {
  width: 185px;
  float: right;
  margin: 0px !important;
  margin-left: 8px !important;
}

.cards_section .search_fields_right li input[type="submit"] {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #fff !important;
  font-weight: 300;
  background: #000;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 12px 25px;
  width: 100%;
  border: none;
  display: inline-block;
  height: 40px;
  background-color: #4BB4BF !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.cards_section .search_fields_right li input[type="submit"]:hover {
  background-color: #eeaa02 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.cards_section .event_card_content_section {
  padding: 0px !important;
}

.cards_section .content_container {
  padding: 30px 0px !important;
  min-height: 822px;
}

.cards_section .content_details {
  padding: 15px 0px !important;
  width: 1170px;
  margin: auto;
}

.cards_section .card_container ul {
  list-style-type: none;
}

.cards_section .card_container {
  margin: auto;
}

.cards_section .card_container ul {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #414249;
  margin: 0px !important;
}

.cards_section .card_container ul li {
  list-style-type: none;
  margin-bottom: 30px;
  padding: 0px 15px !important;
}

.cards_section .image_content_info {
  font-size: 15px;
  font-weight: bold;
  padding: 0px !important;
  width: 1140px;
  background-color: #fff;
  border-bottom: 2px solid rgba(225, 71, 62, 0.3) !important;
}

.cards_section .banner .ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.cards_section .banner .ribbon-green {
  font: bold 10px Sans-Serif;
  opacity: 0.95;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  position: relative;
  padding: 5px 0;
  left: -40px;
  top: 8px;
  width: 114px;
  background-color: #58CDA6;
  color: #283041;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px0px3pxrgba 0, 0, 0, 0.3;
}

// ------ left_evt -------
.cards_section .left_evt {
  float: left;
  margin-right: 8px;
}

.cards_section .img_shade_cover {
  background-color: rgba(47, 63, 91, 0.2) !important;
  position: absolute;
  width: 250px;
  height: 250px;
}

.cards_section .img_shade_cover a  {
  position: absolute;
  left: 228px;
  top: 8px;
  color: #fff !important;
}

.cards_section .left_evt .img_cover {
  width: 250px;
  height: 250px;
  background-color: rgba(40, 48, 45, 0.1) !important;
}

.cards_section .left_evt img {
  width: 250px;
  height: 250px;
}


// ------ middle_evt -------
.cards_section .middle_evt {
  padding: 15px;
  float: left;
  margin-right: 8px; 
  width: 655px;
}

.cards_section .card_container .title {
  margin-bottom: 12px;
}

.cards_section .card_container .title a {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  color: #414249 !important;
  font-weight: bold;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.cards_section .card_container .title a:hover {
  color: #E34B51 !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.cards_section .middle_evt .info {
  margin-bottom: 8px;
  letter-spacing: 1px;
}

.cards_section .info i {
  font-size: 14px;
  margin-right: 5px;
}

.cards_section .middle_evt .fa-map-marker {
  margin-right: 8px;
  font-size: 19px;
}

.cards_section .middle_evt .fa-map-pin {
  margin-left: 3px;
  margin-right: 8px;
}

.cards_section .middle_evt .city_country {
  text-transform: capitalize;
}

.cards_section .middle_evt .divider {
  border-top: 1px solid #ededf3;
  margin: 20px 0px;
}

.cards_section .middle_evt_bottom_info li {
  font-size: 12px;
  text-transform: capitalize;
  margin: 0px !important;
  padding: 0px !important;
  margin-right: 35px !important;
  background-color: transparent !important;
}

.cards_section .middle_evt_bottom_info .header {
  font-size: 15px !important;
  font-weight: bold;
  color: #414249 !important;
}

.cards_section .middle_evt_bottom_info .content_header {
  color: #E34B51;
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
}

.cards_section .middle_evt_bottom_info .content {
  margin-top: 5px;
  font-size: 18px;
}

.cards_section .middle_evt_bottom_info .content a {
  margin-top: 5px;
  font-size: 18px !important;
  color: #414249 !important;
  text-align: center !important;
}

.cards_section .middle_evt_bottom_info .content a:hover {
  color: #E34B51 !important;
  font-weight: bold;
}

.cards_section .middle_evt_bottom_info .report_content {
  float: right;
  margin-right: 0px !important;
}

.cards_section .middle_evt_bottom_info .report_content a {
  margin-top: 28px !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.cards_section .middle_evt_bottom_info .report_content a:hover {
  color: #E34B51 !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.cards_section .content_gender i {
  font-size: 22px !important;
  margin-right: 3px;
}

.cards_section .content_available {
  color: #58CDA6;
  font-weight: bold;
  margin-top: 4px;
}

.cards_section .content_divider {
  margin: 0px 10px;
}

.cards_section .content_soldout {
  color: #E34B51;
  font-weight: bold;
  margin-top: 4px;
}

// ------ right_evt -------
.cards_section .right_evt {
  padding: 5px 1px 5px 5px;
  text-align: center;
  float: left;
  width: 215px;
}

.cards_section .right_evt .right_evt_container {
  background-color: rgba(47, 63, 91, 0.03) !important;
  padding: 30px 20px 10px 20px;
}

.cards_section .right_evt i {
  font-size: 25px;
  margin-bottom: 25px;
}

.cards_section .right_evt .date {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  color: #414249 !important;
  margin-bottom: 18px;
}

.cards_section .right_evt .month {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #414249 !important;
  margin-bottom: 15px;
}

.cards_section .right_evt .divider {
  margin: 0px 5px !important;
  font-weight: 300 !important;
}

.cards_section .right_evt .btn_booknow a {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #fff !important;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 10px 0px;
  width: 100%;
  display: inline-block;
  background-color: #E34B51 !important;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.cards_section .right_evt .btn_booknow a:hover {
  background-color: rgba(47, 63, 91, 0.5) !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.cards_section .right_evt .btn_booked a {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #fff !important;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 10px 0px;
  width: 100%;
  display: inline-block;
  background-color: #283041 !important;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.cards_section .right_evt .btn_soldout a {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #fff !important;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 10px 0px;
  width: 100%;
  display: inline-block;
  background-color: #283041 !important;
  background-color: rgba(47, 63, 91, 0.5) !important;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.cards_section .right_evt .btn_save a {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #fff !important;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 10px 0px;
  width: 100%;
  display: inline-block;
  background-color: rgba(238, 170, 2, 0.6) !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.cards_section .right_evt .btn_save a:hover {
  background-color: #eeaa02 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.cards_section .right_evt .btn_unsave a {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #fff !important;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 10px 0px;
  width: 100%;
  display: inline-block;
  background-color: rgba(47, 63, 91, 0.5) !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.cards_section .right_evt .btn_unsave a:hover {
  background-color: #eeaa02 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}












