/*=========================================
    Section: connectrequest email / friendrequest email
    File: views / mailer / connectrequest.html.erb
  =========================================*/

.connectrequest_image {
  border:0;
  display:block;
  border-radius:200px;
  float:left; 
  margin-right:10px;
}