/*=========================================
    Section: user detailed matches page
    File: views / users / _content_connect_matches.html.erb
  =========================================*/

.connectmatches_section .connectmatches_inner_section {
  background-color: #fff !important;
  background: url("img_background_main.png") repeat;
  padding: 0px !important;
  min-height: 822px;
}

.connectmatches_section .connectmatches_section {
  padding: 0px !important;
}

.connectmatches_section .content_container {
  padding: 30px 0px !important;
  min-height: 822px;
}

.connectmatches_section .content_details {
  padding: 15px 0px !important;
  width: 1170px;
  margin: auto;
}


