/*=========================================
    Section: user profile page
    File: views / users / _content_socials_wall.html.erb
    File: views / users / _show.html.erb
  =========================================*/