/*=========================================
    Section: profile page
    File: views / users / _show.html.erb
    File: views / users / _content_users_upcomingevents.html.erb
  =========================================*/

.event_container ul {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #414249;
  margin: 0px !important;
}

.event_container ul li {
  list-style-type: none;
  margin-bottom: 15px;
  background-color: rgba(47, 63, 91, 0.03);
  padding: 15px;
}

.event_container .title {
  margin-bottom: 5px;
}

.event_container .title a {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #414249 !important;
  font-weight: bold;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.event_container .title a:hover {
  color: #E34B51 !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.image_content_info {
  font-size: 11px;
  font-weight: bold;
  padding: 0px !important;
}


.left_evt {
  float: left;
}

.left_evt img {
  width: 150px;
}

.right_evt {
  margin-left: 160px;
}

.right_evt .info {
  margin-bottom: 2px;
  letter-spacing: 1px;
}

.right_evt i {
  font-size: 14px;
  margin-right: 5px;
}

.right_evt .fa-map-pin {
  margin-left: 3px;
  margin-right: 8px;
}

.right_evt .city_country {
  text-transform: capitalize;
}

.right_evt .divider {
  border-top: 1px solid #ededf3;
  margin: 7px 0px;
}

.right_evt .description {
  color: #7C93A7;
  font-weight: 300;
  letter-spacing: 1px;
}

.info_action_container {
  // background-color: rgba(47, 63, 91, 0.03) !important;
  // height: 45px;
  margin-top: 10px;
}

.info_action_container ul {
  margin: 0px !important;
  display: inline-block;
}


.left_evt_info {
  // width: 230px;
  float: left;
}

.left_evt_info .header {
  font-size: 10px !important;
  color: #414249 !important;
  font-weight: bold;
}

.left_evt_info li {
  font-size: 12px;
  text-transform: capitalize;
  margin: 0px !important;
  padding: 0px !important;
  margin-right: 35px !important;
  background-color: transparent !important;
}


.right_evt_info {
  float: right;
}

.right_evt_info li {
  font-size: 12px;
  text-transform: capitalize;
  margin: 0px !important;
  padding: 0px !important;
  background-color: transparent !important;
}

.right_evt_info .btn_attend a {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #fff !important;
  letter-spacing: 1px;
  background-color: #E34B51;
  margin-right: 8px !important;
  padding: 5px 25px;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}


.right_evt_info .btn_attend a:hover {
  background-color: rgba(47, 63, 91, 0.5) !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}


.right_evt_info .btn_save a {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #fff !important;
  letter-spacing: 1px;
  background-color: #E34B51;
  padding: 5px 25px;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.right_evt_info .btn_save a:hover {
  background-color: rgba(47, 63, 91, 0.5) !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}



// .left_evt_info li {
//   font-size: 12px;
//   padding: 0px !important;
//   background-color: transparent !important;
//   text-transform: capitalize;
//   margin: 0px;
//   margin-right: 35px !important;
// }

// .info_action_container ul li {
//   font-size: 12px;
//   padding: 0px !important;
//   background-color: transparent !important;
//   text-transform: capitalize;
//   margin: 0px;
//   margin-right: 35px !important;
// }



// .left_evt_info {
//   float: left;
// }



// .right_evt_info {
//   float: right;
// }




// .right_evt_info .btn_save a {
//   background-color: red;
//   padding: 5px 25px;
// }





