/*=========================================
    Section: events show page
    File: views / events / _content_event_itinerary.html.erb
    File: views / events / _show.html.erb
  =========================================*/

