/*=========================================
    Section: profile page
    File: views / shared / _content_dropdownbox_users_profile.html.erb
  =========================================*/


.userprofile_dropdownbox_inner_container ul {
  list-style: none;
}

.userprofile_dropdownbox_inner_container ul li {
  border-top: 1px solid #ededf3;
}

// ---------------------------
//   workings
// ---------------------------


li .list_cover {
  padding: 10px 15px;
}

.userprofile_dropdownbox_inner_container li .list_cover i {
  color: #283041 !important;
}
