/*=========================================
    Section: sponsorship page
    File: views / static pages / sponsorshippg.html.erb
  =========================================*/

.sponsorship_section {
  padding: 0px !important;
  background: url(img_background_main.png) repeat;
}

// ------------------------------------
//   left_section
// ------------------------------------
.sponsorship_section .left_section {
  padding: 15px !important;
  background-color: #283041;
  position: fixed;
}

.sponsorship_section .left_section .company_section {
  font-family: "Lato", sans-serif !important;
  color: #fff;
  position: relative;
}

.sponsorship_section .left_section .business_name {
  font-family: "Lato", sans-serif !important;
  font-size: 20px;
  font-weight: 300;
  text-transform: capitalize;
  position: absolute;
  top: 3px;
}

.sponsorship_section .left_section .business_logo {
  float: right;
}

.sponsorship_section .left_section .business_logo img {
  width: 35px !important;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.sponsorship_section .left_section .business_logo img:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.sponsorship_section .left_section .divider {
  margin: 15px 0px 0px;
  border-bottom: 1px solid #727985;
  // border-bottom: 1px solid #364760;
}

.sponsorship_section .left_section .listed_sections ul {
  list-style: none;
  margin: 0px !important;
}

.sponsorship_section .left_section .listed_sections ul li {
  border-bottom: 1px solid #727985;
}

.sponsorship_section .left_section li:last-child {
    border-bottom: none !important;
}

.listed_sections ul li i {
  margin-right: 5px;
}

.sponsorship_section .left_section .listed_sections ul li a {
  font-family: "Lato", sans-serif !important;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff !important;
  text-transform: capitalize;
  padding: 16px 10px;
  display: inline-block;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.sponsorship_section .listed_sections ul li a:hover {
  color: #E34B51 !important;
  background-color: #364760 !important;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}


// ------------------------------------
//   right_section
// ------------------------------------
.sponsorship_section .right_section {
  padding: 15px !important;
}

.sponsorship_section .right_section .sonpsorship_content {
  padding: 30px 70px !important;
  background-color: #fff;
  color: #283041 !important;
  margin-bottom: 40px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
}

.sponsorship_section .right_section .pagecover_content {
  background: url(img_background.jpg) no-repeat;
  background-position: 60% 40%;
  box-shadow: inset 25px 25px 200px 15px #000;
  // box-shadow: inset 0px 0px 75px 5px #000;
  height: 574px;
  padding: 0px !important;
}

.sponsorship_section .right_section .pagecover_inner_content {
  margin: 15px 15px 15px !important;
  background-color: rgba(255, 255, 255, 0.25) !important;
  padding: 25px;
}

.sponsorship_section .right_section .main_text {
  font-family: "Lato", sans-serif !important;
  font-weight: 300;
  font-size: 75px;
  letter-spacing: 1px;
  color: #fff !important;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 3px 10px #000;
}

.sponsorship_section .right_section .sub_text {
  font-family: "Lato", sans-serif !important;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 1px;
  color: #fff !important;
  text-transform: capitalize;
  text-align: center;
  text-shadow: 2px 3px 10px #000;
}

.sponsorship_section .right_section .img_banner_content {
  position: absolute;
  bottom: 0;
  opacity: 0.6;
  height: 100px;
  width: 100% !important;
  background: url(img_banner_party_01.png) repeat;
  border-bottom: 2px solid rgba(225, 71, 62, 0.7);
}

.sponsorship_section .right_section .main_img {
  font-family: "Lato", sans-serif !important;
  font-weight: 300;
  font-size: 75px;
  letter-spacing: 1px;
  color: #fff !important;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}


// ------------------------------------
//   workings
// ------------------------------------


.sp_main_header {
  font-family: "Lato", sans-serif !important;
  font-weight: bold;
  font-size: 45px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.page_number_section {
  position: relative;
  margin-top: 40px;
}

.page_number_line {
  background-color: red;
  border-bottom: 1px solid #cccccc;
  opacity: 0.5;
}

.page_number_content {
  background-color: #fff;
  width: 50px;
  height: 25px;
  margin: auto;
}

.page_number {
  font-family: "Lato", sans-serif !important;
  // color: #283041;
  color: #cccccc;
  text-align: center;
  background-color: #fff;
  width: 50px;
  height: 23px;
  position: absolute;
  bottom: 13px;
}































// ------------------------------------
//   old_content
// ------------------------------------
.aboutus_section_tree_link_container {
  width: 960px !important;
  margin: auto;
}

.aboutus_section {
  min-height: 1080px;
  background: url("img_background_main.png") repeat;
  padding: 0px !important;
}
@media only screen and (max-width: 960px) {
  .aboutus_section {
    min-height: 1200px;
  }
}

.aboutus_section .banner_img_cover {
  background: url("img_background_banner.jpg")  no-repeat;
  height: 200px;
  background-size: cover;
  background-position: 50% 0%;
  border-bottom: 2px solid #eeaa02;
}

.aboutus_section .aboutus_banner_text {
  font-family: "Lato", sans-serif !important;
  color: #fff !important;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  text-transform: capitalize;
  padding: 30px 5px;
}
@media only screen and (min-width: 630px) {
  .aboutus_section .aboutus_banner_text {
    padding: 60px 5px;
  }
}

.aboutus_section .main_content_section {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.aboutus_section .content_info {
  text-align: center;
  padding: 45px 15px;
}
@media only screen and (min-width: 960px) {
  .absolute_content {
    width: 960px !important;
    margin: auto;
  }
}

.aboutus_section .title {
  font-family: "Lato", sans-serif !important;
  font-size: 45px !important;
  font-weight: 300;
  color: #414249;
  text-transform: capitalize;
}

.aboutus_section .subtitle {
  font-family: "Lato", sans-serif !important;
  font-size: 15px !important;
  font-weight: 300;
  color: #414249;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.aboutus_section .text_info {
  font-family: "Lato", sans-serif !important;
  font-size: 15px !important;
  font-weight: 300;
  color: #414249;
}
@media only screen and (min-width: 1036px) {
  .aboutus_section .text_info {
    margin: auto;
    width: 960px;
  }
}

.aboutus_section .team_member {
  margin-bottom: 55px;
}

.aboutus_section .team_img {
  background-color: rgba(225, 71, 62, 0.3) !important;
  padding: 5px;
  border-radius: 200px;
  width: 115px;
  height: 115px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.aboutus_section .team_img img {
  border-radius: 200px;
  margin-bottom: 10px;
}

.aboutus_section .team_name {
  font-family: "Lato", sans-serif !important;
  font-size: 30px !important;
  font-weight: 300;
  color: #414249;
  text-transform: capitalize;
  line-height: 35px;
}

.aboutus_section .team_position {
  font-family: "Lato", sans-serif !important;
  font-size: 15px !important;
  font-weight: 300;
  color: #E34B51;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.aboutus_section .team_note {
  font-family: "Lato", sans-serif !important;
  font-size: 18px !important;
  font-weight: 300;
  color: #414249;
  margin: auto;
}
@media only screen and (min-width: 830px) {
  .aboutus_section .team_note {
    width: 600px;
  }
}

.aboutus_section .team_members ul {
  margin: 0px !important;
  list-style-type: none;
  margin-bottom: 50px !important;
}
@media only screen and (min-width: 680px) {
  .aboutus_section .team_members ul {
    width: 660px;
    margin: auto !important;
  }
}

.aboutus_section .team_members ul li {
  margin: 25px 25px 0px 25px !important;
}
@media only screen and (min-width: 555px) {
  .aboutus_section .team_members ul li {
    float: left;
  }
}

.aboutus_section .sub_team_img {
  background-color: rgba(225, 71, 62, 0.3) !important;
  padding: 5px;
  border-radius: 200px;
  width: 115px;
  height: 115px;
  margin: auto;
  margin-top: 15px;
}

.aboutus_section .sub_team_img img {
  border-radius: 200px;
}

.aboutus_section .sub_team_members {
  font-family: "Lato", sans-serif !important;
  font-size: 12px !important;
  font-weight: 300;
  color: #414249;
  text-transform: capitalize;
  line-height: 35px;
}

.aboutus_section .btn_contact a {
  font-family: 'Lato', sans-serif;
  font-size: 20px !important;
  font-weight: 300;
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #E34B51;
  padding: 15px 45px;
  border-radius: 2px;
  margin-top: 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
@media only screen and (min-width: 400px) {
  .aboutus_section .btn_contact a {
    font-size: 40px !important;
  }
}

.aboutus_section .btn_contact a:hover {
  background-color: #58CDA6 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
















































