/*=========================================
    Section: events show page
    File: views / events / _content_adverts_sponsors.html.erb
    File: views / events / _show.html.erb
  =========================================*/

.ad_spnonsor_section .divider {
  border-top: 1px solid #fff;
}



// ---------------------------
// sponsors
// ---------------------------
.sponsor_section {
  background-color: transparent;
  padding: 5px !important;
}

.sponsor_container {
  background-color: rgba(47, 63, 91, 0.1);
  padding: 15px !important;
}

.sponsor_inner_content {
  background-color: red;
  height: 222.5px;
  overflow: hidden;
}








// ---------------------------
// adverts
// ---------------------------
.ad_section {
  background-color: transparent;
  padding: 5px !important;
}

.ad_container {
  background-color: rgba(47, 63, 91, 0.1);
  padding: 15px !important;
}

.ad_inner_content {
  background-color: red;
  height: 222.5px;
  overflow: hidden;
}







