/*=========================================
    Section: user activities in profile page
    File: views / users / _show.html.erb
    File: views / shared / _content_users_feed.html.erb
    File: views / shared / _content_users_feed_activities.html.erb
  =========================================*/