/*=========================================
    Section: events show page
    File: views / events / _content_adverts_sponsors.html.erb
    File: views / events / _show.html.erb
  =========================================*/

.ad_spnonsor_section .divider {
  border-top: 1px solid #fff;
}


.ad_sponsor_mian_section {
  padding: 0px !important
}




// ---------------------------
// adverts
// ---------------------------

.ad_sponsor_mian_section .ad_section {
  background-color: transparent;
  padding: 5px !important;
}

.ad_sponsor_mian_section .ad_section .ad_container {
  background-color: rgba(47, 63, 91, 0.1);
  padding: 15px !important;
}

.ad_sponsor_mian_section .ad_section .ad_inner_content {
  background-color: #fff;
  height: 222.5px;
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 1185px) {
  .ad_sponsor_mian_section .ad_section .ad_inner_content {
    height: 63px;
  }
}

@media only screen and (max-width: 1185px) {
  .ad_sponsor_mian_section .ad_section .ad_inner_content a img {
    display: none;
  }
}

.ad_sponsor_mian_section .ad_section .text_conent {
  padding: 2px 8px;
  background-color: rgba(47, 63, 91, 0.5) !important;
  position: absolute;
  bottom: 0;
  height: 63px;
  overflow: hidden;
}

.ad_sponsor_mian_section .ad_section .text_conent_header {
  line-height: 12px;
}

.ad_section .text_conent_header a {
  font-size: 12px;
  text-transform: capitalize;
  color: #fff !important;
}

.ad_section .text_conent_header a:hover {
  text-decoration: underline;
}

.ad_section .text_conent_link a {
  color: #fff !important;
  font-size: 10px;
}

.ad_sponsor_mian_section .ad_section .text_conent_link a:hover {
  text-decoration: underline;
}

.ad_sponsor_mian_section .ad_section .main_content {
  font-size: 9px;
  color: #fff;
}

.ad_sponsor_mian_section .ad_section .add_type {
  height: 10px;
  width: 10px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 200px;
  margin: 14px 15px 15px;
}

.ad_sponsor_mian_section .yellow_sponsor {
  background-color: #eeaa02;
}

.ad_sponsor_mian_section .red_advert {
  background-color: #E34B51;
}

.ad_sponsor_mian_section .blue_partnership {
  background-color: #4BB4BF;
}




















