/*=========================================
    Section: profile page
    File: views / users / _show.html.erb
    File: views / users / _content_users_upcomingevents.html.erb
  =========================================*/

.event_container ul {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0px !important;
}

.event_container ul li {
  list-style-type: none;
  margin-bottom: 15px;
  background-color: rgba(47, 63, 91, 0.03) !important;
  padding: 15px;
}

.event_container .title {
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 5px;
}