/*=========================================
    Section: profile page
    File: views / users / _show.html.erb
    File: views / users / _content_users_upcomingevents.html.erb
  =========================================*/

.event_container ul {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #414249;
  margin: 0px !important;
}

.event_container ul li {
  list-style-type: none;
  margin-bottom: 15px;
  background-color: rgba(47, 63, 91, 0.03) !important;
  padding: 15px;
}

.event_container .title {
  margin-bottom: 5px;
}

.event_container .title a {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #414249 !important;
  font-weight: bold;
  text-transform: capitalize;
}

.image_content_info {
  // background-color: red;
  font-size: 11px;
  font-weight: bold;
  padding: 0px !important;
}

.image_content_info img {
  width: 150px;
}

.left_evt {
  float: left;
}

.right_evt {
  margin-left: 160px;
}

.right_evt .info {
  margin-bottom: 2px;
  letter-spacing: 1px;
}

.right_evt i {
  font-size: 14px;
  margin-right: 5px;
}

.right_evt .fa-map-pin {
  margin-left: 3px;
  margin-right: 8px;
}

.right_evt .city_country {
  text-transform: capitalize;
}

.right_evt .divider {
  border-top: 1px solid #ededf3;
  margin: 7px 0px;
}

.right_evt .description {
  color: #7C93A7;
  font-weight: 300;
  letter-spacing: 1px;
}