/*=========================================
    Section: attendants page
    File: views / shared / _content_events_external_attendees.html.erb
    File: views / events / _attendants.html.erb
  =========================================*/

.event_external_attendee_list {
  text-transform: capitalize;
}

.event_external_attendee_list a {
  text-transform: capitalize;
}

.event_external_attendee_list .create_edit_btn a {
  background-color: #E34B51;
  color: #fff !important;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.event_external_attendee_list .create_edit_btn a:hover {
  background-color: #58CDA6 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}


