/*=========================================
    Section: events page
    File: views / events / _index.html.erb
  =========================================*/

.events_section .events_inner_section {
  background-color: #fff !important;
  background: url("img_background_main.png") repeat;
  padding: 0px !important;
  min-height: 822px;
}

.events_section .events_inner_section h1 {
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  font-weight: 200;
  text-align: center;
  margin: 0px;
  color: #fff;
  text-transform: capitalize;
  word-spacing: 3px;
}
@media only screen and (max-width: 670px) {
  .events_section .events_inner_section h1  {
    font-size: 30px;
  }
}

.events_section .search_container {
  height: 65px;
  background-color: rgba(47, 63, 91, 0.1);
}

.events_section .search_inner_container {
  height: 65px;
  width: 1170px;
  margin: auto;
}

.events_section .event_content_section {
  padding: 0px !important;
}

.events_section .content_container {
  padding: 30px 0px !important;
  min-height: 822px;
}

.events_section .header_section {
  padding: 15px 0px;
}

.events_section .header {
  font-family: "Lato", sans-serif;
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.events_section .sub_header {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: center;
  padding: 15px !important;
}

.events_section .content_details {
  padding: 15px 0px !important;
  width: 1170px;
  margin: auto;
}

.events_section .event_container ul {
  list-style-type: none;
  margin: 0px;
}

// .events_section .event_container ul li {
//   margin-bottom: 15px !important;
//   float: left !important;
// }

.events_section .event_container {
  margin: auto;
}

// --------------------------
//     workings
// --------------------------


.events_section .event_container ul {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #414249;
  margin: 0px !important;
}

.events_section .event_container ul li {
  list-style-type: none;
  margin-bottom: 30px;
  // background-color: rgba(47, 63, 91, 0.03);
  background-color: #fff;
  padding: 0px !important;
  border-bottom: 2px solid rgba(225, 71, 62, 0.3) !important;
}

.events_section .image_content_info {
  font-size: 15px;
  font-weight: bold;
  padding: 0px !important;
}

.events_section .banner .ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.events_section .banner .ribbon-green {
  font: bold 10px Sans-Serif;
  opacity: 0.95;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  position: relative;
  padding: 5px 0;
  left: -40px;
  top: 8px;
  width: 114px;
  background-color: #58CDA6;
  color: #283041;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px0px3pxrgba 0, 0, 0, 0.3;
}


.events_section .left_evt {
  float: left;
}

.events_section .left_evt .img_cover {
  width: 250px;
  height: 250px;
  margin-right: 15px;
  background-color: rgba(40, 48, 45, 0.1) !important;
}

.events_section .left_evt img {
  width: 250px;
  height: 250px;
}

.events_section .right_evt {
  padding: 15px;
}

.events_section .event_container .title {
  margin-bottom: 12px;
}

.events_section .event_container .title a {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  color: #414249 !important;
  font-weight: bold;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.events_section .event_container .title a:hover {
  color: #E34B51 !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.events_section .right_evt .info {
  margin-bottom: 8px;
  letter-spacing: 1px;
}

.events_section .right_evt i {
  font-size: 14px;
  margin-right: 5px;
}

.events_section .right_evt .fa-map-marker {
  margin-right: 8px;
  font-size: 19px;
}

.events_section .right_evt .fa-map-pin {
  margin-left: 3px;
  margin-right: 8px;
}



.events_section .right_evt .city_country {
  text-transform: capitalize;
}

.events_section .right_evt .divider {
  border-top: 1px solid #ededf3;
  margin: 20px 0px;
}

.events_section .right_evt .description {
  color: #7C93A7;
  font-weight: 300;
  letter-spacing: 1px;
}

.events_section .info_action_container ul {
  margin: 0px !important;
  display: inline-block;
}


.events_section .left_evt_info {
  float: left;
}

.events_section .left_evt_info .header {
  font-size: 10px !important;
  color: #414249 !important;
}

.events_section .left_evt_info .content_header {
  color: #E34B51;
  font-weight: bold;
}

.events_section .left_evt_info .content a {
  font-size: 12px !important;
  color: #414249 !important;
  text-align: center !important;
}

.events_section .left_evt_info .content a:hover {
  color: #E34B51 !important;
  font-weight: bold;
}

.events_section .left_evt_info li {
  font-size: 12px;
  text-transform: capitalize;
  margin: 0px !important;
  padding: 0px !important;
  margin-right: 35px !important;
  background-color: transparent !important;
}


.events_section .right_evt_info {
  float: right;
}

.events_section .right_evt_info li {
  font-size: 12px;
  text-transform: capitalize;
  margin: 0px !important;
  padding: 0px !important;
  background-color: transparent !important;
}

.events_section .right_evt_info .btn_attend a {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #fff !important;
  letter-spacing: 1px;
  background-color: #E34B51;
  margin-right: 8px !important;
  padding: 5px 25px;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.events_section .right_evt_info .btn_attend a:hover {
  background-color: #eeaa02 !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.events_section .right_evt_info .btn_save a {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #fff !important;
  letter-spacing: 1px;
  background-color: rgba(47, 63, 91, 0.5) !important;
  padding: 5px 25px;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.events_section .right_evt_info .btn_save a:hover {
  background-color: #eeaa02 !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}



































