/*=========================================
    Section: home page
    File: views / static_pages / homepg.html.erb
  =========================================*/

.footer_main_section {
  padding: 0px !important;
}

.footer_main_section .header {
  font-family: "Lato", sans-serif;
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: center;
  padding: 0px 15px !important;
}

.footer_main_section .sub_header {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: center;
  padding: 15px !important;
}

.content_details {
  padding: 15px 0px !important;
}

.footer_main_section .feed_container ul {
  list-style-type: none;
  margin: 0px !important;
}

.footer_main_section .feed_container ul li {
  margin-bottom: 15px !important;
}

.footer_main_section .feed_container {
  margin: auto;
}
@media only screen and (min-width: 1522px) {
.footer_main_section .feed_container {
    width: 1500px;
  }
}

.footer_main_section .feed_inner_section {
  // background-color: green;
  background-color: #fff;
  margin-bottom: 30px;
}

.footer_main_section .feed {
  position: relative;
}

.footer_main_section .feed_header {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #fff;
  word-spacing: 3px;
  text-transform: uppercase;
  background-color: rgba(47,63,91,0.5) !important;
  position: absolute;
  z-index: 1000;
  height: 80px;
  width: 100%;
  padding: 10px 15px;
}

.footer_main_section .feed_date {
  margin-bottom: 3px;
}

.footer_main_section .feed_location {
  margin-bottom: 3px;
}
@media screen and (min-width: 640px) and (max-width: 1145px) {
 .footer_main_section .feed_location {
  display: none;
  } 
}

.footer_main_section .feed_header .date {
  margin-right: 5px;
}

.footer_main_section .feed_header .location {
  margin-right: 10px;
  margin-left: 2px;
} 

.footer_main_section .feed_header .price {
  margin-right: 10px;
  margin-left: 2px;
} 

.footer_main_section .feed_img img {
  width: 100%;
}

.footer_main_section .feed_user {
  width: 20%;
  margin: auto;
  height: 20%;
  position: relative;
}

.footer_main_section .feed_user img {
  position: absolute;
  z-index: 1000;
  bottom: -20px;
  background-color: #fff;
  padding: 2px;
}

.footer_main_section .feed_sub_title {
  margin-top: 25px;
  text-align: center;
  border-bottom: 1px solid #f8f8f9;
}

.footer_main_section .feed_organizer {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #888888;
  text-transform: uppercase;
}

.footer_main_section .feed_title {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #283041;
  text-transform: uppercase;
  margin-bottom: 15px;
  line-height: 25px;
}

.footer_main_section .feed_comments_container {
  padding: 10px;
}
@media only screen and (max-width: 960px) {
  .footer_main_section .feed_comments_container {
    display: none;
  }
}

.footer_main_section .feed_comments_container ul li {
  margin: 0px !important;  
}

.footer_main_section .feed_inner_comment_section {
  padding: 5px !important;
}

.footer_main_section .feed_comments_container img {
  border-radius: 2px;
  padding-right: 5px !important;
}

.footer_main_section .feed_comment_img {
  padding: 0px !important;
}

.footer_main_section .feed_comment {
  padding: 0px !important;
}

.footer_main_section .feed_comment span {
  font-family: "Lato", sans-serif;
  color: #283041;
  background-color: rgba(47,63,91,0.02) !important;
  padding: 5px !important;
}

.footer_main_section .feed_comment span b a {
  font-family: "Lato", sans-serif;
  color: #E34B51 !important;
  margin-right: 5px;
}

.footer_main_section .feed_comment span b a:hover {
  text-decoration: underline;
}

.footer_main_section .booking {
  border-top: 1px solid #f8f8f9;
  padding: 15px;
}

.footer_main_section .booking a {
  font-family: "Lato", sans-serif;
  color: #fff !important;
  text-transform: uppercase;
  padding: 15px;
  background-color: #E34B51;
  width: 100% !important;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.footer_main_section .booking a:hover {
  background-color: #58CDA6 !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.footer_main_section .background_dark {
  padding: 30px 0px !important;
  background-size: cover;
  background-color: #283041;
  height: 600px;
  border-top: 1px solid #393838;
}
@media only screen and (max-width: 600px) {
  .footer_main_section .background_dark {
    height: 750px;
  }
}

.footer_main_section .background_dark .header {
  color: #fff !important;
}

.footer_main_section .background_dark .sub_header {
  color: #fff !important;
  font-weight: 200 !important;
}

.footer_main_section .social_media {
  text-align: center;
}

.footer_main_section .social_media a {
  color: #fff !important;
  font-size: 60px;
  padding: 0px 15px;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.footer_main_section .social_media a:hover {
  color: #E34B51 !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.footer_main_section .phone_img_container {
  width: 295px;
  margin: auto;
  margin-top: 25px;
}

.footer_main_section .apple_store_img_container {
  position: absolute;
  top: 350px;
  right: 250px;
  position: relative;
}

.footer_main_section .apple_store_img_container img {
  border-radius: 3px;
  position: absolute;
  bottom: 700px;
}
@media only screen and (max-width: 815px) {
  .footer_main_section .apple_store_img_container img {
    display: none;
  }
}

.footer_main_section .howitworks_container {
  background-color: rgba(47,63,91,0.1) !important;
  text-align: center;
  padding: 15px;
}

.footer_main_section .howitworks_container i {
  opacity: 0.8;
}

.footer_main_section .howitworks_container .fa-mobile {
  font-size: 100px;
  color: #283041;
}

.footer_main_section .howitworks_container .fa-calendar {
  font-size: 60px;
  color: #283041;
  margin: 20px;
}

.footer_main_section .howitworks_container .fa-user-plus {
  font-size: 60px;
  color: #283041;
  margin: 20px;
}

.footer_main_section .howitworks_container .fa-users {
  font-size: 60px;
  color: #283041;
  margin: 20px;
}

.footer_main_section .howitworks_container .cover_number {
  background-color: #E34B51;
  width: 40px;
  padding: 10px;
  margin: auto;
  border-radius: 2px;
  font-size: 15px;
  color: #fff;
  margin-bottom: 15px;
}

.footer_main_section .howitworks_container .header_main {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.footer_main_section .howitworks_container .header_sub {
  text-transform: capitalize;
  font-size: 12px; 
  color: #888888;
}

.footer_main_section .footer_links {
  border-top: 1px solid #393838;
  border-bottom: 1px solid #393838;
  padding: 20px;
  margin: auto;
  margin-top: 40px;
}

.footer_main_section .footer_links ul {
  margin-bottom: 0px !important;
}
@media only screen and (min-width: 660px) {
  .footer_main_section .footer_links ul {
    // width: 505px;
    width: 645px;
    margin: auto;
  }
}

@media only screen and (max-width: 660px) {
  .footer_main_section .footer_links ul li {
    width: 100% !important;
    text-align: center !important;
    padding: 15px 0px !important;
  }
}

.footer_main_section .footer_links a {
  font-family: "Lato", sans-serif;
  color: #fff !important;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: capitalize;
}


.footer_main_section .footer_links a:hover {
  color: #E34B51 !important;
}

.footer_main_section .copyright_content {
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: auto;
  margin-top: 25px;
  text-align: center;
}

.footer_main_section .aboutus {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  padding: 0px 15px !important;
}















