/*===================================================
    Page: header user signedin nav
    File: views/shared/_header.html.erb
  ===================================================*/

.nav_user_section {
  background-color: #283041;
  padding: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.nav_user_inner_section {
  margin: auto ;
  width: 1170px;
}

.nav_user_section .nav_list ul {
  margin: 0px !important;
}

.nav_user_section .nav_list .left .logo_text {
  margin-left: 0px;
}

.nav_user_section .nav_list .left .logo_text a {
  font-family: 'Lato', sans-serif;
  font-size: 22px !important;
  font-weight: 300;
  color: #fff !important;
  letter-spacing: 5px;
  margin-top: 11px !important;
  margin-bottom: 11px !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.nav_user_section .nav_list .left .logo_text a:hover {
  // color: #38a581 !important;
  color: #E34B51  !important;
  // font-weight: bold !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.nav_user_section .nav_list ul .link {
  font-family: 'Lato', sans-serif;
  font-size: 12px !important;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 11px !important;
  margin-bottom: 11px !important;
}

.nav_user_section .nav_list ul .link a {
  color: #fff !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.nav_user_section .nav_list ul .link a:hover {
  text-decoration: underline;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.create_button a {
  font-family: 'Lato', sans-serif;
  font-size: 12px !important;
  font-weight: 300;
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  // background-color: #E34B51;
  background-color: #E34B51;
  padding: 8px 10px;
  border-radius: 2px;
  margin-top: 2px;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.create_button a:hover {
  // background-color: #283041 !important;
  background-color: #58CDA6 !important;
}

.nav_user_section .notification_li .fa-users {
  color: #fff !important;
  margin-top: 10px;
  font-size: 18px;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.nav_user_section .notification_li .fa-bell {
  color: #fff !important;
  margin-top: 10px;
  font-size: 18px;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.nav_user_section .notification_li .fa-comment {
  color: #fff !important;
  margin-top: 10px;
  font-size: 18px;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.nav_user_section .notification_li .fa-users:hover {
  color: #E34B51 !important;
  margin-top: 10px;
  font-size: 18px;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.nav_user_section .notification_li .fa-bell:hover {
  color: #E34B51 !important;
  margin-top: 10px;
  font-size: 18px;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.nav_user_section .notification_li .fa-comment:hover {
  color: #E34B51 !important;
  margin-top: 10px;
  font-size: 18px;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.nav_user_section .dropdown_nottification_title a {
  font-family: 'Lato', sans-serif !important;
  font-size: 25px !important;
  color: #283041 !important;
  text-align: left !important;
  text-transform: capitalize !important;
  font-weight: bold !important;
  margin-bottom: 2px !important;
  word-spacing: 0px !important;
}

.nav_user_section .dropdown_nottification_info {
  font-family: 'Lato', sans-serif !important;
  font-size: 12px !important;
  text-transform: capitalize !important;
  margin-top: 5px;
}

.nav_user_section .dropdown_nottification_info i {
  font-size: 12px !important;
  color: #283041 !important;
  margin-right: 2px;
}

/*----- notifications_friendRequest -----*/
.nav_user_section #notification_count_friendRequest {
  font-family: 'Lato', sans-serif;
  padding: 0px 6px 0px 5px;
  // background-color: #E34B51;
  background-color: #58CDA6;
  color: #ffffff;
  font-weight: 500;
  border-radius: 4px;
  position: absolute;
  margin-left: 10px;
  top: 8px;
  font-size: 11px;
}

.nav_user_section #notificationLink_friendRequest:hover {
  background-color: transparent;
}

.nav_user_section #notificationContainer_friendRequest {
  background-color: #fff;
  border: 1px solid rgba(100, 100, 100, .4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  overflow: visible;
  position: absolute;
  top: 60px;
  margin-left: -321px;
  width: 400px;
  z-index: 1;
  display: none; /*info: Enable this after jquery implementation*/ 
}

.nav_user_section #notificationContainer_friendRequest:before { /*info: Popup Arrow*/
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  color: transparent;
  border: 10px solid black;
  border-color: transparent transparent white;
  margin-top: -20px;
  margin-left: 318px;
}

.nav_user_section #notificationTitle_friendRequest {
  padding: 14px 15px;
  font-size: 13px;
  z-index: 1000;
  background-color: rgba(47, 63, 91, 0.015);
  border-bottom: 2px solid #ededf3;
  font-weight: 400;
  color: #41494f;
  text-align: left;
}

.nav_user_section #notificationsBody_friendRequest {
  padding: 0px 0px 0px 0px !important;
  // min-height: 300px;
}

.nav_user_section #notificationFooter_friendRequest {
  background-color: #e9eaed;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  font-size: 12px;
  border-top: 1px solid #dddddd;
}

/*----- notifications_bell -----*/
.nav_user_section #notification_count_bell {
  font-family: 'Lato', sans-serif;
  padding: 0px 6px 0px 5px;
  // background-color: #E34B51;
  background-color: #58CDA6;
  color: #ffffff;
  font-weight: 500;
  border-radius: 4px;
  position: absolute;
  margin-left: 10px;
  top: 8px;
  font-size: 11px;
}

.nav_user_section #notificationLink_bell:hover {
  background-color: transparent;
}

.nav_user_section #notificationContainer_bell {
  background-color: #fff;
  border: 1px solid rgba(100, 100, 100, .4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  overflow: visible;
  position: absolute;
  top: 60px;
  margin-left: -321px;
  width: 400px;
  z-index: 1;
  display: none; /*info: Enable this after jquery implementation*/ 
}

.nav_user_section #notificationContainer_bell:before { /*info: Popup Arrow*/
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  color: transparent;
  border: 10px solid black;
  border-color: transparent transparent white;
  margin-top: -20px;
  margin-left: 318px;
}

.nav_user_section #notificationTitle_bell {
  padding: 14px 15px;
  font-size: 13px;
  z-index: 1000;
  background-color: rgba(47, 63, 91, 0.015);
  border-bottom: 2px solid #ededf3;
  font-weight: 400;
  color: #41494f;
  text-align: left;
}

.nav_user_section #notificationsBody_bell {
  padding: 0px 0px 0px 0px !important;
  min-height: 300px;
}

.nav_user_section #notificationFooter_bell {
  background-color: #e9eaed;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  font-size: 12px;
  border-top: 1px solid #dddddd;
}

/*----- notifications_comment -----*/
.nav_user_section #notification_count_comment {
  font-family: 'Lato', sans-serif;
  padding: 0px 6px 0px 5px;
  // background-color: #E34B51;
  background-color: #58CDA6;
  color: #ffffff;
  font-weight: 500;
  border-radius: 4px;
  position: absolute;
  margin-left: 10px;
  top: 8px;
  font-size: 11px;
}

.nav_user_section #notificationLink_comment:hover {
  background-color: transparent;
}

.nav_user_section #notificationContainer_comment {
  background-color: #fff;
  border: 1px solid rgba(100, 100, 100, .4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  overflow: visible;
  position: absolute;
  top: 60px;
  margin-left: -321px;
  width: 400px;
  z-index: 1;
  display: none; /*info: Enable this after jquery implementation*/ 
}

.nav_user_section #notificationContainer_comment:before { /*info: Popup Arrow*/
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  color: transparent;
  border: 10px solid black;
  border-color: transparent transparent white;
  margin-top: -20px;
  margin-left: 318px;
}

.nav_user_section #notificationTitle_comment {
  padding: 8px;
  font-size: 13px;
  background-color: #ffffff;
  z-index: 1000;
  border-bottom: 1px solid #dddddd;
  font-weight: 400;
  color: #41494f;
}

.nav_user_section #notificationsBody_comment {
  padding: 0px 0px 0px 0px !important;
  min-height: 300px;
}

.nav_user_section #notificationFooter_comment {
  background-color: #e9eaed;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  font-size: 12px;
  border-top: 1px solid #dddddd;
}


/*----- notifications_profile -----*/
.nav_user_section .nav_list .right .profile_img_cover {
  border-radius: 200px;
}

.nav_user_section .nav_list .right .profile_img_cover img {
  border-radius: 200px !important;
  width: 35px;
  height: 35px;
}

.nav_user_section .nav_list .right .profile_img_cover .img_default img {
  border-radius: 200px !important;
  width: 35px;
  height: 35px;
  opacity: 0.65 !important;
}

.nav_user_section #notification_count_profile {
  font-family: 'Lato', sans-serif;
  padding: 0px 6px 0px 5px;
  // background-color: #E34B51;
  background-color: #58CDA6;
  color: #ffffff;
  font-weight: 500;
  border-radius: 4px;
  position: absolute;
  margin-left: 10px;
  top: 8px;
  font-size: 11px;
}

.nav_user_section #notificationLink_profile:hover {
  background-color: transparent;
}

.nav_user_section #notificationContainer_profile {
  background-color: #fff;
  color: #283041 !important;
  border: 1px solid rgba(100, 100, 100, .4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  overflow: visible;
  position: absolute;
  top: 60px;
  right: 35px;
  margin-left: -321px;
  // width: 400px;
  width: 300px;
  z-index: 1;
  text-align: left;
  display: none; /*info: Enable this after jquery implementation*/ 
}

.nav_user_section #notificationContainer_profile:before { /*info: Popup Arrow*/
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  right: 69px;
  color: transparent;
  border: 10px solid black;
  border-color: transparent transparent white;
  margin-top: -20px;
  margin-left: 327px;
}

.nav_user_section #notificationTitle_profile {
  padding: 14px 15px;
  font-size: 13px;
  z-index: 1000;
  background-color: rgba(47, 63, 91, 0.015);
  border-bottom: 1px solid #ededf3;
  font-weight: 400;
  color: #41494f;
}

.nav_user_section #notificationsBody_profile {
  padding: 0px 0px 0px 0px !important;
  min-height: 245px;
}

.nav_user_section #notificationFooter_profile {
  background-color: #e9eaed;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  font-size: 12px;
  border-top: 1px solid #dddddd;
}

.nav_user_section #notificationTitle_profile .dropdown_user_name a {
  font-family: 'Lato', sans-serif !important;
  font-size: 25px !important;
  color: #4BB4BF !important;
  text-align: left !important;
  text-transform: capitalize !important;
  font-weight: bold !important;
  margin-bottom: 2px !important;
  word-spacing: 0px !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.nav_user_section #notificationTitle_profile .dropdown_user_name a:hover {
  color: #E34B51 !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.nav_user_section #notificationTitle_profile .dropdown_user_membership {
  font-family: 'Lato', sans-serif !important;
  font-size: 12px !important;
  text-transform: capitalize !important;
  margin-top: 5px;
}

.nav_user_section #notificationTitle_profile .dropdown_user_membership i {
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: #283041 !important;
  margin-right: 2px;
}


/*===================================================
    Page: header userr signedin nav
    File: views/shared/_header_signedin_recruiter_profile.html.erb
  ===================================================*/
.nav_userr_section {
  background-color: #20232C;
  padding: 18px 0px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.nav_userr_inner_section {
  margin: auto ;
}
@media only screen and (min-width: 970px) {
  .nav_userr_inner_section {
    width: 960px;
  }
}

.nav_userr_section .nav_list ul {
  margin: 0px !important;
}

.nav_userr_section .nav_list ul .logo_image {
  margin-left: 0px;
}


.nav_userr_section .nav_list ul .logo_image img {
  width: 40px !important;
}

.nav_userr_section .nav_list ul .logo_title {
  margin-left: 0px !important;
}

.nav_userr_section .nav_list ul .logo_title img {
  width: 200px !important;
  margin-top: 5px !important;
  margin-left: 5px;
}

.nav_userr_section .nav_list ul li a {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: #fff !important;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.nav_userr_section .nav_list ul li a:hover {
  color: #E1473E !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.nav_userr_section .nav_list .right {
  line-height: 31px;
  margin-top: 2px !important;
}

.nav_userr_section .nav_list .right .link {
  line-height: 34px;
}

.nav_userr_section .nav_list ul .special_link a {
  padding: 3px 16px;
  background-color: #fff !important;
  border-radius: 2px;
  opacity: 0.8;
  color: #2F3F5B !important;
}

.nav_userr_section .nav_list ul .special_link a:hover {
  background-color: #E1473E !important;
  color: #fff !important;
}

.nav_userr_section .nav_list .profile_image {
  height: 39px;
  width: 39px;
  box-shadow: 0px 4px 30px #888888;
  border-radius: 250px;
  background: url("img-profile-default.png") no-repeat;
  background-size: cover;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.nav_userr_section .nav_list .profile_image:hover {
  box-shadow: 0px 4px 30px #E1473E;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.nav_userr_section .nav_list .profile_image img {
  border-radius: 100px;
  // height: 100% !important;
  height: 40px !important;
  width: 100% !important;
}


// ---------------------------------
// menu icon
// ---------------------------------

.nav_userr_section .menu_link_section {
  margin-bottom: 0px;
  height: 38.6px;
}

.nav_userr_section .menu_link_section button {
  margin: 0px;
  padding: 11px 30px !important;
  text-transform: uppercase;
  padding: 3px 16px;
  border-radius: 2px !important;
  opacity: 0.8;
  font-size: 12px;
  font-weight: bold;
  padding-right: 39px !important;
}

.nav_userr_section .nav_list .menu_link_section ul li a {
  font-family: 'Lato', sans-serif;
  color: #41494f !important;
}

.nav_userr_section .nav_list .menu_link_section ul li a:hover {
  font-family: 'Lato', sans-serif;
  color: #41494f !important;
}

.nav_userr_section .menu_link_section .dropdown_menu {
  top: 60px !important;
}

.nav_userr_section .menu_link_section .credit_container {
  padding: 8px 8px 5px 8px;
  font-family: 'Lato', sans-serif;
  font-size: 12px !important;
  text-transform: uppercase;
  border-bottom: 1px solid #eeeeee;
}

.nav_userr_section .menu_link_section .credit_header {
  color: #41494f !important;
}

.nav_userr_section .menu_link_section .credit_info {
  color: #E1473E !important;
  margin: 2px 0px !important;
}

.nav_userr_section .menu_link_section .payment_plan a {
  background-color: rgba(225,71,62,0.1) !important;
}

.nav_userr_section .menu_link_section .f-dropdown {
  max-width: 165px !important;
}

.nav_userr_section .menu_link_section .f-dropdown.open::before {
  left: 70px !important;
}

.nav_userr_section .menu_link_section .f-dropdown.open::after {
  left: 70px !important;
}

@media only screen and (max-width: 855px) {
  .nav_userr_section .view_hide {
    display: none !important;
  }
}









