/*=========================================
    Section: landing page
    File: views / static_pages / landingpg.html.erb
  =========================================*/

.landingpage_singedout_section .banner_singedout_section {
  background-color: green;
  background: url("img_background.jpg") no-repeat;
  background-position: 0% 63%;
  background-size: cover;
  padding: 0px !important;
}

.landingpage_singedout_section .banner_singedout_section .banner_inner_section {
  background-color: rgba(0,0,0,0.6) !important;
  text-align: center;
  height: 650px;
}

.landingpage_singedout_section .banner_singedout_section h1 {
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  font-weight: 200;
  text-align: center;
  margin: 0px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 8px !important;
  word-spacing: 3px;
}
@media only screen and (max-width: 670px) {
  .landingpage_singedout_section .banner_singedout_section h1  {
    font-size: 30px;
  }
}

.landingpage_singedout_section .banner_singedout_section .banner_content {
  margin: auto;
  padding: 25px 15px;
  margin-top: 60px;
}
@media only screen and (min-width: 940px) {
  .landingpage_singedout_section .banner_singedout_section .banner_content {
    width: 900px;
    padding: 50px 0px;
    text-align: left;
  }
}

.landingpage_singedout_section .banner_singedout_section .sub_header {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 200;
  color: #fff;
  text-align: center;
  word-spacing: 1px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 670px) {
  .landingpage_singedout_section .banner_singedout_section .sub_header {
    font-size: 15px;
  }
}

.landingpage_singedout_section .search_container {
  background-color: rgba(255, 255, 255, 0.05) !important;
  padding: 15px 0px;
  margin-top: 30px
}

.landingpage_singedout_section #signup_name {
  font-family: "Lato", sans-serif;
  border: none !important;
  box-shadow: none !important;
  outline: 0 !important;
  border-radius: 3px !important;
  padding: 0px 15px !important;
  height: 40px;
  color: #454d53;
  font-size: 18px;
  width: 394px;
  float: left;
  margin-right: 30px;
}
@media only screen and (max-width: 520px) {
  .landingpage_singedout_section #signup_name {
    font-size: 15px;
  }
}
@media only screen and (max-width: 940px) {
  .landingpage_singedout_section #signup_name {
    width: 100%;
    margin-right: 0px;
  }
}

.landingpage_singedout_section #signup_email {
  font-family: "Lato", sans-serif;
  border: none !important;
  box-shadow: none !important;
  outline: 0 !important;
  border-radius: 3px !important;
  padding: 0px 15px !important;
  height: 40px;
  color: #454d53;
  font-size: 18px;
  width: 394px;
  float: left;
}
@media only screen and (max-width: 520px) {
  .landingpage_singedout_section #signup_email {
    font-size: 15px;
  }
}
@media only screen and (max-width: 940px) {
  .landingpage_singedout_section #signup_email {
    width: 100%;
    margin-right: 0px;
  }
}

.landingpage_singedout_section #signup_category_user_id {
  font-family: "Lato", sans-serif;
  border: none !important;
  box-shadow: none !important;
  outline: 0 !important;
  border-radius: 3px !important;
  padding: 0px 15px !important;
  color: #454d53;
  font-size: 16px;
  height: 40px;
}
@media only screen and (max-width: 520px) {
  .landingpage_singedout_section #signup_category_user_id {
    font-size: 15px;
  }
}

.landingpage_singedout_section input[type="submit"] {
  margin-bottom: 0px !important;
  width: 100%;
  border-radius: 2px;
  background-color: #E1473E !important;
  font-weight: bold;
}

.landingpage_singedout_section input[type="submit"]:hover {
  background-color: #2F3F5B !important;
}

.landingpage_singedout_section .notified_text {
  color: #2F3F5B;
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
}

@media only screen and (max-width: 640px) {
.landingpg_footer_section .social_media {
    margin: 15px auto !important;
    width: 270px !important;
  }
}

@media only screen and (max-width: 800px) {
  .landingpage_singedout_section .banner_singedout_section p {
    font-size: 18px !important;
  }
}

.landingpage_singedout_section .signedout_content_section .point {
  margin-top: 15px !important
}


// -------------------------
//   workings
// -------------------------

.header_section {
  // background-color: red;
  padding: 15px 0px !important;
}

.logo_section {
  text-align: left;
  width: 960px !important;
  // background-color: green;
  margin: auto;
}

.logo_title {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 200;
  color: #fff;
}














