/*=========================================
    Section: landing page
    File: views / static_pages / landingpg.html.erb
  =========================================*/

.landingpage_singedout_section .banner_singedout_section {
  background-color: green;
  background: url("img_background.jpg") no-repeat;
  background-position: 0% 60%;
  background-size: cover;
  padding: 0px !important;
}

.landingpage_singedout_section .banner_singedout_section .banner_inner_section {
  background-color: rgba(0,0,0,0.6) !important;
  text-align: center;
  height: 650px;
}

.landingpage_singedout_section .banner_singedout_section h1 {
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  font-weight: 200;
  text-align: center;
  margin: 0px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 8px !important;
  word-spacing: 3px;
}
@media only screen and (max-width: 670px) {
  .landingpage_singedout_section .banner_singedout_section h1  {
    font-size: 30px;
  }
}

.landingpage_singedout_section .banner_singedout_section .banner_content {
  margin: auto;
  padding: 25px 15px;
  margin-top: 75px;
}
@media only screen and (min-width: 940px) {
  .landingpage_singedout_section .banner_singedout_section .banner_content {
    width: 900px;
    padding: 50px 0px;
    text-align: left;
  }
}

.landingpage_singedout_section .banner_singedout_section .sub_header {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 200;
  color: #fff;
  text-align: center;
  word-spacing: 1px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 670px) {
  .landingpage_singedout_section .banner_singedout_section .sub_header {
    font-size: 15px;
  }
}

.landingpage_singedout_section .signup_container {
  background-color: rgba(255, 255, 255, 0.08) !important;
  margin: 25px 0px 0px;
  padding: 25px;
}

.signup_name {
  float: left !important;
}

.signup_name label {
  color: #fff !important;
}

.landingpage_singedout_section #signup_name {
  font-family: "Lato", sans-serif;
  box-shadow: none !important;
  outline: 0 !important;
  padding: 0px 15px !important;
  height: 50px;
  color: #fff;
  font-weight: 200 !important;
  font-size: 18px;
  width: 394px;
  float: left;
  margin-right: 30px;
  background-color: transparent;
  border: 1px solid #fff !important;
}
@media only screen and (max-width: 520px) {
  .landingpage_singedout_section #signup_name {
    font-size: 15px;
  }
}
@media only screen and (max-width: 940px) {
  .landingpage_singedout_section #signup_name {
    width: 100%;
    margin-right: 0px;
  }
}

.landingpage_singedout_section #signup_email {
  font-family: "Lato", sans-serif;
  box-shadow: none !important;
  outline: 0 !important;
  padding: 0px 15px !important;
  height: 50px;
  color: #fff;
  font-weight: 200 !important;
  font-size: 18px;
  width: 394px;
  float: right;
  background-color: transparent;
  border: 1px solid #fff !important;
}
@media only screen and (max-width: 520px) {
  .landingpage_singedout_section #signup_email {
    font-size: 15px;
  }
}
@media only screen and (max-width: 940px) {
  .landingpage_singedout_section #signup_email {
    width: 100%;
    margin-right: 0px;
  }
}

.landingpage_singedout_section input[type="submit"] {
  margin-bottom: 0px !important;
  width: 100%;
  background-color: rgba(225,71,62,0.7) !important;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 18px;
}

.landingpage_singedout_section input[type="submit"]:hover {
  background-color: rgba(47,63,91,0.7) !important;
}

.landingpage_singedout_section .notified_text {
  color: #2F3F5B;
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
}

@media only screen and (max-width: 640px) {
.landingpg_footer_section .social_media {
    margin: 15px auto !important;
    width: 270px !important;
  }
}

@media only screen and (max-width: 800px) {
  .landingpage_singedout_section .banner_singedout_section p {
    font-size: 18px !important;
  }
}

.landingpage_singedout_section .signedout_content_section .point {
  margin-top: 15px !important
}

.landingpage_singedout_section .header_section {
  padding: 15px 0px !important;
}

.landingpage_singedout_section .logo_links_section {
  text-align: left;
  width: 960px !important;
  margin: auto;
}

.landingpage_singedout_section .logo img {
  width: 65px;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.landingpage_singedout_section .logo img:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  padding: 15px;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.landingpage_singedout_section .logo_title {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 200;
  color: #fff;
}

.landingpage_singedout_section .links {
  float: right;
  display: inline-block;
}

.landingpage_singedout_section .links ul {
  list-style-type: none;
  padding: 14px 0px;
  margin: 0px !important;
}

.landingpage_singedout_section .links ul li {
  float: right;
  margin-top: 3px;
}

.landingpage_singedout_section .links ul li a {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 200;
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
  padding: 15px;
  margin-left: 5px;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.landingpage_singedout_section .links ul li a:hover {
  background-color: rgba(47,63,91,0.3) !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.landingpage_singedout_section .launch_info {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  font-weight: 200;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 8px;
  text-align: center;
}

// -------------------------
//   workings
// -------------------------

.landingpage_singedout_section .lower_section {
  padding: 0px !important;
}

.landingpage_singedout_section .content_container {
  padding: 30px 0px !important;
  background-color: red;
  background: url("img_background_main.png") repeat;
}

.landingpage_singedout_section .header_section {
  padding: 15px 0px;
}

.landingpage_singedout_section .header {
  font-family: "Lato", sans-serif;
  font-size: 35px;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: center;
}

.landingpage_singedout_section .sub_header {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: center;
  padding: 15px 0px !important;
}

.content_details {
  padding: 15px 0px !important;
}

.landingpage_singedout_section .feed_container ul {
  list-style-type: none;
  margin: 0px !important;
}

.feed_inner_section {
  // background-color: green;
  background-color: #fff;
}

.feed {
  position: relative;
  // background-color: red;
}

.feed_header {
  font-family: "Lato", sans-serif;
  font-weight: 200;
  color: #fff;
  word-spacing: 3px;
  text-transform: uppercase;
  background-color: rgba(47,63,91,0.5) !important;
  position: absolute;
  z-index: 1000;
  height: 80px;
  width: 100%;
  padding: 10px 15px;
}

.feed_date {
  margin-bottom: 3px;
}

.feed_location {
  margin-bottom: 3px;
}

.feed_header .date {
  margin-right: 5px;
}

.feed_header .location {
  margin-right: 10px;
  margin-left: 2px;
} 

.feed_header .price {
  margin-right: 10px;
  margin-left: 2px;
} 

.feed_user {
  width: 20%;
  margin: auto;
  height: 20%;
  position: relative;
}

.feed_user img {
  position: absolute;
  z-index: 1000;
  bottom: -20px;
  background-color: #fff;
  padding: 2px;
}

.feed_sub_title {
  margin-top: 25px;
  text-align: center;
  // border-bottom: 1px solid #f3f4f7;
  border-bottom: 1px solid #f8f8f9;
}

.feed_organizer {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #888888;
  text-transform: uppercase;
}

.feed_title {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #283041;
  text-transform: uppercase;
  margin-bottom: 15px;
  line-height: 25px;
}

.feed_comments_container {
  // background-color: green;
  padding: 10px;
}

.feed_comments_container ul li {
  margin: 0px !important;  
}

.feed_inner_comment_section {
  padding: 5px !important;
}

.feed_comments_container img {
  border-radius: 2px;
  padding-right: 5px !important;
}

.feed_comment_img {
  padding: 0px !important;
}

.feed_comment {
  padding: 0px !important;
}

.feed_comment span {
  font-family: "Lato", sans-serif;
  color: #283041;
  background-color: rgba(47,63,91,0.02) !important;
  padding: 5px !important;
}

.feed_comment span b a {
  font-family: "Lato", sans-serif;
  color: #E34B51 !important;
  // color: #283041 !important;
  margin-right: 5px;
}

.feed_comment span b a:hover {
  text-decoration: underline;
}

.booking {
  border-top: 1px solid #f8f8f9;
  padding: 15px;
}

.booking a {
  font-family: "Lato", sans-serif;
  color: #fff !important;
  text-transform: uppercase;
  padding: 15px;
  background-color: #E34B51;
  width: 100% !important;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.booking a:hover {
  background-color: #58CDA6 !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}































