/*=========================================
    Section: users membership page
    File: views / users / _membership.html.erb
    File: views / users / membership.html.erb
  =========================================*/

// --------left_column_section--------


.membership_status_container {
  background-color: #fff;
  color: #283041 !important;
  padding: 15px;
  margin-bottom: 15px;
  height: 111px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
}


.membership_status_container .text_info {
  font-family: 'Lato', sans-serif;
  font-size: 14px !important;
  font-weight: 300 !important;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.membership_status_container .text_status_info {
  font-family: 'Lato', sans-serif;
  font-size: 20px !important;
  font-weight: bold !important;
  text-transform: capitalize;
}

.text_status_info i {
  margin-right: 5px;
}




// -------------------------------
//   workings
// -------------------------------

// .subscription_status {
//   width: 250px;
//   border-right: 1px solid #727985;
// }

.membership_status_container ul {
  list-style-type: none;
  margin: 0px !important;
}


.membership_status_container ul li {
  float: left;
  width: 450px;
  padding: 15px 25px;
}

.subscription_status_li {
  border-right: 1px solid #727985;
}

.subscription_date_li {
  margin-left: 35px;
}

.subscription_date {
  font-family: 'Lato', sans-serif;
  font-size: 20px !important;
  font-weight: bold !important;
  text-transform: capitalize;
}


.sub_btn a {
  font-family: 'Lato', sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
  color: #fff !important;
  letter-spacing: 1px;
  background-color: #E34B51;
  width: 100%;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 15px;
  border-radius: 2px;
  margin-top: 30px;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}


.sub_btn a:hover {
  background-color: #eeaa02 !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}





