/*=========================================
    Section: messages page
    File: views / messages / _folder_view.html.erb
  =========================================*/

.messages_page_section {
  background: url("img_background_main.png") repeat;
}