/*=========================================
    Section: messages page
    File: views / messages / _folder_view.html.erb
  =========================================*/

.messages_page_section {
  background: url("img_background_main.png") repeat;
}

.messages_inner_container {
  height: 65px;
  width: 1170px;
  margin: auto;
}


// --------left_section--------
.left_section {
  background-color: #E34B51;
}



// --------right_section--------
.right_section {
  background-color: #58CDA6;
}