/*=========================================
    Section: messages page
    File: views / conversations / _conversations.html.erb
    File: views / conversations / _form.html.erb
    File: views / conversations / _messages.html.erb
    File: views / conversations / _show.html.erb

    File: views / messages / _folder_view.html.erb
    File: views / messages / _folders.html.erb
    File: views / messages / inbox.html.erb
    File: views / messages / sent.html.erb
    File: views / messages / trash.html.erb
  =========================================*/


.messages_page_section {
  background-color: #fff !important;
  background: url("img_background_main.png") repeat;
  padding: 0px !important;
  min-height: 822px;
}


// --------upper_section--------
/*=========================================
    upper_section - messages: conversation deatils
    File: views / conversations / _show.html.erb
    File: views / messages / _folder_view.html.erb
  =========================================*/
.messages_page_section .upper_section {
  padding: 19px 0px !important;
  background-color: rgba(47, 63, 91, 0.1);
  border-bottom: 1px solid rgba(238, 170, 2, 0.3) !important;
}

.messages_page_section .listed_actions_inner_container {
  width: 1170px;
  margin: auto;
}

.messages_page_section .listed_actions_inner_container .left_section {
  margin: 0px !important;
}

.messages_page_section .listed_actions_inner_container .left_section li {
  margin: 0px !important;
  margin-right: 15px !important;
  background-color: #4BB4BF !important;
}

.messages_page_section .listed_actions_inner_container .left_section li a {
  background-color: #4BB4BF !important;
  color: #fff !important;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 300;
  text-transform: capitalize;
  padding: 10px 25px;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.messages_page_section .listed_actions_inner_container .left_section li a:hover {
  background-color: #eeaa02 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.messages_page_section .listed_actions_inner_container .right_section {
  margin: 0px !important;
}

.messages_page_section .listed_actions_inner_container .right_section li {
  margin: 0px !important;
  background-color: #E34B51 !important;
}

.messages_page_section .listed_actions_inner_container .right_section li a {
  background-color: #E34B51 !important;
  color: #fff !important;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 300;
  text-transform: capitalize;
  padding: 10px 25px;
  letter-spacing: 1px;
  width: 200px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.messages_page_section .listed_actions_inner_container .right_section li a:hover {
  background-color: #eeaa02 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}



// --------lower_section--------
/*=========================================
    lower_section - messages: conversation deatils
    File: views / conversations / _show.html.erb
  =========================================*/

.messages_page_section .lower_section {
  padding: 30px 0px !important;
  // background-color: green;
}

.messages_page_section .listed_conversations_inner_container {
  width: 1170px;
  margin: auto;
  background-color: #fff;
  padding: 35px;
  border-bottom: 3px solid rgba(88, 205, 166, 0.15);
}

.message_reply_form_section #messages_body {
  font-family: "Lato", sans-serif;
}


.messages_page_section .message_reply_submit_btn {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #fff !important;
  font-weight: 300;
  background: #000;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 10px 25px;
  width: 100%;
  border: none;
  display: inline-block;
  background-color: #4BB4BF !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.messages_page_section .message_reply_submit_btn:hover {
  background-color: #E34B51 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.messages_page_section .listed_conversations_inner_container .header {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px;
  background-color: rgba(47, 63, 91, 0.05);
  margin-bottom: 40px;
  border-bottom: 3px solid rgba(88, 205, 166, 0.15);
}

/*=========================================
    lower_section - messages: inbox / sent / trash
    File: views / conversations / _conversation.html.erb
  =========================================*/

.messages_page_section .conversation_partial_inner_section ul {
  margin: 0px !important;
  list-style-type: none;
}

.messages_page_section .conversation_partial_inner_section ul li {
  background-color: rgba(47, 63, 91, 0.05);
  padding: 17px 25px 6px 0px !important;
  border-radius: 5px;
}

.messages_page_section .conversation_partial_inner_section .image_name_container {
  padding: 0px !important;
}

.messages_page_section .conversation_partial_inner_section .image_cover {
  width: 48px;
  height: 48px;
  padding: 5px;
  margin: auto;
  border-radius: 5px;
  background-color: rgba(88, 205, 166, 0.2) !important;
}

.messages_page_section .conversation_partial_inner_section .image_cover img {
  border-radius: 200px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.messages_page_section .conversation_partial_inner_section .image_cover img:hover {
  opacity: 0.5;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.messages_page_section .conversation_partial_inner_section .additional_info_content_container {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.messages_page_section .conversation_partial_inner_section .name_info {
  font-family: 'Lato', sans-serif;
  color: #283041 !important;
  min-height: 45px;
  border-bottom: 1px solid rgba(225, 71, 62, 0.15);
}

.messages_page_section .conversation_partial_inner_section .info {
  background-color: rgba(225, 71, 62, 0.05);
  padding: 8px;
}


.messages_page_section .conversation_partial_inner_section .info i {
  margin-right: 5px !important;
}

.messages_page_section .conversation_partial_inner_section .name {
  font-family: 'Lato', sans-serif;
  color: #283041 !important;
  font-weight: bold;
  text-transform: capitalize;
  margin-right: 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.messages_page_section .conversation_partial_inner_section .name:hover {
  color: #E34B51 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.messages_page_section .conversation_partial_inner_section .subject {
  font-family: 'Lato', sans-serif;
  color: #283041 !important;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 5px !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.messages_page_section .conversation_partial_inner_section .time {
  font-family: 'Lato', sans-serif;
  color: #283041 !important;
  font-size: 10px;
  text-align: right;
  margin-top: 5px;
}

.messages_page_section .conversation_partial_inner_section .trash_can_link {
  text-align: left !important;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  float: right;
  margin-right: 26px;
  text-transform: capitalize;
  color: #4BB4BF !important;
  margin-top: 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.messages_page_section .conversation_partial_inner_section .trash_can_link:hover {
  color: #E34B51 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.messages_page_section .conversation_partial_inner_section .untrash_can_link {
  text-align: left !important;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  float: right;
  margin-right: 26px;
  text-transform: capitalize;
  color: #4BB4BF !important;
  margin-top: 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.messages_page_section .conversation_partial_inner_section .untrash_can_link:hover {
  color: #E34B51 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}



/*=========================================
    lower_section - messages: conversation deatils
    File: views / conversations / _messages.html.erb
  =========================================*/

.messages_page_section .messages_partial_inner_section ul {
  margin: 0px !important;
  list-style-type: none;
}

.messages_page_section .messages_partial_inner_section .subject {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px;
  background-color: rgba(47, 63, 91, 0.05);
  margin-bottom: 40px;
  border-bottom: 3px solid rgba(88, 205, 166, 0.15);
}

.messages_page_section .messages_partial_inner_section .image_name_container {
  padding: 0px !important;
}

.messages_page_section .messages_partial_inner_section .image_cover {
  width: 48px;
  height: 48px;
  padding: 5px;
  margin: auto;
  border-radius: 5px;
  background-color: rgba(88, 205, 166, 0.2) !important;
}

.messages_page_section .messages_partial_inner_section .image_cover img {
  border-radius: 200px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.messages_page_section .messages_partial_inner_section .image_cover img:hover {
  opacity: 0.5;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.messages_page_section .messages_partial_inner_section .additional_info_content_container {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.messages_page_section .messages_partial_inner_section .name_info {
  font-family: 'Lato', sans-serif;
  color: #283041 !important;
  padding: 10px;
  min-height: 45px;
  background-color: rgba(47, 63, 91, 0.05);
  border-bottom: 1px solid rgba(225, 71, 62, 0.15);
}

.messages_page_section .messages_partial_inner_section .name a {
  font-family: 'Lato', sans-serif;
  color: #283041 !important;
  font-weight: bold;
  text-transform: capitalize;
  margin-right: 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.messages_page_section .messages_partial_inner_section .name a:hover {
  color: #E34B51 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.messages_page_section .messages_partial_inner_section .time {
  font-family: 'Lato', sans-serif;
  color: #283041 !important;
  font-size: 10px;
  text-align: right;
}



/*=========================================
    lower_section - messages: form
    File: views / conversations / _form.html.erb
  =========================================*/

.compose_messages_page_section .header {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px;
  background-color: rgba(47, 63, 91, 0.05);
  margin-bottom: 40px;
  border-bottom: 3px solid rgba(88, 205, 166, 0.15);
}

.compose_messages_page_section label {
  font-family: 'Lato', sans-serif;
  color: #283041 !important;
  margin-top: 20px;
}

.compose_messages_page_section #conversation_body {
  font-family: "Lato", sans-serif;
}

.compose_messages_page_section .send_message_btn {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #fff !important;
  font-weight: 300;
  background: #000;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 10px 25px;
  width: 100%;
  border: none;
  display: inline-block;
  margin-bottom: 0px !important;
  background-color: #4BB4BF !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.compose_messages_page_section .send_message_btn:hover {
  background-color: #E34B51 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}















