/*=========================================
    Section: messages page
    File: views / conversations / _conversations.html.erb
    File: views / conversations / _form.html.erb
    File: views / conversations / _messages.html.erb
    File: views / conversations / _show.html.erb

    File: views / messages / _folder_view.html.erb
    File: views / messages / _folders.html.erb
    File: views / messages / inbox.html.erb
    File: views / messages / sent.html.erb
    File: views / messages / trash.html.erb
  =========================================*/

.messages_page_section {
  background-color: #fff !important;
  background: url("img_background_main.png") repeat;
  padding: 0px !important;
  min-height: 822px;
}


// --------upper_section--------
.upper_section {
  padding: 0px !important;
}

.listed_actions_container {
  height: 65px;
  background-color: rgba(47, 63, 91, 0.1);
}

.listed_actions_inner_container {
  height: 65px;
  width: 1170px;
  margin: auto;
}


// --------lower_section--------
.lower_section {
  height: 65px;
  width: 1170px;
  margin: auto;
}



// ------------------------
// workings
// ------------------------




