/*=========================================
    Section: event page
    File: views / events / _show.html.erb
    File: views / events / _modal_venue_images.html.erb
  =========================================*/