/*=========================================
    Section: profile page
    File: views / shared / _modal_users_aboutme.html.erb
    File: views / users / _show.html.erb
  =========================================*/

#myModal-users-aboutme {
  background: url("img_background_main.png") repeat;
  border-radius: 0px !important;
  border: 0px !important;
  padding: 0px !important;
}

.aboutme_inner_container {
  background-color: #fff !important;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.aboutme_inner_container .header {
  padding: 5px 15px !important;
  font-size: 35px;
  border-bottom: 2px solid #58CDA6;
  text-transform: capitalize;
  color: #fff !important;
  background-color: #283041;
}

.aboutme_inner_container .description {
  padding: 15px !important;
  min-height: 100px;
}

.aboutme_inner_container .cancel_button {
  color: #fff !important;
}