/*=========================================
    Section: admin report page
    File: views / users / shared / _user_dashboard_admin_reports.html.erb
    File: views / shared / _modal_report_content.html.erb
  =========================================*/

.report_content_modal {
  border-radius: 0px !important;
  border: 0px !important;
  padding: 0px !important;
}

.report_content_modal .header {
  padding: 5px 15px !important;
  font-size: 35px;
  border-bottom: 2px solid #58CDA6;
  text-transform: capitalize;
  color: #fff !important;
  background-color: #283041;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin-bottom: 0px !important;
}

.report_content_modal .cancel_button {
  color: #fff !important;
}

.report_content_modal .report_content_container {
  padding: 15px;
  line-height: 25px;
}

.report_content_modal .report_inner_content {
  max-height: 305px;
  overflow: scroll;
}


















