/*=========================================
    Section: user profile page
    File: views / shared / _modal_invite_user.html.erb
    File: views / users / _show.html.erb
  =========================================*/