/*=========================================
    Section: matches page | match
    File: views / shared / _modal_users_matches_events.html.erb
    File: views / shared / _matches.html.erb
  =========================================*/

.user_matches_events_modal {
  border-radius: 0px !important;
  border: 0px !important;
  padding: 0px !important;
}

.user_matches_events_modal .header {
  padding: 5px 15px !important;
  font-size: 35px;
  border-bottom: 2px solid #58CDA6;
  text-transform: capitalize;
  color: #fff !important;
  background-color: #283041;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin-bottom: 0px !important;
}

.user_matches_events_modal .cancel_button {
  color: #fff !important;
}

.user_matches_events_modal .matches_events_main_container {
  padding: 15px;
}

.user_matches_events_modal .match_event_content {
  font-family: 'Lato', sans-serif;
  font-size: 15px !important;
  font-weight: 300 !important;
  background-color: rgba(40, 48, 45, 0.04) !important;
  padding: 15px;
  margin-bottom: 15px;
}

.user_matches_events_modal .match_event_content .upper_list {
  list-style-type: none;
  margin: 0px !important;
  height: 300px;
  overflow: scroll;
}

.user_matches_events_modal .match_event_content .upper_list .listed_event_socials {
  margin-bottom: 15px !important;
  padding: 0px !important;
}

.user_matches_events_modal .match_event_content .upper_list li {
  font-family: 'Lato', sans-serif;
  font-size: 11px !important;
  font-weight: 400 !important;
}

.user_matches_events_modal .match_event_content .lower_list {
  margin-top: 15px !important;
}

.user_matches_events_modal .match_event_content .lower_list li {
  font-size: 13px !important;
  letter-spacing: 1px;
  margin-bottom: 5px !important;
}

.user_matches_events_modal .bold_content {
  text-transform: capitalize;
  font-weight: bold !important;
}

.user_matches_events_modal .stats_cover {
  font-weight: 300 !important;
  background-color: #E34B51;
  padding: 8px;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 1px;
  margin-left: 5px;
}

.user_matches_events_modal label {
  font-family: 'Lato', sans-serif;
  font-size: 15px !important;
  font-weight: 300 !important;
  text-transform: capitalize;
}

.user_matches_events_modal .match_content_info {
  font-family: 'Lato', sans-serif;
  font-size: 14px !important;
  font-weight: 300 !important;
  background-color: rgba(88, 205, 166, 0.2) !important;
  padding: 5px 15px;
  margin-bottom: 15px;
}

.user_matches_events_modal .divider {
  margin: 10px 5px 10px 0px;
}

.user_matches_events_modal input[type="submit"] {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 300;
  background: #000;
  text-transform: capitalize;
  color: #fff !important;
  padding: 15px 0px;
  letter-spacing: 1px;
  border: none;
  width: 100%;
  margin-bottom: 5px;
  background-color: #E34B51 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.user_matches_events_modal input[type="submit"]:hover {
  background-color: rgba(238, 170, 2, 0.6) !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.user_matches_events_modal .action_btn_decline a {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #fff !important;
  background-color: rgba(47, 63, 91, 0.5) !important;
  text-align: center;
  width: 100% !important;
  display: inline-block;
  padding: 12px 0px;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.user_matches_events_modal .action_btn_decline a:hover {
  color: #fff !important;
  background-color: rgba(238, 170, 2, 0.6) !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.user_matches_events_modal .checkbox {
  float: left;
  margin-right: 10px;
}

.user_matches_events_modal input[type="checkbox"] {
  margin-right: 5px;
  margin-bottom: 10px;
}

.user_matches_events_modal .listed_network_members_header {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 300;
  text-transform: capitalize !important;
}

.user_matches_events_modal .listed_network_members {
  background-color: rgba(88, 205, 166, 0.2) !important;
  text-transform: capitalize !important;
  padding: 15px;
  margin-bottom: 15px;
}

.user_matches_events_modal .stat_percentage {
  color: #E34B51 !important;
  font-weight: bold !important;
  font-size: 16px !important;

}


// --------------------------
//   workings
// --------------------------

.match_evt_container {
  padding: 0px !important;
}

.match_evt_container .user_events {
  padding: 0px !important;
}

.match_evt_container .left_content {
  padding: 0px;
}

.match_evt_container .banner .ribbon-wrapper-green {
  width: 72px;
  height: 72px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.match_evt_container .banner .ribbon-green {
  font: bold 10px Sans-Serif;
  opacity: 0.95;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  position: relative;
  padding: 5px 0;
  left: -40px;
  top: 8px;
  width: 114px;
  background-color: #58CDA6;
  color: #283041;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px0px3pxrgba 0, 0, 0, 0.3;
}

.match_evt_container .img_cover img {
  height: 72px;
  width: 72px;
}

.match_evt_container .middle_content {
  padding: 0px;
}

.match_evt_container .middle_content ul {
  list-style-type: none;
  margin: 0px !important;
}

.match_evt_container .fa-map-marker {
  margin: 0px 5px 0px 3px;
}

.match_evt_container .fa-calendar {
  margin: 0px 3px 0px 1px;
}

.match_evt_container .fa-map-pin {
  margin: 0px 5px 0px 4px;
}

.match_evt_container .divider {
  margin: 0px 5px;
}

.match_evt_container .right_content {
  padding: 0px;
}

.match_evt_container .right_content .price_info {
  background-color: rgba(225, 71, 62, 0.1) !important;
  padding: 5px 5px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 5px;
}

.match_evt_container .right_content .view_link a {
  background-color: rgba(75, 180, 191, 0.9) !important;
  color: #fff !important;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 5px 0px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.match_evt_container .right_content .view_link a:hover {
  background-color: rgba(225, 71, 62, 0.7) !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.match_evt_container .user_socials {
  padding-right: 0px !important;
}

.match_evt_container .user_events .title, .user_socials .title {
  background-color: rgba(40, 48, 45, 0.1) !important;
  text-transform: capitalize;
  font-weight: bold;
  padding: 5px 10px;
  margin-bottom: 8px;
}










