/*=========================================
    Section: payment new
    File: views / payment / _new.html.erb
  =========================================*/

.payments_new_section .payments_new_inner_section {
  background-color: #fff !important;
  background: url("img_background_main.png") repeat;
  padding: 0px !important;
  min-height: 822px;
}

.payments_new_section .content_container {
  padding: 30px 0px !important;
  // padding: 15px 0px !important;
  min-height: 822px;
}

.payments_new_section .content_details {
  padding: 15px 0px !important;
  width: 1170px;
  margin: auto;
}

.payments_new_section .payment_main_container {
  // background-color: rgba(47, 63, 91, 0.2) !important;
  // padding: 10px !important;
  background-color: rgba(225, 71, 62, 0.1) !important;
  padding: 0px !important;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.14);
}

.payments_new_section .pymt_image_section {
  background-color: rgba(47, 63, 91, 0.2) !important;
  padding: 0px;
}

.payments_new_section .pymt_image_cover {
  background-color: rgba(47, 63, 91, 0.3) !important;
  position: absolute;
  height: 100%;
  width: 100%;
}

.payments_new_section .text_cover {
  background-color: rgba(47, 63, 91, 0.4) !important;
}

.payments_new_section .pymt_text_content {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  padding: 8px 15px;
}

.payments_new_section .pymt_text_content i {
  margin-right: 7px;
}

.payments_new_section .fa-map-marker {
  margin-left: 5px;
}

.payments_new_section .fa-calendar {
  margin-left: 2px;
  margin-right: 5px !important;
}

.payments_new_section .fa-map-pin {
  margin-left: 5px;
}

.payments_new_section .fa-male {
  margin-left: 5px;
}

.payments_new_section .divider {
  margin: 0px 5px;
}

.payments_new_section .pymt_image_section img {
  width: 100%;
}

.payments_new_section .pymt_form_section {
  background-color: #fff;
  padding: 15px;
  // height: 467px;
}

.payments_new_section .header {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  letter-spacing: 1px;
  text-transform: capitalize;
  background-color: #283041;
  padding: 15px 10px;
  margin-bottom: 15px;
  border-bottom: 2px solid #eeaa02;
}

.payments_new_section table {
  width: 100%;
}

.payments_new_section th {
  font-family: "Lato", sans-serif;
  font-size: 12px !important;
  letter-spacing: 1px;
  text-transform: uppercase !important;
  font-weight: bold !important;
  color: #414249 !important; 
}

.payments_new_section td {
  font-family: "Lato", sans-serif;
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: #414249 !important;
}

.payments_new_section .payment_details td {
  height: 40px; 
  letter-spacing: 1px;
}

.payments_new_section input[type="text"] {
  font-family: "Lato", sans-serif;
  font-weight: 300 !important;
  box-shadow: none !important;
  padding: 0px 15px !important;
  border: none !important;
  height: 40px;
  color: #454d53;
  font-size: 15px;
  margin-bottom: 0px !important;
  background-color: #F7F7F7 !important;
  margin-bottom: 15px !important;
}


// -------------------------------
//     workings
// -------------------------------

.pymt_header {
  font-family: "Lato", sans-serif;
  font-weight: bold !important;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.card_title {
  font-family: "Lato", sans-serif;
  font-weight: bold !important;
  font-size: 12px;
  text-transform: capitalize;
}

.card_images_all img {
  height: 30px;
  margin-bottom: 4px !important;
}

.payments_new_section .payment_card_type {
  display: none;
}

.row_card_number {

}

.row_cvv {
  width: 200px;
  float: right;
}

.row_exp {
  width: 300px !important;
}

.exp_mth {
  width: 120px !important;
  float: left !important;
}

.exp_divider {
  float: left !important;
  margin: 7px 15px !important;
}

.exp_yr {
  width: 120px !important;
}

.payments_new_section input[type="submit"] {
  font-family: 'Lato', sans-serif;
  font-size: 20px !important;
  font-weight: 300;
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #E34B51;
  padding: 14px 10px;
  width: 100%;
  border-radius: 2px;
  margin-top: 6px;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}


.payments_new_section input[type="submit"]:hover {
  background-color: #eeaa02;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}









