/*=========================================
    Section: products/_show
    File: views / products / _show.html.erb 
  =========================================*/

.subscription_detail_info_section_tree_link_container {
  width: 960px !important;
  margin: auto;
}

.subscription_detail_info_section_tree_link_container .tree_link {
  font-family: "Lato", sans-serif !important;
  font-size: 12px !important;
  color: #2F3F5B !important;
  padding: 15px 0px !important;
}

.subscription_detail_info_section_tree_link_container .tree_link a {
  color: #2F3F5B !important;
}

.subscription_detail_info_section_tree_link_container .tree_link a:hover {
  text-decoration: underline !important;
}

.subscription_detail_info_section {
  min-height: 1080px;
  background: url("img_background_main.png") repeat;
  padding: 0px !important;
}
@media only screen and (max-width: 960px) {
  .subscription_detail_info_section {
    min-height: 1200px;
  }
}

.subscription_detail_info_section .upper_content {
  background-color: rgba(0, 0, 0, 0.1) !important;
  padding: 30px !important;
  height: 375px;
}
@media only screen and (max-width: 500px) {
  .subscription_detail_info_section .upper_content  {
    height: 415px;
  }
}

.subscription_detail_info_section .upper_content_pricing_info {
  text-align: center;
}
@media only screen and (min-width: 960px) {
  .absolute_content {
    width: 960px !important;
    margin: auto;
  }
}

.subscription_detail_info_section .pricing_title {
  font-family: "Lato", sans-serif !important;
  font-size: 45px !important;
  color: #2F3F5B;
  text-transform: capitalize;
}

.subscription_detail_info_section .pricing_subtitle {
  font-family: "Lato", sans-serif !important;
  font-size: 15px !important;
  color: #2F3F5B;
  text-transform: capitalize;
}

.subscription_detail_info_section .btn_container {
  margin-top: 10px !important;
}
@media only screen and (min-width: 500px) {
  .subscription_detail_info_section .btn_container {
    width: 438px;
    margin: auto;
  }
}

@media only screen and (max-width: 500px) {
  .subscription_detail_info_section .btn_container ul li {
    width: 100% !important;
    margin-bottom: 5px;
  }

  .subscription_detail_info_section .btn_container ul li a {
    width: 100% !important;
  }
}

.subscription_detail_info_section .btn_first a {
  font-family: "Lato", sans-serif !important;
  color: #fff !important;
  font-size: 11px;
  font-weight: bold;
  background-color: #2F3F5B;
  padding: 10px 45px;
  display: inline-block;
  border-radius: 2px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.subscription_detail_info_section .btn_first a:hover {
  background-color: #8ABFA1 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.subscription_detail_info_section .btn_second a {
  font-family: "Lato", sans-serif !important;
  color: #fff !important;
  font-size: 11px;
  font-weight: bold;
  background-color: #2F3F5B;
  padding: 10px 65px;
  display: inline-block;
  border-radius: 2px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.subscription_detail_info_section .btn_second a:hover {
  background-color: #8ABFA1 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

@media only screen and (min-width: 960px) {
  .absolute_content {
    width: 960px !important;
    margin: auto;
  }
}

.subscription_detail_info_section .absolute_inner_content {
  background-color: red;
  height: 100px;
  width: 660px !important;
  margin: auto;
  position: relative;
}
@media only screen and (max-width: 960px) {
  .subscription_detail_info_section .absolute_inner_content {
    width: 320px !important;
  }
}

.subscription_detail_info_section .absolute_content_pricing_info {
  position: absolute;
  width: 100%;
  top: -158px;
}

.subscription_detail_info_section .recommended {
  position: absolute;
  font-size: 12px;
  background-color: #E1473E;
  padding: 9px;
  text-transform: lowercase;
  font-weight: bold;
  font-family: "Lato", sans-serif !important;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-box-shadow: 0px 12px 65px 1px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 12px 65px 1px rgba(0,0,0,0.57);
  box-shadow: 0px 12px 65px 1px rgba(0,0,0,0.57);
}

.subscription_detail_info_section .pricing_body {
  -webkit-box-shadow: 0px 12px 23px 1px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 12px 23px 1px rgba(0,0,0,0.57);
  box-shadow: 0px 12px 23px 1px rgba(0,0,0,0.57);
}

.subscription_detail_info_section .pricing_body .first_content {
  background-color: #242b38;
}

.subscription_detail_info_section .pricing_body .currency {
  color: #fff;
}

.subscription_detail_info_section .benifit_content {
  margin-top: 45px;
  background-color: rgba(0, 0, 0, 0.1) !important;
  padding: 15px;
}

.subscription_detail_info_section .benifit_title {
  font-family: "Lato", sans-serif !important;
  font-size: 45px !important;
  color: #2F3F5B;
  text-transform: capitalize;
  text-align: center;
  line-height: 45px;
  
  margin-bottom: 15px;
}

.subscription_detail_info_section .benifit_content ul {
  list-style-type: none;
}

.subscription_detail_info_section .benifit_content ul li {
  margin-bottom: 15px;
  font-family: "Lato", sans-serif !important;
  font-size: 12px;
  color: #2F3F5B;
}

.subscription_detail_info_section .benifit_content ul li i {
  margin-right: 5px;
  color: #fff;
  background: #8ABFA1;
  padding: 5px;
  border-radius: 200px;
}

.subscription_detail_info_section .btn_third a {
  font-family: "Lato", sans-serif !important;
  color: #fff !important;
  font-size: 15px;
  font-weight: bold;
  background-color: #2F3F5B;
  padding: 15px 65px;
  display: inline-block;
  border-radius: 2px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.subscription_detail_info_section .btn_third a:hover {
  background-color: #8ABFA1 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}







