/*=========================================
    Section: products/_show
    File: views / products / _show.html.erb 
  =========================================*/

.subscription_detail_info_section_tree_link_container {
  width: 960px !important;
  margin: auto;
}

.subscription_detail_info_section {
  min-height: 1080px;
  background: url("img_background_main.png") repeat;
  padding: 0px !important;
}
@media only screen and (max-width: 960px) {
  .subscription_detail_info_section {
    min-height: 1200px;
  }
}

.subscription_detail_info_section .banner_img_cover {
  background: url("img_background_banner.jpg")  no-repeat;
  height: 200px;
  background-size: cover;
  background-position: 50% 0%;
  border-bottom: 2px solid #eeaa02;
}

.subscription_detail_info_section .banner_text {
  font-family: "Lato", sans-serif !important;
  color: #fff !important;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  text-transform: capitalize;
  padding: 60px 5px;
}

.subscription_detail_info_section .upper_content {
  background-color: rgba(0, 0, 0, 0.1) !important;
  padding: 30px !important;
  height: 375px;
}
@media only screen and (max-width: 500px) {
  .subscription_detail_info_section .upper_content  {
    height: 415px;
  }
}

.subscription_detail_info_section .upper_content_pricing_info {
  text-align: center;
}
@media only screen and (min-width: 960px) {
  .absolute_content {
    width: 960px !important;
    margin: auto;
  }
}

.subscription_detail_info_section .pricing_title {
  font-family: "Lato", sans-serif !important;
  font-size: 45px !important;
  font-weight: 300;
  color: #414249;
  text-transform: capitalize;
}

.subscription_detail_info_section .pricing_subtitle {
  font-family: "Lato", sans-serif !important;
  font-size: 15px !important;
  font-weight: 300;
  color: #414249;
  text-transform: capitalize;
}

.subscription_detail_info_section .btn_container {
  margin-top: 10px !important;
}
@media only screen and (min-width: 500px) {
  .subscription_detail_info_section .btn_container {
    width: 450px;
    margin: auto;
  }
}

@media only screen and (max-width: 500px) {
  .subscription_detail_info_section .btn_container ul li {
    width: 100% !important;
    margin-bottom: 5px;
  }

  .subscription_detail_info_section .btn_container ul li a {
    width: 100% !important;
  }
}

.subscription_detail_info_section .btn_payment a {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 300;
  text-transform: capitalize;
  color: #fff !important;
  padding: 10px 25px;
  display: inline-block;
  width: 100%;
  background-color: #E34B51 !important;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.subscription_detail_info_section .btn_payment a:hover {
  background-color: #eeaa02 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.subscription_detail_info_section .absolute_inner_content {
  height: 600px;
  width: 660px !important;
  margin: auto;
  position: relative;
}
@media only screen and (max-width: 960px) {
  .subscription_detail_info_section .absolute_inner_content {
    width: 320px !important;
  }
}

.subscription_detail_info_section .absolute_content_pricing_info {
  position: absolute;
  width: 100%;
  top: -158px;
}

.subscription_detail_info_section .pricing_body {
  -webkit-box-shadow: 0px 12px 23px 1px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 12px 23px 1px rgba(0,0,0,0.57);
  box-shadow: 0px 12px 23px 1px rgba(0,0,0,0.57);
}

.subscription_detail_info_section .pricing_body .first_content {
  font-family: 'Lato', sans-serif;
  padding: 25px 0px;
  background-color: #242b38;
  text-align: center;
}

.subscription_detail_info_section .pricing_body .currency {
  color: #fff;
  font-weight: bold;
  font-size: 35px !important;
}

.subscription_detail_info_section .pricing_body .price {
  font-size: 60px;
  text-transform: uppercase;
  padding: 25px 0px;
  color: #fff !important;
}

.subscription_detail_info_section .pricing_body .period {
  font-size: 12px !important;
  font-weight: 300 !important;
  text-transform: lowercase !important;
}

.subscription_detail_info_section .pricing_body .second_content {
  font-size: 15px;
  padding: 15px 0px;
  font-weight: 400 !important;
}

.subscription_detail_info_section .pricing_body .text {
  font-family: "Lato", sans-serif !important;
  color: #283041;
  text-align: center;
  background-color: #fff !important;
  text-transform: capitalize;
  letter-spacing: 1px;
  border-bottom: 1px solid rgba(40,48,65, 0.1);
}

.subscription_detail_info_section .pricing_body .text_bottom {
  font-family: "Lato", sans-serif !important;
  color: #283041;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.subscription_detail_info_section .pricing_body .third_content a {
  font-family: "Lato", sans-serif !important;
  font-size: 20px !important;
  color: #fff !important;
  font-weight: 400;
  display: inline-block;
  width: 100%;
  padding: 14px 0px;
  background-color: #E34B51 !important;
  border-bottom: 1px solid #eeaa02;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.subscription_detail_info_section .pricing_body .third_content a:hover {
  color: #283041;
  background-color: #eeaa02 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.subscription_detail_info_section .benifit_content {
  margin-top: 45px;
  background-color: rgba(0, 0, 0, 0.1) !important;
  padding: 15px;
  border-bottom: 1px solid #eeaa02;
}

.subscription_detail_info_section .benifit_title {
  font-family: "Lato", sans-serif !important;
  font-size: 45px !important;
  font-weight: 300;
  color: #414249;
  text-transform: capitalize;
  text-align: center;
  line-height: 45px;
  text-align: center;
  line-height: 45px;
  margin-bottom: 5px;
}

.subscription_detail_info_section .benifit_content ul {
  list-style-type: none;
}

.subscription_detail_info_section .benifit_content ul li {
  margin-bottom: 15px;
  font-family: "Lato", sans-serif !important;
  font-size: 12px;
  color: #2F3F5B;
}

.subscription_detail_info_section .benifit_content ul li i {
  margin-right: 5px;
  color: #fff;
  background: #eeaa02;
  padding: 5px;
  border-radius: 200px;
}

.subscription_detail_info_section .btn_third a {
  font-family: "Lato", sans-serif !important;
  color: #fff !important;
  font-size: 15px;
  font-weight: bold;
  background-color: #2F3F5B;
  padding: 15px 65px;
  display: inline-block;
  border-radius: 2px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.subscription_detail_info_section .btn_third a:hover {
  background-color: #8ABFA1 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}







