/*=========================================
    Section: admin payments page
    File: views / managements / _user_dashboard_admin_managements.html.erb
  =========================================*/

// -----------------------------------
//  upper_data_content
// -----------------------------------

.user_dashboard_admin_managements .upper_data_content {
  padding: 0px !important;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.user_dashboard_admin_managements .data_content {
  text-align: center;
  color: #2F3F5B;
}

.user_dashboard_admin_managements .data_content .header {
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  background-color: #2F3F5B;
  padding: 5px 0px;
  color: #fff !important;
  border: 1px solid #2F3F5B;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.user_dashboard_admin_managements .header_data {
  font-family: sans-serif;
  font-size: 25px;
  padding: 10px;
  border: 1px solid #D4D4D4;
  border-bottom: 2px solid #D4D4D4;
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.user_dashboard_admin_managements .header_icon {
  float: left;
  padding: 0px 20px;
  border-right: 1px solid #D4D4D4;
  opacity: 0.8;
  font-size: 25px;
}

.user_dashboard_admin_managements .header_icon i {
  color: #2F3F5B !important;
}

.user_dashboard_admin_managements .minor_info {
  color: #E34B51;
  font-size: 10px;
  font-weight: bold;
  text-align: right;
  margin-right: 15px;
  letter-spacing: 1px;
}

.user_dashboard_admin_managements .minor_divider {
  color: #2F3F5B !important;
  font-weight: 300;
  margin: 0px 3px;
}

.user_dashboard_admin_managements .left_data {
  padding: 15px 5px 15px 15px;
}

.user_dashboard_admin_managements .middle_data {
  padding: 15px 5px;
}

.user_dashboard_admin_managements .right_data {
  padding: 15px 15px 15px 5px;
}


// -----------------------------------
//  responsive
// -----------------------------------

@media only screen and (max-width: 855px) {
  .user_dashboard_admin_managements .responsive_data {
    width: 100% !important;
    padding: 15px !important;
  }
}


// -----------------------------------
//  workings
// -----------------------------------

.header_data ul {
  list-style-type: none;
}

.header_data .title {
  margin: 0px;
  text-align: right;
  float: left;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 10px;
}

.header_data .title li {
  margin-right: 8px;
}

.header_data .content {
  margin: 0px;
  text-align: left;
}

.header_data .negative {
 color: #E34B51 !important;
}

.header_data .positive {
 color: #2F3F5B !important;
}

.header_data .total_amt {
  background-color: rgba(238, 170, 2, 0.2) !important;
  border-top: 1px solid #2F3F5B;
}

.header_data .link_btn {
  font-size: 12px !important;
  margin-top: 3px;
}

.header_data .link_btn a {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #2F3F5B !important;
  display: inline-block;
  width: 100% !important;
  letter-spacing: 1px;
  color: #fff !important;
  padding: 3px 0px;
  border-radius: 2px;
}

.header_data .link_btn a:hover {
  background-color: rgba(225, 71, 62, 0.7) !important;
}

.view_btn {
  margin-top: 10px !important;
}












