/*=========================================
    Section: profile page
    File: views / users / _show.html.erb
  =========================================*/

.users_profile_page_section {
  background: url("img_background_main.png") repeat;
  // height: 800px;
  padding: 0px !important;
}


// ======== upper_section ========
.users_profile_page_section .upper_section {
  padding: 0px !important;
}

.users_profile_page_section .upper_section .profile_banner {
  background: url("img_background.jpg") no-repeat;
  background-position: 0% 60%;
  background-size: cover;
}

.users_profile_page_section .upper_section .profile_inner_banner {
  background-color: rgba(0, 0, 0, 0.6) !important;
  text-align: center;
}

.users_profile_page_section .header .nav_user_section {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.users_profile_page_section .header .create_button a {
  background-color: #E34B51 !important;
}

.users_profile_page_section .header .create_button a:hover {
  background-color: #283041 !important;
}

.users_profile_page_section .header .nav_user_section .notification_li .fa {
  color: rgba(255,255,255, 0.8) !important;
}

.users_profile_page_section .upper_section .upper_profile_content {
  padding: 25px 0px;
}

.users_profile_page_section .upper_section .profile_img_main_cover {
  background-color: rgba(255, 255, 255, 0.2) !important;
  padding: 10px;
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 200px;
}

.users_profile_page_section .upper_section .profile_img_main_cover img {
  width: 150px;
  border-radius: 200px !important;
}

.users_profile_page_section .upper_section .user_name {
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  margin: 0px;
  color: #fff;
  text-transform: capitalize;
  word-spacing: 3px;
}

.users_profile_page_section .upper_section .user_location {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  margin: 0px;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.users_profile_page_section .users_profile_page_section .upper_section .divider {
  margin: 0px 8px;
}

.users_profile_page_section .upper_section .user_location i {
  margin-right: 2px;
}

.users_profile_page_section .upper_section .user_social_icons {
  margin-top: 10px
}

.users_profile_page_section .upper_section .user_social_icons .fa-facebook {
  font-size: 15px;
  color: #fff !important; 
  padding: 16px 20px;
  background-color: rgba(255,255,255, 0.2) !important;
  margin: 0px 2px;
}

.users_profile_page_section .upper_section .user_social_icons .fa-twitter {
  font-size: 15px;
  color: #fff !important; 
  padding: 16px 18px;
  background-color: rgba(255,255,255, 0.2) !important;
  margin: 0px 2px;
}

.users_profile_page_section .upper_section .user_social_icons a:hover {
  color: #E34B51 !important; 
}


// ======== middle_section ========
.users_profile_page_section .middle_section {
  background-color: rgba(255, 255, 255, 0.7) !important;
  // background-color: #fff !important;
  padding: 8px 0px;
}

.users_profile_page_section .middle_section .middle_inner_section {
  background-color: red;
  width: 1170px !important;
  margin: auto;
}

.users_profile_page_section .middle_section .left {
  margin-top: 10px;
  margin-bottom: 10px;
}

.users_profile_page_section .middle_section .left li span {
  float: left;
}

.users_profile_page_section .middle_section .left .header {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #7C93A7;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-right: 4px;
}

.users_profile_page_section .middle_section .left .content {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #414249;
}

.users_profile_page_section .middle_section .right {
  margin-bottom: 0px;
}

.users_profile_page_section .middle_section .right .btn a {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 300;
  background: #000;
  text-transform: capitalize;
  color: #fff !important;
  padding: 10px 25px;
  margin-left: -15px;
  letter-spacing: 1px;
}

.users_profile_page_section .middle_section .right .btn a:hover {
  background-color: rgba(47, 63, 91, 0.5) !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.users_profile_page_section .middle_section .right .btn_follow a {
  background-color: #E34B51 !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.users_profile_page_section .middle_section .right .btn_friend a {
  background-color: #58CDA6 !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.users_profile_page_section .middle_section .right .btn_invite a {
  background-color: #4BB4BF !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}


// ======== lower_section ========
.users_profile_page_section .lower_section {
  padding: 15px 0px;
  // background-color: blue; //////////////////////////////comment out
}

.users_profile_page_section .lower_section .lower_inner_section {
  // background-color: green; //////////////////////////////comment out
  width: 1170px !important;
  margin: auto;
  height: 400px;
}

// -------- column_left --------
.users_profile_page_section .column_left {
  // background-color: red; //////////////////////////////comment out
  padding: 0px !important;
}

.users_profile_page_section .column_left .left_container {
  padding: 5px;
}

.users_profile_page_section .column_left .left_container .left_inner_container {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #414249;
  background-color: #fff;
}

.users_profile_page_section .column_left .left_container .header {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #7C93A7;
}

.users_profile_page_section .column_left .left_container .header .header_content {
  padding: 8px 0px;
  text-align: center;
}

.users_profile_page_section .column_left .left_container .content .content_info {
  padding: 15px;
}

.users_profile_page_section .column_left .left_container .aboutme_container {
  background-color: #4BB4BF !important;
  color: #fff !important;
  padding: 0px !important;
}

.users_profile_page_section .column_left .left_container .aboutme_container .header {
  border-bottom: 1px solid #fff !important;
  letter-spacing: 1px !important;
}

.users_profile_page_section .column_left .left_container .aboutme_container .content_info {
  word-spacing: 3px !important;
}

.users_profile_page_section .column_left .left_container .interest_container {
  background-color: #58CDA6 !important;
  color: #fff !important;
  padding: 0px 0px 10px !important;
}

.users_profile_page_section .column_left .left_container .interest_container .header {
  border-bottom: 1px solid #fff !important;
  letter-spacing: 1px !important;
}

.users_profile_page_section .column_left .left_container .interest_container .content {
  background-color: #58CDA6 !important;
  padding: 0px !important;
}

.users_profile_page_section .column_left .left_container .interest_container .content_info .tags {
  margin: 0;
  padding: 0;
  right: 24px;
  list-style: none;
}

.users_profile_page_section .column_left .left_container .interest_container .content_info .tags li, .tags a {
  float: left;
  height: 24px;
  line-height: 24px;
  position: relative;
  font-size: 11px;
  margin-bottom: 5px;
}

.users_profile_page_section .column_left .left_container .interest_container .content_info .tags a {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-left: 20px;
  padding: 0 10px 0 12px;
  background: #283041;
  color: #fff !important;
  text-decoration: none;  
}

.users_profile_page_section .column_left .left_container .interest_container .content_info .tags a:before {
  content: "";
  float: left;
  position: absolute;
  top: 0;
  left: -12px;
  width: 0;
  height: 0;
  border-color: transparent #283041 transparent transparent;
  border-style: solid;
  border-width: 12px 12px 12px 0;    
}

.users_profile_page_section .column_left .left_container .interest_container .content_info .tags a:after{
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  float: left;
  width: 4px;
  height: 4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
  -moz-box-shadow: -1px -1px 2px #004977;
  -webkit-box-shadow: -1px -1px 2px #004977;
  box-shadow: -1px -1px 2px #004977;
}

.users_profile_page_section .column_left .left_container .interest_container .content_info .tags a:hover {
  text-decoration: underline;
  background: #2B3547 !important;
} 

.users_profile_page_section .column_left .left_container .interest_container .content_info .tags a:hover:before {
  border-color:transparent #2B3547 transparent transparent;
}


// -------- column_middle --------
.users_profile_page_section .column_middle {
  // background-color: red; //////////////////////////////comment out
  padding: 0px !important;
}

.users_profile_page_section .column_middle .middle_container {
  padding: 5px;
}

.users_profile_page_section .column_middle .middle_container .middle_inner_container {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #414249;
  background-color: #fff;
  padding: 0px !important;
}

.users_profile_page_section .column_middle .middle_container .header {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0px !important;
  text-align: center;
}

.users_profile_page_section .column_middle .middle_container .header .header_content {
  background-color: #283041;
  padding: 9px !important;
  border-bottom: 2px solid #E34B51;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.users_profile_page_section .evts_feed:hover {
  background-color: #E34B51 !important;
  cursor: pointer;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.users_profile_page_section .evts_upcoming {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.users_profile_page_section .evts_upcoming:hover {
  background-color: #E34B51 !important;
  cursor: pointer;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.users_profile_page_section .evts_past:hover {
  background-color: #E34B51 !important;
  cursor: pointer;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.users_profile_page_section .column_middle .middle_container .content .content_info {
  padding: 15px;
}


// -------- column_right --------
.users_profile_page_section .column_right {
  // background-color: red; //////////////////////////////comment out
  padding: 0px !important;
}

.users_profile_page_section .column_right .right_container {
  padding: 5px;
}

.users_profile_page_section .column_right .right_container .right_inner_container {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #414249;
  background-color: #fff;
}

.users_profile_page_section .column_right .right_container .network_container {
  background-color: #4BB4BF !important;
  color: #fff !important;
  padding: 0px !important;
}

.users_profile_page_section .column_right .right_container .network_container .header {
  border-bottom: 1px solid #fff !important;
  letter-spacing: 1px !important;
}

.users_profile_page_section .column_right .right_container .network_container .content_info {
  word-spacing: 3px !important;
}

.users_profile_page_section .column_right .right_container .header {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #7C93A7;
}

.users_profile_page_section .column_right .right_container .header .header_content {
  padding: 8px 0px;
  text-align: center;
}

.users_profile_page_section .column_right .right_container .content .content_info {
  padding: 15px;
}


// ------------------------
// testing
// ------------------------











