/*=========================================
    Section: profile page
    File: views / users / _show.html.erb
  =========================================*/

.users_profile_page_section {
  background: url("img_background_main.png") repeat;
  height: 600px;
  padding: 0px !important;
}

.upper_section {
  background-color: green;
  padding: 0px !important;
}

.lower_section {
  padding: 0px !important;
  width: 1170px !important;
  margin: auto;
  height: 400px;
  background-color: blue;
}


