/*=========================================
    Section: users edit/update page
    File: views / users / _form.html.erb
    File: views / users / _edit.html.erb
  =========================================*/

.user_form_page_section {
  padding: 0px !important;
  background: url("img_background_main.png") repeat;
}

// --------left_column_section--------
.left_column_section {
  background-color: #283041;
  min-height: 500px;
  // background-color: red;
}

// --------right_column_section--------
.right_column_section {
  //background-color: green;
}





// ------------------------------
//   workings
// ------------------------------

.left_inner_section ul {
  margin: 0px !important;
  list-style: none;
}