/*=========================================
    Section: signin page
    File: views / users / sessions / _new.html.erb
  =========================================*/

.users_sessions_new_section .banner_singedout_section {
  background-color: green;
  background: url("img_background.jpg") no-repeat;
  background-position: 0% 60%;
  background-size: cover;
  padding: 0px !important;
}

.users_sessions_new_section .banner_singedout_section .banner_inner_section {
  background-color: rgba(0,0,0,0.6) !important;
  text-align: center;
  height: 685px;
}

.users_sessions_new_section .banner_singedout_section h1 {
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  font-weight: 200;
  text-align: center;
  margin: 0px;
  color: #fff;
  text-transform: capitalize;
  word-spacing: 3px;
}
@media only screen and (max-width: 670px) {
  .users_sessions_new_section .banner_singedout_section h1  {
    font-size: 30px;
  }
}

.users_sessions_new_section .banner_singedout_section .banner_content {
  margin: auto;
  padding: 0px 15px;
  margin-top: 5px;
}
@media only screen and (min-width: 940px) {
  .users_sessions_new_section .banner_singedout_section .banner_content {
    width: 900px;
    padding: 25px 0px;
    text-align: left;
    margin-top: 50px;
  }
}

.users_sessions_new_section .banner_singedout_section .sub_header {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 200;
  color: #fff;
  text-align: center;
  word-spacing: 1px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 670px) {
  .users_sessions_new_section .banner_singedout_section .sub_header {
    font-size: 15px;
  }
}

.users_sessions_new_section .banner_bottom_img {
  opacity: 0.6;
  height: 100px;
  border-bottom: 3px solid rgba(225, 71, 62, 0.7);
  background: url("img_banner_party_01.png") repeat;
}

.users_sessions_new_section .signup_container {
  background-color: rgba(255, 255, 255, 0.08) !important;
  margin: 25px 0px 0px;
  padding: 25px;
}

@media only screen and (max-width: 670px) {
  .users_sessions_new_section .signup_container {
    margin: 0px 0px 0px;
    padding: 15px;
  }
}

.signup_name label {
  color: #fff !important;
}

.users_sessions_new_section #user_email {
  font-family: "Lato", sans-serif;
  box-shadow: none !important;
  outline: 0 !important;
  padding: 0px 15px !important;
  height: 50px;
  color: #fff;
  font-weight: 200 !important;
  font-size: 18px;
  width: 394px;
  float: left;
  margin-right: 30px;
  background-color: transparent;
  border: 1px solid #fff !important;
}
@media only screen and (max-width: 520px) {
  .users_sessions_new_section #user_email {
    font-size: 15px;
  }
}
@media only screen and (max-width: 940px) {
  .users_sessions_new_section #user_email {
    width: 100%;
    margin-right: 0px;
  }
}

.users_sessions_new_section #user_password {
  font-family: "Lato", sans-serif;
  box-shadow: none !important;
  outline: 0 !important;
  padding: 0px 15px !important;
  height: 50px;
  color: #fff;
  font-weight: 200 !important;
  font-size: 18px;
  width: 394px;
  float: right;
  background-color: transparent !important;
  border: 1px solid #fff !important;
}
@media only screen and (max-width: 520px) {
  .users_sessions_new_section #user_password {
    font-size: 15px;
  }
}
@media only screen and (max-width: 940px) {
  .users_sessions_new_section #user_password {
    width: 100%;
    margin-right: 0px;
  }
}

.users_sessions_new_section input[type="submit"] {
  margin-bottom: 0px !important;
  width: 100%;
  background-color: rgba(225,71,62,0.7) !important;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 18px;
}

.users_sessions_new_section input[type="submit"]:hover {
  background-color: rgba(47,63,91,0.7) !important;
}

.users_sessions_new_section .notified_text {
  color: #2F3F5B;
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
}

@media only screen and (max-width: 640px) {
.landingpg_footer_section .social_media {
    margin: 15px auto !important;
    width: 270px !important;
  }
}

@media only screen and (max-width: 800px) {
  .users_sessions_new_section .banner_singedout_section p {
    font-size: 18px !important;
  }
}

.users_sessions_new_section .signedout_content_section .point {
  margin-top: 15px !important
}

.users_sessions_new_section .header_section {
  padding: 15px 0px !important;
}

.users_sessions_new_section .logo_links_section {
  text-align: left;
  margin: auto;
}
@media only screen and (min-width: 970px) {
  .users_sessions_new_section .logo_links_section {
    width: 960px !important;
  }
}
@media only screen and (max-width: 970px) {
  .users_sessions_new_section .logo_links_section {
    padding: 0px 15px !important;
  }
}

.users_sessions_new_section .logo img {
  width: 65px;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.users_sessions_new_section .logo img:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  padding: 15px;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.users_sessions_new_section .logo_title {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 200;
  color: #fff;
}

.users_sessions_new_section .links {
  float: right;
  display: inline-block;
}
@media only screen and (max-width: 490px) {
  .users_sessions_new_section .links {
    display: none !important;
  }
}

.users_sessions_new_section .links ul {
  list-style-type: none;
  padding: 14px 0px;
  margin: 0px !important;
}

.users_sessions_new_section .links ul li {
  float: right;
  margin-top: 3px;
}

.users_sessions_new_section .links ul li a {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 200;
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
  padding: 15px;
  margin-left: 5px;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.users_sessions_new_section .links ul li a:hover {
  background-color: rgba(47,63,91,0.3) !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.users_sessions_new_section .launch_info {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  font-weight: 200;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 8px;
  text-align: center;
}

.signup_inner_upper_content {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  font-weight: 200;
  color: #fff !important;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-top: 8px;
}

.signup_inner_upper_content a {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  font-weight: 200;
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: underline !important;
  margin-top: 8px;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.users_sessions_new_section .signup_inner_upper_content a:hover {
  color: #E34B51 !important;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.users_sessions_new_section .terms_info {
  margin-top: 15px;
  text-align: center !important;
}

.users_sessions_new_section .terms_info a {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  font-weight: 200;
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 8px;
  text-align: center !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.users_sessions_new_section .terms_info a:hover {
  color: #E34B51 !important;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.users_sessions_new_section .lower_section {
  padding: 0px !important;
}

.users_sessions_new_section .content_container {
  padding: 30px 0px;
  background-color: red;
  background: url("img_background_main.png") repeat;
}

.users_sessions_new_section .header_section {
  padding: 15px 0px;
}

.users_sessions_new_section .header {
  font-family: "Lato", sans-serif;
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: capitalize;
  padding: 0px 15px !important;
  text-align: center;
}

.users_sessions_new_section .sub_header {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: center;
  padding: 15px !important;
}

.content_details {
  padding: 15px 0px !important;
}

.users_sessions_new_section .feed_container ul {
  list-style-type: none;
  margin: 0px !important;
}

.users_sessions_new_section .feed_container ul li {
  margin-bottom: 15px !important;
  float: left !important;
}

.users_sessions_new_section .feed_container {
  margin: auto;
}
@media only screen and (min-width: 1522px) {
.users_sessions_new_section .feed_container {
    width: 1500px;
  }
}

@media only screen and (min-width: 1170px) {
.users_sessions_new_section .event_container {
    margin: auto;
    width: 1170px !important;
  }
}

.users_sessions_new_section .feed_inner_section {
  background-color: #fff;
  margin-bottom: 30px;
}

.users_sessions_new_section .feed {
  position: relative;
}

.users_sessions_new_section .feed_header {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #fff;
  word-spacing: 3px;
  text-transform: uppercase;
  background-color: rgba(47,63,91,0.5) !important;
  position: absolute;
  z-index: 1;
  height: 80px;
  width: 100%;
  padding: 10px 15px;
}

.users_sessions_new_section .feed_date {
  margin-bottom: 3px;
}

.users_sessions_new_section .feed_location {
  margin-bottom: 3px;
}
@media screen and (min-width: 640px) and (max-width: 1145px) {
 .users_sessions_new_section .feed_location {
  display: none;
  } 
}

.users_sessions_new_section .feed_header .date {
  margin-right: 5px;
}

.users_sessions_new_section .feed_header .location {
  margin-right: 10px;
  margin-left: 2px;
} 

.users_sessions_new_section .feed_header .price {
  margin-right: 10px;
  margin-left: 2px;
} 

.users_sessions_new_section .feed_header .age {
  margin-right: 10px;
  margin-left: 2px;
} 

.users_sessions_new_section .feed_img img {
  width: 100%;
}

.users_sessions_new_section .feed_user {
  width: 20%;
  margin: auto;
  height: 20%;
  position: relative;
}

.users_sessions_new_section .feed_user img {
  position: absolute;
  z-index: 1;
  bottom: -20px;
  background-color: #fff;
  padding: 2px;
}

.users_sessions_new_section .feed_sub_title {
  margin-top: 25px;
  text-align: center;
  border-bottom: 1px solid #f8f8f9;
}

.users_sessions_new_section .feed_organizer {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #888888;
  text-transform: uppercase;
}

.users_sessions_new_section .feed_organizer a {
  color: #E34B51 !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.users_sessions_new_section .feed_organizer a:hover {
  text-decoration: underline;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.users_sessions_new_section .feed_title {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  margin-top: 5px;
  font-weight: bold;
  color: #283041;
  text-transform: uppercase;
  margin-bottom: 15px;
  line-height: 25px;
  padding: 0px 5px;
}

.users_sessions_new_section .feed_comments_container {
  padding: 10px;
}
@media only screen and (max-width: 960px) {
  .users_sessions_new_section .feed_comments_container {
    display: none;
  }
}

.users_sessions_new_section .feed_comments_container ul li {
  margin: 0px !important;  
}

.users_sessions_new_section .feed_inner_comment_section {
  padding: 5px !important;
}

.users_sessions_new_section .feed_comments_container img {
  border-radius: 2px;
  padding-right: 5px !important;
}

.users_sessions_new_section .feed_comment_img {
  padding: 0px !important;
}

.users_sessions_new_section .feed_comment {
  padding: 0px !important;
}

.users_sessions_new_section .feed_comment span {
  font-family: "Lato", sans-serif;
  color: #283041;
  background-color: rgba(47,63,91,0.02) !important;
  padding: 5px !important;
}

.users_sessions_new_section .feed_comment span b a {
  font-family: "Lato", sans-serif;
  color: #E34B51 !important;
  margin-right: 5px;
}

.users_sessions_new_section .feed_comment span b a:hover {
  text-decoration: underline;
}

.users_sessions_new_section .booking {
  border-top: 1px solid #f8f8f9;
  padding: 15px;
  opacity: 0.7;
}

.users_sessions_new_section .booking a {
  font-family: "Lato", sans-serif;
  color: #fff !important;
  text-transform: uppercase;
  padding: 15px;
  background-color: #E34B51;
  width: 100% !important;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.users_sessions_new_section .booking a:hover {
  background-color: #58CDA6 !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.users_sessions_new_section .background_dark {
  padding: 30px 0px !important;
  background-size: cover;
  background: url("img_background_main_02.png") repeat;
  height: 600px;
}
@media only screen and (max-width: 600px) {
  .users_sessions_new_section .background_dark {
    height: 750px;
  }
}

.users_sessions_new_section .footer_section {
  height: 770px;
}
@media only screen and (max-width: 600px) {
  .users_sessions_new_section .footer_section {
    height: 840px;
  }
}

.users_sessions_new_section .background_dark .header {
  color: #fff !important;
}

.users_sessions_new_section .background_dark .sub_header {
  color: #fff !important;
  font-weight: 200 !important;
}

.users_sessions_new_section .social_media {
  text-align: center;
}

.users_sessions_new_section .social_media a {
  color: #fff !important;
  font-size: 60px;
  padding: 0px 15px;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.users_sessions_new_section .social_media a:hover {
  color: #E34B51 !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
}

.users_sessions_new_section .phone_img_container {
  width: 295px;
  margin: auto;
  margin-top: 25px;
}

.users_sessions_new_section .apple_store_img_container {
  position: absolute;
  top: 350px;
  right: 250px;
  position: relative;
}

.users_sessions_new_section .apple_store_img_container img {
  border-radius: 3px;
  position: absolute;
  bottom: 700px;
}
@media only screen and (max-width: 815px) {
  .users_sessions_new_section .apple_store_img_container img {
    display: none;
  }
}

.users_sessions_new_section .howitworks_container {
  background-color: rgba(47,63,91,0.1) !important;
  text-align: center;
  padding: 15px;
}

.users_sessions_new_section .howitworks_container i {
  opacity: 0.8;
}

.users_sessions_new_section .howitworks_container .fa-mobile {
  font-size: 100px;
  color: #283041;
}

.users_sessions_new_section .howitworks_container .fa-calendar {
  font-size: 60px;
  color: #283041;
  margin: 20px;
}

.users_sessions_new_section .howitworks_container .fa-user-plus {
  font-size: 60px;
  color: #283041;
  margin: 20px;
}

.users_sessions_new_section .howitworks_container .fa-users {
  font-size: 60px;
  color: #283041;
  margin: 20px;
}

.users_sessions_new_section .howitworks_container .cover_number {
  background-color: #E34B51;
  width: 40px;
  padding: 10px;
  margin: auto;
  border-radius: 2px;
  font-size: 15px;
  color: #fff;
  margin-bottom: 15px;
}

.users_sessions_new_section .howitworks_container .header_main {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.users_sessions_new_section .howitworks_container .header_sub {
  text-transform: capitalize;
  font-size: 12px; 
  color: #888888;
}

.users_sessions_new_section .footer_links {
  border-top: 1px solid #393838;
  border-bottom: 1px solid #393838;
  padding: 20px;
  margin: auto;
  margin-top: 40px;
}

.users_sessions_new_section .footer_links ul {
  margin-bottom: 0px !important;
}
@media only screen and (min-width: 760px) {
  .users_sessions_new_section .footer_links ul {
    width: 690px;
    margin: auto;
  }
}

@media only screen and (max-width: 760px) {
  .users_sessions_new_section .footer_links ul li {
    width: 100% !important;
    text-align: center !important;
    padding: 15px 0px !important;
    margin: 0px;
  }
}

.users_sessions_new_section .footer_links a {
  font-family: "Lato", sans-serif;
  color: #fff !important;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.users_sessions_new_section .footer_links a:hover {
  color: #E34B51 !important;
}

.users_sessions_new_section .copyright_content {
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: auto;
  padding: 15px 0px;
  text-align: center;
}

.users_sessions_new_section .aboutus {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  padding: 0px 15px !important;
}

.users_sessions_new_section .event_content_section {
  padding: 0px !important;
}

.users_sessions_new_section .content_details {
  padding: 15px 0px !important;
  margin: auto;
}

.users_sessions_new_section .event_content_details {
  padding: 15px 0px !important;
  margin: auto;
}

.users_sessions_new_section .event_container ul {
  list-style-type: none;
}

.users_sessions_new_section .event_container {
  margin: auto;
}

.users_sessions_new_section .event_container ul {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #414249;
  margin: 0px !important;
}

.users_sessions_new_section .event_container ul li {
  list-style-type: none;
  margin-bottom: 30px;
  padding: 0px 15px !important;
  margin-right: 2px !important;
}
@media only screen and (max-width: 1030px) {
  .users_sessions_new_section .event_container ul li {
    // width: 280px;
    width: 30.3%;
    float: left !important;
  }
}

.users_sessions_new_section .image_content_info {
  font-size: 15px;
  font-weight: bold;
  padding: 0px !important;
  background-color: #fff;
  border-bottom: 2px solid rgba(225, 71, 62, 0.3) !important;
}
@media only screen and (min-width: 1170px) {
  .users_sessions_new_section .image_content_info {
    width: 1140px;
  }
}

.users_sessions_new_section .banner .ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.users_sessions_new_section .banner .ribbon-green {
  font: bold 10px Sans-Serif;
  opacity: 0.95;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  position: relative;
  padding: 5px 0;
  left: -40px;
  top: 8px;
  width: 114px;
  background-color: #58CDA6;
  color: #283041;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px0px3pxrgba 0, 0, 0, 0.3;
}

// ------ left_evt -------
.users_sessions_new_section .left_evt {
  float: left;
  margin-right: 8px;
}

.users_sessions_new_section .img_shade_cover {
  background-color: rgba(47, 63, 91, 0.2) !important;
  position: absolute;
  width: 250px;
  height: 250px;
}

.users_sessions_new_section .img_shade_cover a  {
  position: absolute;
  left: 228px;
  top: 8px;
  color: #fff !important;
}

.users_sessions_new_section .left_evt .img_cover {
  width: 250px;
  height: 250px;
  background-color: rgba(40, 48, 45, 0.1) !important;
}
@media only screen and (max-width: 1030px) {
  .users_sessions_new_section .left_evt .img_cover {
    margin-bottom: 15px;
  }
}

.users_sessions_new_section .left_evt img {
  width: 250px;
  height: 250px;
}


// ------ middle_evt -------
.users_sessions_new_section .middle_evt {
  padding: 15px;
  float: left;
}
@media only screen and (min-width: 1170px) {
  .users_sessions_new_section .middle_evt {
    width: 655px;
    float: left;
    margin-right: 8px; 
  }
}

.users_sessions_new_section .event_container .title {
  margin-bottom: 12px;
}

.users_sessions_new_section .event_container .title a {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  color: #414249 !important;
  font-weight: bold;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.users_sessions_new_section .event_container .title a:hover {
  color: #E34B51 !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.users_sessions_new_section .middle_evt .info {
  margin-bottom: 8px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.users_sessions_new_section .info i {
  font-size: 14px;
  margin-right: 5px;
}

.users_sessions_new_section .middle_evt .fa-map-marker {
  margin-right: 8px;
  font-size: 19px;
}

.users_sessions_new_section .middle_evt .fa-map-pin {
  margin-left: 3px;
  margin-right: 8px;
}

.users_sessions_new_section .middle_evt .city_country {
  text-transform: capitalize;
}

.users_sessions_new_section .middle_evt .divider {
  border-top: 1px solid #ededf3;
  margin: 20px 0px;
}

.users_sessions_new_section .middle_evt_bottom_info li {
  font-size: 12px;
  text-transform: capitalize;
  margin: 0px !important;
  padding: 0px !important;
  margin-right: 35px !important;
  background-color: transparent !important;
}

.users_sessions_new_section .middle_evt_bottom_info .header {
  font-size: 15px !important;
  font-weight: bold;
  color: #414249 !important;
  padding: 0px !important;
  text-align: left !important;
}

.users_sessions_new_section .middle_evt_bottom_info .content_header {
  color: #E34B51;
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
}

.users_sessions_new_section .middle_evt_bottom_info .content {
  margin-top: 5px;
  font-size: 18px;
}

.users_sessions_new_section .middle_evt_bottom_info .content a {
  margin-top: 5px;
  font-size: 18px;
  color: #414249;
  text-align: center !important;
}

.users_sessions_new_section .middle_evt_bottom_info .content a:hover {
  color: #E34B51;
  font-weight: bold;
}

.users_sessions_new_section .middle_evt_bottom_info .report_content {
  float: right;
  margin-right: 0px !important;
}

.users_sessions_new_section .middle_evt_bottom_info .report_content a {
  margin-top: 28px !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.users_sessions_new_section .middle_evt_bottom_info .report_content a:hover {
  color: #E34B51 !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.users_sessions_new_section .content_gender i {
  font-size: 22px !important;
  margin-right: 3px;
}

.users_sessions_new_section .content_text {
  font-size: 15px;
}

.users_sessions_new_section .content_available {
  color: #58CDA6;
  font-weight: bold;
  margin-top: 4px;
}

.users_sessions_new_section .content_divider {
  margin: 0px 10px;
}

.users_sessions_new_section .content_soldout {
  color: #E34B51;
  font-weight: bold;
  margin-top: 4px;
}

// ------ right_evt -------
.users_sessions_new_section .right_evt {
  padding: 5px;
  text-align: center;
  float: right;
  width: 215px;
}
@media only screen and (min-width: 1170px) {
  .users_sessions_new_section .socialupcoming_text {
    padding: 5px 1px 5px 5px;
    float: left;
  }
}

.users_sessions_new_section .right_evt .right_evt_container {
  background-color: rgba(47, 63, 91, 0.03) !important;
  padding: 30px 20px 10px 20px;
  height: 240px;
}

.users_sessions_new_section .right_evt i {
  font-size: 25px;
  margin-bottom: 25px;
}

.users_sessions_new_section .right_evt .date {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  color: #414249 !important;
  margin-bottom: 18px;
}

.users_sessions_new_section .right_evt .month {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #414249 !important;
  margin-bottom: 15px;
}

.users_sessions_new_section .right_evt .divider {
  margin: 0px 5px !important;
  font-weight: 300 !important;
}

.users_sessions_new_section .right_evt .btn_booknow a {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #fff !important;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 10px 0px;
  width: 100%;
  display: inline-block;
  background-color: #E34B51 !important;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.users_sessions_new_section .right_evt .btn_booknow a:hover {
  background-color: rgba(47, 63, 91, 0.5) !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.users_sessions_new_section .right_evt .btn_booked a {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #fff !important;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 10px 0px;
  width: 100%;
  display: inline-block;
  background-color: #283041 !important;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.users_sessions_new_section .right_evt .btn_soldout a {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #fff !important;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 10px 0px;
  width: 100%;
  display: inline-block;
  background-color: #283041 !important;
  background-color: rgba(47, 63, 91, 0.5) !important;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.users_sessions_new_section .right_evt .btn_save a {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #fff !important;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 10px 0px;
  width: 100%;
  display: inline-block;
  background-color: rgba(238, 170, 2, 0.6) !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.users_sessions_new_section .right_evt .btn_save a:hover {
  background-color: #eeaa02 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.users_sessions_new_section .right_evt .btn_unsave a {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #fff !important;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 10px 0px;
  width: 100%;
  display: inline-block;
  background-color: rgba(47, 63, 91, 0.5) !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.users_sessions_new_section .right_evt .btn_unsave a:hover {
  background-color: #eeaa02 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.users_sessions_new_section .match_link_info a {
  background-color: #E34B51 !important;
  padding: 5px 10px !important;
  font-size: 12px !important;
  border-radius: 5px !important;
  color: #fff !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.users_sessions_new_section .match_link_info a:hover {
  background-color: #58CDA6 !important;
  padding: 5px 10px !important;
  font-size: 12px !important;
  border-radius: 5px !important;
  color: #fff !important;
  font-weight: 300 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.users_sessions_new_section .eventupcoming_main_cover {
  position: relative;
}

.users_sessions_new_section .eventupcoming_cover {
  background-color: rgba(255,255,255, 0.5) !important;
  height: 251px;
  width: 1140px;
  position: absolute;
  z-index: 10;
  opacity: 0.9;
}

.users_sessions_new_section .eventupcoming_text {
  position: absolute;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #fff !important;
  background-color: rgba(225, 71, 62, 0.9) !important;
  z-index: 1;
  left: 59px;
  text-transform: capitalize;
  padding: 15px 20px;
  height: 48px;
  top: 100px;
  letter-spacing: 2px;
  border-radius: 3px;
}

.users_sessions_new_section .eventupcoming_text a {
  color: #fff !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.users_sessions_new_section .eventupcoming_text a:hover {
  color: #283041 !important;
  -webkit-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease;
}

.users_sessions_new_section .socialupcoming_cover {
  background-color: rgba(255,255,255, 0.4) !important;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
  opacity: 0.9;
}

@media only screen and (min-width: 1090px) {
  .users_sessions_new_section .socialupcoming_text {
    position: absolute;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #fff !important;
    background-color: rgba(225, 71, 62, 0.9) !important;
    z-index: 1;
    right: 122px;
    text-transform: capitalize;
    padding: 15px 20px;
    height: 48px;
    top: 137px;
    letter-spacing: 2px;
    border-radius: 3px;
  }
}

@media only screen and (max-width: 1090px) {
  .users_sessions_new_section .socialupcoming_text {
    display: none;
  }
}



// -----------------------------
//   workings
// -----------------------------

// 1170px










