<div class="activity_inner_section">
  <div class="background_main">
    <section id="cd-timeline" class="cd-container">
      <% @activities.each do |activity| %>
        <ul style="list-style-type:none;">
          <li><%= render_activity activity %></li>
        </ul>
      <% end %>

      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-star">
          <i class="fa fa-star"></i>
        </div> 
        <div class="cd-timeline-content">
          <h2>Welcome to Spefz!</h2>
          <p>
            Hi <%= current_user.firstname %>! we are excited to welcome you to spefz! We are passionate about connecting people like you via experiences. Explore new socials & discussions, connect with like minded people and Discover new places. Get connected and re-discover your surroundings…
            </p>
          <span class="cd-date"><%= current_user.created_at.strftime("%B %d, %Y") %>  | <%= current_user.created_at.strftime("%I:%M %p") %></span><br/>
            <div class="cd-posted">The Spefz Team</div>
        </div>
      </div>
    </section> 
  </div>
</div>





