<div class="user_dashboard_admin_managements">
  <!-- upper_data_content -->
  <div class="medium-12 columns upper_data_content">
    <div class="medium-2 columns left_data responsive_data stats_tab_01">
      <div class="data_content">
        <div class="header"> jan 2017</div>
        <div class="header_data">
          <ul class="title">
            <li>att. male:</li>
            <li>att. female:</li>
            <li>total att:</li>
            <li>ticket (£):</li>
            <li>sales (£):</li>
            <li>venue cost (£):</li>
            <li>host count:</li>
            <li>host cost (£):</li>
            <li>VAT 20% (£):</li>
            <li>revenue (£):</li>
          </ul>
          <ul class="content">
            <li>20</li>
            <li>20</li>
            <li>40</li>
            <li>55.00</li>
            <li>2'200</li>
            <li>400</li>
            <li>1</li>
            <li>50.00</li>
            <li>440</li>
            <li>1'300</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_02">
      <div class="data_content">
        <div class="header"> Jan wk1</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-user-plus" aria-hidden="true"></i></span>
          <span>0</span>
          <div class="minor_info">£0.00/mth</div>
        </div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_03">
      <div class="data_content">
        <div class="header"> n/a</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-calendar" aria-hidden="true"></i></span><span>0</span></div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_04">
      <div class="data_content">
        <div class="header"> n/a</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-calendar" aria-hidden="true"></i></span><span>0</span></div>
      </div>
    </div>
    <div class="medium-2 columns middle_data responsive_data stats_tab_05">
      <div class="data_content">
        <div class="header"> n/a</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span><span>0</span></div>
      </div>
    </div>
    <div class="medium-2 columns right_data responsive_data stats_tab_06">
      <div class="data_content">
        <div class="header"> n/a</div>
        <div class="header_data"><span class="header_icon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span><span>0</span></div>
      </div>
    </div>
  </div>
  <div class="clear"></div>


  <div class="clear"></div>
</div>



